<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <img src="@/assets/logos/thunder.png" alt="end spe" width="100" height="90" align="left">
    <template v-if="entitylist.length != 0">
      <template v-if="entitylist.data.length != 1">
        <br><br>
        <br><br>
        <br><br>
        <br>
        <el-alert
          type="warning"
          title="Integrated mode !"
          description="The module is running in integrated mode. All data coming from another module cannot be modified and the correspondant fields are then disabled."
          :closable="false"
          show-icon
        />
      </template>
    </template>

    <tr>
      <td class="form_lines" style="width:20%">
        <h1 class="my_h1"> Electrical Info </h1>
      </td>
      <td class="form_lines" style="width:20%; text-align:right">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>

    <br>
    <template v-if="ProjectStatus.complexity_level === '1' || ProjectStatus.complexity_level === 1">
      <span style="font-weight:bold;font-size:20px"> This input page is not required for complexity 1 </span>

      <br>

      <el-button type='info'
                style="float:left"
                @click.prevent="changePage('Device_Info')"
      ><i class="el-icon-arrow-left"></i>Previous Page </el-button>

      <el-button
        type="info"
        style="float:right"
        @click.prevent="ProjectStatus.electrical_info_page = 'True';changePage('Run_Module')"
      >Next Page <i class="el-icon-arrow-right" /> </el-button>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2 || ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
          <template slot="title">
            <h2 class="h2_section">
              Electrical general info
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Annual Energy Produced :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.electrical_info.energy_produced" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True'" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span> [kWh] </span>
                </td>
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px">Colonisable surface area of the electrical components :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.electrical_info.Surface_Area_of_electrical_Part" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [m²] </span>
                </td>
              </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Footprint of the electrical installation :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.electrical_info.footprint" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True'" />
                  </td>
                  <td class="form_lines">
                    <span> [m²] </span>
                  </td>
                </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <el-collapse-item name="2">
          <template slot="title">
            <h2 class="h2_section">
              Installation info
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar2" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:130px">
                  <span style="font-weight:bold;font-size:15px"> Collection point(s) :</span>
                </td>
                <td class="form_lines">
                  <el-switch v-model="Project.inputs_ESA.electrical_info.substation"
                            active-text="Yes"
                            inactive-text="No"
                            :disabled="ProjectStatus.flag_url_ed_get_results == 'True'">
                  </el-switch>
                </td>
              </tr>
            </table>
          </ul>

          <template v-if="Project.inputs_ESA.electrical_info.substation === true">

            <h3> Collection point(s) location(s) </h3>
            <ul>
              <div class="v-cloak">
                {{ LON = Project.inputs_ESA.electrical_info.collection_points_coordinates_x }}
                {{ LAT = Project.inputs_ESA.electrical_info.collection_points_coordinates_y }}
              </div>
              <el-button type="info"
                        @click.prevent="addNewElement(LON, 1), addNewElement(LAT, 0)">
                Add Point
              </el-button>
              <br>
              <br>

              <table>
                <tbody>
                  <tr>
                    <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                    <td style="font-weight:bold;font-family:Open Sans"> Longitude </td>
                    <td style="font-weight:bold;font-family:Open Sans"> Latitude </td>
                  </tr>
                  <tr v-for="(lon, k) in LON" :key="k">
                    <td>
                      <el-button icon="el-icon-delete"
                                type="danger"
                                @click.prevent="deleteElement(k, LON), deleteElement(k, LAT)"
                                :disabled="ProjectStatus.flag_url_ed_get_results == 'True' && k<ProjectStatus.length_collection_point" />
                    </td>
                    <td>
                      <el-tooltip class="item" effect="dark" content="[ UTM ]" placement="top">
                        <el-input-number v-model="LON[k]" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True' && k<ProjectStatus.length_collection_point"/>
                      </el-tooltip>
                    </td>
                    <td>
                      <el-tooltip class="item" effect="dark" content="[ UTM ]" placement="top">
                        <el-input-number v-model="LAT[k]" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True' && k<ProjectStatus.length_collection_point"/>
                      </el-tooltip>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
            </ul>

            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px">Height :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.electrical_info.collection_points_dimensions.height" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True'" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span> [m] </span>
                  </td>
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px">Width :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.electrical_info.collection_points_dimensions.width" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True'" />
                  </td>
                  <td class="form_lines">
                    <span> [m] </span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Length :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.electrical_info.collection_points_dimensions.length" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True'"/>
                  </td>
                  <td class="form_lines">
                    <span> [m] </span>
                  </td>
                </tr>
              </table>
            </ul>
          </template>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:130px">
                  <span style="font-weight:bold;font-size:15px"> Burried <br> cables :</span>
                </td>
                <td class="form_lines">
                  <el-switch v-model="Project.inputs_ESA.electrical_info.Burial"
                            active-text="Yes"
                            inactive-text="No"
                            :disabled="ProjectStatus.flag_url_ed_get_results == 'True'">
                  </el-switch>
                </td>
              </tr>
            </table>
          </ul>
        </el-collapse-item>
        <hr>

        <el-collapse-item name="3">
          <template slot="title">
            <h2 class="h2_section">
              Fishing Restriction
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar3" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:130px">
                  <span style="font-weight:bold;font-size:15px">Fishery restriction surface around <br> cables :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.electrical_info.Fishery_Restriction_Surface_around_cables" style="width:175px" :controls="false" type="number" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span> [m²] </span>
                </td>
                <td class="form_lines" />
              </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
          <el-collapse-item name="4">
            <template slot="title">
              <h2 class="h2_section">
                Resources
              </h2>
            </template>

            <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar4" > Section Help </span>

            <h3> Used materials for electrical installation </h3>
            <ul>
              <el-checkbox-group v-model="used_materials_EI">
                <el-checkbox-button v-for="(item, index) in materials" :key="index" :label="materials_properties[index]" @change="SetValue()" :disabled="ProjectStatus.flag_url_ed_get_results == 'True' && Check_Imported_Material_ED_CP(materials_properties[index])"><span style="font-size:13px">{{ item }}</span></el-checkbox-button>
              </el-checkbox-group>
            </ul>
            <br>

            <template v-if="used_materials_EI.length != 0">
              <h3> Quantity of used materials for the project </h3>
              <div v-for="(mat, name, ind) in Project.inputs_ESA.electrical_info.materials" v-bind:key="(mat, name, ind)">
                <template v-if="used_materials_EI.includes(name)">
                  <ul>
                    <table style="width:900px;border:none">
                      <tr>
                        <td class="form_lines" style="width:130px">
                          <span style="font-style:italic;font-weight:bold;font-size:13px">{{ materials[materials_properties.indexOf(name)] }} :</span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="mat.value" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ed_get_results == 'True' && Check_Imported_Material_ED_CP(name)"/>
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span> [kg] </span>
                        </td>
                        <td class="form_lines" />
                      </tr>
                    </table>
                  </ul>
                </template>
              </div>
              <h3> Quantity of materials to recycle </h3>
              <div v-for="(mat2, name2, ind2) in Project.inputs_ESA.electrical_info.materials_to_recycle" v-bind:key="(mat2, name2, ind2)">
                <template v-if="used_materials_EI.includes(name2)">
                  <ul>
                    <table style="width:900px;border:none">
                      <tr>
                        <td class="form_lines" style="width:130px">
                          <span style="font-style:italic;font-weight:bold;font-size:13px">{{ materials[materials_properties.indexOf(name2)] }} :</span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="mat2.value" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span> [kg] </span>
                        </td>
                        <td class="form_lines" />
                      </tr>
                    </table>
                  </ul>
                </template>
              </div>
            </template>
            <template v-else>
              <h3> No material selected </h3>
            </template>
          </el-collapse-item>
          <hr>

          <el-collapse-item name="5">
            <template slot="title">
              <h2 class="h2_section">
                Environmental measurements
              </h2>
            </template>

            <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar5" > Section Help </span>

            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px">Measured Noise :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.electrical_info.measured_noise" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span> [dB re 1 μ Pa] </span>
                  </td>
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px">Measured Electric Field :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.electrical_info.Measured_Electric_Field" style="width:175pxà" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [V/m] </span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Measured Magnetic <br> Field :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.electrical_info.Measured_Magnetic_Field" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [µT] </span>
                  </td>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Measured Temperature :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.electrical_info.Measured_Temperature" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [°C] </span>
                  </td>
                </tr>
              </table>
            </ul>

          </el-collapse-item>
          <hr>
        </template>

      </el-collapse>

      <br>

      <el-button type='info'
                style="float:left;font-family:Open Sans"
                @click.prevent="changePage('Device_Info')"
      ><i class="el-icon-arrow-left"></i>Previous Page </el-button>

      <el-button type='info'
                style="float:right;font-family:Open Sans"
                @click.prevent="ProjectStatus.electrical_info_page = 'True';changePage('Logistics_Info')"
      >Next Page <i class="el-icon-arrow-right"></i> </el-button>
      <template v-if="GoToRunModule === true">
        <br><br><br>
        <el-button type='info'
                style="float:right;margin-left:25px;font-family:Open Sans"
                @click.prevent="ProjectStatus.electrical_info_page = 'True';changePage('Run_Module')">Run Module Page <i class="el-icon-arrow-right"></i> </el-button>
      </template>
    </template>
    <template v-else>
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
    </template>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      // is_collection_present: false,
      LON: [],
      LAT: [],
      materials: ['ABS','Unalloyed Steel','Low Alloyed Steel','Reinforcing Steel','Aluminium','Concrete','Brick','Copper','Fiberglass','Synthetic Fiber','Cast iron','Gravel','Brass','Magnesium','Kraft Paper','Alkyd Paint','Polybbutadiene','Polypropylene','PVC','Polyethylene','Epoxy Resin','Sand','Ceramic','Zinc'],
      materials_properties: ['ABS','unalloyed_steel','low_alloyed_steel','reinforcing_steel','aluminium','concrete','brick','copper','fiberglass','synthetic_fiber','cast_iron','gravel','brass','magnesium','kraft_paper','alkyd_paint','polybutadiene','polypropylene','PVC','polyethylene','epoxy_resin','sand','ceramic','zinc'],
      activeNames: []
    }
  },
  computed: {
    // Load the Project, ProjectStatus and used_materials_EI from the local storage
    // Define a getter and a setter for used_materials_EI
    ...mapState(['Project', 'ProjectStatus', 'used_materials_EI', 'GoToRunModule', 'Name', 'entitylist']),
      used_materials_EI: {
        get () {
          return this.$store.state.used_materials_EI
        },
        set (newValue) {
          return this.$store.dispatch('set_UMEI', newValue)
        }
      },
      Project: {
        get () {
          return this.$store.state.Project
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectAction', newValue)
        }
      },
      ProjectStatus: {
        get () {
          return this.$store.state.ProjectStatus
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectStatusAction', newValue)
        }
      }
  },
  beforeMount() {
    // Function executed before the appearance of the page
    // Set used_materials_EI to the appropriate value when project is loaded
    for (let i in this.Project.inputs_ESA.electrical_info.materials) {
      if (this.Project.inputs_ESA.electrical_info.materials[i].value > 0 || this.Project.inputs_ESA.electrical_info.materials_to_recycle[i].value > 0) {
        if (!(this.used_materials_EI.includes(i))) {
          this.used_materials_EI.push(i)
        }
      }
    }
    // if (this.Project.inputs_ESA.electrical_info.collection_points_dimensions.width != 0 || this.Project.inputs_ESA.electrical_info.collection_points_dimensions.height) {
    //   this.is_collection_present = true
    //   this.Project.inputs_ESA.electrical_info.substation = true
    // }
  },
  methods: {
    addNewElement(Variable) {
      // Add an element to Variable
      Variable.push(0)
    },
    deleteElement(index, Variable) {
      // Delete an element from Variable
      // This function is activated with the delete button present in the first column of the table
      if (index > -1) {
        Variable.splice(index, 1)
      }
    },
    changePage(pagename) {
      // Set the ProjectStatus.electrical_info_page variable to True
      // Go to the page named pagename
      this.$router.push({
        name: pagename
      })
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Electrical general info',
        message: '<h3> Annual Energy Produced </h3> <span>Enter the mean annual energy produced [kWh]</span>' +
          '<h3> Colonisable surface area of the electrical components </h3> <span>Enter the surface of colonisable part of electrical parts for biofouling [m²]. Information required to measure the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#reef-effect" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Reef effect</a></span>' +
          '<h3> Footprint of the electrical installation </h3> <span>Enter surface of habitat modification [m²]. Information required to run the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#footprint" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Footprint assessment</a></span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Installation Info',
        message: '<h3> Collection point(s) location(s) </h3> <span>Enter position of collection point(s) [UTM]</span>' +
          '<h3> Height </h3> <span>Collection point height above soil [m]]</span>' +
          '<h3> Width </h3> <span>Width [m]</span>' +
          '<h3> Length </h3> <span>Length [m]</span>' +
          '<h3> Wet Area </h3> <span>Total surface below water available for colonisation [m²]</span>' +
          '<h3> Dry Area </h3> <span>Total surface above water [m²]</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar3() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Fishing Restriction',
        message: '<h3> Fishery restriction surface around cables </h3> <span>Fishery restriction surface around devices </h3> Enter surface around electrical parts that will be close to fisheries [m²], required information to assess <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#reserve-effect" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> reserve effect </a></span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar4() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Resources',
        message: '<h3> Used materials for electrical installation </h3> <span>Quantity of materials used in electrical parts. Select and enter quantity [kg] of the different materials used and brought back to land to by recycled. Information required to run the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/cfp_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Carbon Footprint assessment</a></span>' ,
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar5() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Environmental measurements',
        message: '<h3> Measured Noise </h3> <span>Measured noise around electrical parts, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#underwater-noise" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> underwater noise</a> due to MRE devices in operation phase</span>' +
        '<h3> Measured Electric Field </h3> <span>Measured electrical fields around cables, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#electro-magnetic-fields" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> electrical fields</a> due to MRE devices in operation phase</span>' +
        '<h3> Measured Magnetic Field </h3> <span>Measured magnetic fields around cables, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#electro-magnetic-fields" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> magnetic fields</a> due to MRE devices in operation phase</span>' +
        '<h3> Measured Temperature </h3> <span>Measured temperature around cables, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#temperature-modification" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> temperature</a> due to MRE devices in operation phase</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    SetValue() {
      for (var i=0; i<this.materials_properties.length; i++) {
        if (!(this.used_materials_EI.includes(this.materials_properties[i]))) {
          this.Project.inputs_ESA.electrical_info.materials[this.materials_properties[i]].value = 0
          this.Project.inputs_ESA.electrical_info.materials_to_recycle[this.materials_properties[i]].value = 0
        }
      }
    },
    Check_Imported_Material_ED_CP(name) {
      for (let ii=0; ii<this.Project.url_ed_get_results.collection_point_dict.length; ii++) {
        for (let i=0; i<this.Project.url_ed_get_results.collection_point_dict[ii]["materials"].length; i++) {
          if (this.Project.url_ed_get_results.collection_point_dict[ii]["materials"][i]["material_name"] == name) {
            return true
          }
        }
      }
      if (this.Project.inputs_ESA.electrical_info.Initial_material_list.includes(name)) {
        return true
      }
      return false
    }
  }
}
</script>

<style lang="scss">

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.h2_section {
  user-select: none;
  font-size: 25px
}

table {
  border-collapse: collapse;
  border: 1.5px solid #444444;
  border-radius: 3px;
  background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1.5px solid #444444;
  text-align: center;
}

  th.active {
    color: #0400ff;
  }

    th.active .arrow {
      opacity: 1;
    }

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>
