<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <img src="@/assets/logos/Farm_Info_logo.jpg" alt="end spe" width="120" height="100" align="left">
    <template v-if="entitylist.length != 0">
      <template v-if="entitylist.data.length != 1">
        <br><br>
        <br><br>
        <br><br>
        <br>
        <el-alert
          type="warning"
          title="Integrated mode !"
          description="The module is running in integrated mode. All data coming from another module cannot be modified and the correspondant fields are then disabled."
          :closable="false"
          show-icon
        />
      </template>
    </template>

    <tr>
      <td class="form_lines" style="width:20%">
        <h1 class="my_h1">  Farm Info </h1>
      </td>
      <td class="form_lines" style="width:20%; text-align:right">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>

    <template v-if="ProjectStatus.complexity_level === '1' || ProjectStatus.complexity_level === 1">
      <br>
      <h2 class="h2_section">
        Farm general info
      </h2>

      <ul>
        <table style="width:900px;border:none">
          <tr>
            <td class="form_lines" style="width:154px">
              <span style="font-weight:bold;font-size:15px">Coordinate of <br> the farm : </span>
            </td>
            <td class="form_lines" style="width:210px">
              <span style="margin-left:45px"> Latitude [DD] </span>
              <br>
              <el-input-number v-model="Project.inputs_ESA.farm_info.Coordinates_of_the_farm_x" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_point == 'True'" />
            </td>
            <td class="form_lines" style="width:210px">
              <span style="margin-left:45px"> Longitude [DD] </span>
              <br>
              <el-input-number v-model="Project.inputs_ESA.farm_info.Coordinates_of_the_farm_y" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_point == 'True'" />
            </td>
            <td class="form_lines" style="width:355px" />
          </tr>
        </table>
      </ul>

      <h2 class="h2_section">
        Protected Species
      </h2>
      
      <el-alert
        type="info"
        title="Optional Inputs !"
        description="The inputs about the protected species are optional since the module already include a default database."
        :closable="false"
        show-icon
      />

      <div class="v-cloak">
        {{ PS = Project.inputs_ESA.farm_info.protected_species }}
      </div>

      <ul>
        <h3 style="font-style: italic"> Information about the protected species </h3>
        <el-button
          type="info"
          @click.prevent="addNewRow"
        >
          Add Specie
        </el-button>
        <br>
        <br>

        <table>
          <tbody>
            <tr>
              <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
              <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Name </td>
              <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Class </td>
            </tr>
            <tr v-for="(ps, k) in PS" :key="k">
              <td scope="row">
                <el-button
                  icon="el-icon-delete"
                  type="danger"
                  @click.prevent="deleteRow(k, ps, PS)"
                  :disabled="ProjectStatus.flag_url_sc_get_farm == 'True' && k<Project.inputs_ESA.farm_info.protected_species_length"
                />
              </td>
              <td>
                <el-input v-model="ps.name" type="text" step="any" style="width:250px" placeholder="Name of the specie in latin" 
                      :disabled="ProjectStatus.flag_url_sc_get_farm == 'True' && k<Project.inputs_ESA.farm_info.protected_species_length" />
              </td>
              <td>
                <el-select v-model="ps.Class">
                  <el-option value="Actinopterygii" style="font-size:15px"> Actinopterygii </el-option>
                  <el-option value="Aves" style="font-size:15px"> Aves </el-option>
                  <el-option value="Chondrichtyes" style="font-size:15px"> Chondrichtyes </el-option>
                  <el-option value="Mammals" style="font-size:15px"> Mammals </el-option>
                  <el-option value="Reptilia" style="font-size:15px"> Reptilia </el-option>
                </el-select>
              </td>
            </tr>
          </tbody>
        </table>
      </ul>

      <br>

      <el-button
        type="info"
        style="float:left;font-family:Open Sans"
        @click.prevent="changePage('ESAHome')"
      ><i class="el-icon-arrow-left" />Previous Page </el-button>

      <el-button
        type="info"
        style="float:right;font-family:Open Sans"
        @click.prevent="ProjectStatus.farm_info_page = 'True';changePage('Run_Module')"
      >Next Page <i class="el-icon-arrow-right;font-family:Open Sans" /> </el-button>

    </template>

    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2 || ProjectStatus.complexity_level === '3'|| ProjectStatus.complexity_level === 3">

      <br>

      <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
          <template slot="title">
            <h2 class="h2_section">
              Farm general info
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:154px">
                  <span style="font-weight:bold;font-size:15px">Coordinate of <br> the farm : </span>
                </td>
                <td class="form_lines" style="width:210px">
                  <span style="margin-left:45px"> Latitude [DD] </span>
                  <br>
                  <el-input-number v-model="Project.inputs_ESA.farm_info.Coordinates_of_the_farm_x" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_point == 'True'" />
                </td>
                <td class="form_lines" style="width:210px">
                  <span style="margin-left:45px"> Longitude [DD] </span>
                  <br>
                  <el-input-number v-model="Project.inputs_ESA.farm_info.Coordinates_of_the_farm_y" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_point == 'True'" />
                </td>
                <td class="form_lines" style="width:355px" />
              </tr>
            </table>
            <table style="width:850px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Project <br> Lifetime : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.farm_info.project_lifetime" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_results == 'True'" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span> [years] </span>
                </td>
                <td class="form_lines" style="width:425px" />
              </tr>
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Levelized Cost <br> Of Energy : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.farm_info.lcoe" style="width:175px" :controls="false" type="number" />
                </td>
                <td class="form_lines">
                  <span style="position:relative;top:2px"> [€/kWh] </span>
                </td>
              </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <el-collapse-item name="2">
          <template slot="title">
            <h2 class="h2_section">
              Area Description
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar2" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Zone type : </span>
                </td>
                <td class="form_lines">
                  <el-radio-group v-model="Project.inputs_ESA.farm_info.zone_type">
                    <el-radio label="open water"> Open Water </el-radio>
                    <el-radio label="sea loch entrance"> Sea Loch Entrance </el-radio>
                    <el-radio label="sounds"> Sounds </el-radio>
                  </el-radio-group>
                </td>
                <td class="form_lines" style="width:200px" />
              </tr>
            </table>
          </ul>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Water Depth : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.farm_info.water_depth[0]" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_farm == 'True'" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span> [m] </span>
                </td>
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px">Current Direction : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.farm_info.current_direction" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_farm == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [°] </span>
                </td>
              </tr>
              <tr>
                <td class="form_lines">
                  <span style="font-weight:bold;font-size:15px">Total Surface Area : </span>
                </td>
                <td class="form_lines">
                  <el-input-number v-model="Project.inputs_ESA.farm_info.total_surface_area" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_farm == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [m²] </span>
                </td>
                <td class="form_lines">
                  <span style="font-weight:bold;font-size:15px">Soil Type : </span>
                </td>
                <td class="form_lines">
                  <el-select v-model="Project.inputs_ESA.farm_info.soil_type" style="width:175px" :disabled="ProjectStatus.flag_url_sc_get_farm == 'True'">
                    <el-option value="Very soft clay" label="Very Soft Clay" style="font-size:15px"> Very Soft Clay </el-option>
                    <el-option value="Soft clay" label="Soft Clay" style="font-size:15px"> Soft Clay </el-option>
                    <el-option value="Firm clay" label="Firm Clay" style="font-size:15px"> Firm Clay </el-option>
                    <el-option value="Stiff clay" label="Stiff Clay" style="font-size:15px"> Stiff Clay </el-option>
                    <el-option value="Very stiff_clay" label="Very Stiff Clay" style="font-size:15px"> Very Stiff Clay </el-option>
                    <el-option value="Hard clay" label="Hard Clay" style="font-size:15px"> Hard Clay </el-option>
                    <el-option value="Very loose_sand" label="Very Loose Sand" style="font-size:15px"> Very Loose Sand </el-option>
                    <el-option value="Loose sand" label="Loose Sand" style="font-size:15px"> Loose Sand </el-option>
                    <el-option value="Medium dense sand" label="Medium Dense Sand" style="font-size:15px"> Medium Dense Sand </el-option>
                    <el-option value="Dense sand" label="Dense Sand" style="font-size:15px"> Dense Sand </el-option>
                    <el-option value="Very dense sand" label="Very Dense Sand" style="font-size:15px"> Very Dense Sand </el-option>
                    <el-option value="Gravels pebbles" label="Gravels Pebbles" style="font-size:15px"> Gravels Pebbles </el-option>
                    <el-option value="none" label="No Data" style="font-size:15px"> No Data </el-option>
                  </el-select>
                </td>
              </tr>
            </table>
          </ul>
        </el-collapse-item>
        <hr>

        <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
          <el-collapse-item name="3">
            <template slot="title">
              <h2 class="h2_section">
                Initial State
              </h2>
            </template>
            
            <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar3" > Section Help </span>

            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px">Turbidity : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.farm_info.Initial_Turbidity" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span> [mg/L] </span>
                  </td>
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px">Noise : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.farm_info.Initial_Noise_dB_re_1muPa" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [dB re 1 μ Pa] </span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Electrical Field : </span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.farm_info.Initial_Electric_Field" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [V/m] </span>
                  </td>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Magnetic Field : </span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.farm_info.Initial_Magnetic_Field" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [µT] </span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Temperature :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.farm_info.Initial_Temperature" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [°C] </span>
                  </td>
                </tr>
              </table>
            </ul>

          </el-collapse-item>
          <hr>
        </template>

        <el-collapse-item name="4">
          <template slot="title">
            <h2 class="h2_section">
              Fishing Regulation
            </h2>
          </template>
            
          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar4" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Fishing Regulation : </span>
                </td>
                <td class="form_lines">
                  <el-radio-group v-model="Project.inputs_ESA.farm_info.Fisheries">
                    <el-radio label="Complete prohibition"> Complete Prohibition </el-radio>
                    <el-radio label="Cast net fising"> Cast Net Fishing </el-radio>
                    <el-radio label="Trawler fishing"> Trawler Fishing </el-radio>
                    <el-radio label="no restriction"> No Restriction </el-radio>
                  </el-radio-group>
                </td>
              </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <el-collapse-item name="5">
          <template slot="title">
            <h2 class="h2_section">
              Protected Species
            </h2>
          </template>
            
          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar5" > Section Help </span>
      
          <el-alert
            type="info"
            title="Optional Inputs !"
            description="The inputs about the protected species are optional since the module already include a default database."
            :closable="false"
            show-icon
          />

          <div class="v-cloak">
            {{ PS = Project.inputs_ESA.farm_info.protected_species }}
          </div>

          <ul>
            <h3> Information about the protected species </h3>
            <el-button
              type="info"
              @click.prevent="addNewRow"
            >
              Add Specie
            </el-button>
            <br>
            <br>

            <table>
              <tbody>
                <tr>
                  <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                  <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Name </td>
                  <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Class </td>
                </tr>
                <tr v-for="(ps, k) in PS" :key="k">
                  <td scope="row">
                    <el-button
                      icon="el-icon-delete"
                      type="danger"
                      @click.prevent="deleteRow(k, ps, PS)"
                      :disabled="ProjectStatus.flag_url_sc_get_farm == 'True' && k<Project.inputs_ESA.farm_info.protected_species_length"
                      style="font-family:Open Sans"
                    />
                  </td>
                  <td>
                    <el-input v-model="ps.name" type="text" step="any" style="width:250px" placeholder="Name of the specie in latin" :disabled="ProjectStatus.flag_url_sc_get_farm == 'True' && k<Project.inputs_ESA.farm_info.protected_species_length" />
                  </td>
                  <td>
                    <el-select v-model="ps.Class">
                      <el-option value="Actinopterygii" style="font-size:15px"> Actinopterygii </el-option>
                      <el-option value="Aves" style="font-size:15px"> Aves </el-option>
                      <el-option value="Chondrichtyes" style="font-size:15px"> Chondrichtyes </el-option>
                      <el-option value="Mammals" style="font-size:15px"> Mammals </el-option>
                      <el-option value="Reptilia" style="font-size:15px"> Reptilia </el-option>
                    </el-select>
                  </td>
                </tr>
              </tbody>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <el-collapse-item name="6">
          <template slot="title">
            <h2 class="h2_section">
              Receptors
            </h2>
          </template>
            
          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar6" > Section Help </span>


          <ul>
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[0] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Hard_substrate_benthic_habitat" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Hard_substrate_benthic_habitat[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[0]" @change="commitProjectfromSwitch(0)"><span style="font-weight:bold;font-size:15px"> Hard Substrate Benthic Habitat : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[0] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Hard_substrate_benthic_habitat[index+1]" :label="month" @change="CommitProject(0)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>

            <div class="v-cloak">
              <template v-if="switch_farm_info_page[1] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Soft_substrate_benthic_habitat" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Soft_substrate_benthic_habitat[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[1]" @change="commitProjectfromSwitch(1)"><span style="font-weight:bold;font-size:15px"> Soft Substrate Benthic Habitat : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[1] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Soft_substrate_benthic_habitat[index+1]" :label="month" @change="CommitProject(1)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>

            <div class="v-cloak">
              <template v-if="switch_farm_info_page[2] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Particular_habitat" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Particular_habitat[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[2]" @change="commitProjectfromSwitch(2)"><span style="font-weight:bold;font-size:15px"> Particular Habitat : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[2] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Particular_habitat[index+1]" :label="month" @change="CommitProject(2)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>

            <div class="v-cloak">
              <template v-if="switch_farm_info_page[3] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Shallow_diving_birds" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Shallow_diving_birds[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[3]" @change="commitProjectfromSwitch(3)"><span style="font-weight:bold;font-size:15px"> Shallow Diving Birds : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[3] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Shallow_diving_birds[index+1]" :label="month" @change="CommitProject(3)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[4] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Medium_diving_birds" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Medium_diving_birds[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[4]" @change="commitProjectfromSwitch(4)"><span style="font-weight:bold;font-size:15px"> Medium Diving Birds : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[4] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Medium_diving_birds[index+1]" :label="month" @change="CommitProject(4)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>

            <div class="v-cloak">
              <template v-if="switch_farm_info_page[5] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Deep_diving_birds" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Deep_diving_birds[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[5]" @change="commitProjectfromSwitch(5)"><span style="font-weight:bold;font-size:15px"> Deep Diving Birds : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[5] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Deep_diving_birds[index+1]" :label="month" @change="CommitProject(5)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[6] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Large_odontocete_Mysticete" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Large_odontocete_Mysticete[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[6]" @change="commitProjectfromSwitch(6)"><span style="font-weight:bold;font-size:15px"> Large Odontocete Mysticetes : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[6] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Large_odontocete_Mysticete[index+1]" :label="month" @change="CommitProject(6)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[7] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Odontoncete_dolphinds" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Odontoncete_dolphinds[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[7]" @change="commitProjectfromSwitch(7)"><span style="font-weight:bold;font-size:15px"> Odontoncete Dolphinds : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[7] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Odontoncete_dolphinds[index+1]" :label="month" @change="CommitProject(7)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[8] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Seals" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Seals[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[8]" @change="commitProjectfromSwitch(8)"><span style="font-weight:bold;font-size:15px"> Seals : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[8] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Seals[index+1]" :label="month" @change="CommitProject(8)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[9] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Fishes" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Fishes[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[9]" @change="commitProjectfromSwitch(9)"><span style="font-weight:bold;font-size:15px"> Fishes : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[9] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Fishes[index+1]" :label="month" @change="CommitProject(9)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[10] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Bony_fishes" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Bony_fishes[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[10]" @change="commitProjectfromSwitch(10)"><span style="font-weight:bold;font-size:15px"> Bony Fishes : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[10] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Bony_fishes[index+1]" :label="month" @change="CommitProject(10)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[11] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Magnetosensitive_species" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Magnetosensitive_species[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[11]" @change="commitProjectfromSwitch(11)"><span style="font-weight:bold;font-size:15px"> Magnetosensitive Species : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[11] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Magnetosensitive_species[index+1]" :label="month" @change="CommitProject(11)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[12] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Electrosensitive_species" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Electrosensitive_species[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[12]" @change="commitProjectfromSwitch(12)"><span style="font-weight:bold;font-size:15px"> Electrosensitive Species : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[12] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Electrosensitive_species[index+1]" :label="month" @change="CommitProject(12)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
            
            <div class="v-cloak">
              <template v-if="switch_farm_info_page[13] !== true">
                <div v-for="(item,index) in Project.inputs_ESA.farm_info.receptors.Elasmobranchs" :key="(item,index)">
                  <template v-if="index >0">
                    {{ Project.inputs_ESA.farm_info.receptors.Elasmobranchs[index] = '' }}
                  </template>
                </div>
              </template>
            </div>
            <el-checkbox v-model="switch_farm_info_page[13]" @change="commitProjectfromSwitch(13)"><span style="font-weight:bold;font-size:15px"> Elasmobranchs : </span></el-checkbox>
            <br>
            <br>
            <ul>
              <template v-if="switch_farm_info_page[13] === true">
                <el-checkbox-button v-for="(month,index) in year" :key="index" v-model="Project.inputs_ESA.farm_info.receptors.Elasmobranchs[index+1]" :label="month" @change="CommitProject(13)"><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
              <template v-else>
                <el-checkbox-button v-for="(month,index) in year" :key="index" :label="month" disabled><span style="font-size:15px">{{ month }}</span></el-checkbox-button>
              </template>
            </ul>
            <br>
          </ul>

        </el-collapse-item>
        <hr>
      </el-collapse>

      <br>

      <el-button
        type="info"
        style="float:left;font-family:Open Sans"
        @click.prevent="changePage('ESAHome')"
      ><i class="el-icon-arrow-left" />Previous Page </el-button>

      <el-button
        type="info"
        style="float:right;font-family:Open Sans"
        @click.prevent="ProjectStatus.farm_info_page = 'True';changePage('Device_Info')"
      >Next Page <i class="el-icon-arrow-right" /> </el-button>

      <template v-if="GoToRunModule === true">
        <br><br><br>
        <el-button type='info'
                style="float:right;margin-left:25px;font-family:Open Sans"
                @click.prevent="ProjectStatus.farm_info_page = 'True';changePage('Run_Module')">Run Module Page <i class="el-icon-arrow-right"></i> </el-button>
      </template>

    </template>

    <template v-else>
      <br>
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
    </template>

    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      activeNames: [],
      PS: [],
      year: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      names: ['Hard_substrate_benthic_habitat','Soft_substrate_benthic_habitat','Particular_habitat','Shallow_diving_birds','Medium_diving_birds','Deep_diving_birds','Large_odontocete_Mysticete','Odontoncete_dolphinds','Seals','Fishes','Bony_fishes','Magnetosensitive_species','Electrosensitive_species','Elasmobranchs'],
      dialogFormVisible: false,
      project_id: '',
      study_id: ''
    }
  },
  computed: {
    // Load the Project, ProjectStatus and switch_farm_info_page from the local storage
    ...mapState(['Project', 'ProjectStatus', 'switch_farm_info_page', 'GoToRunModule', 'Name', 'OMTest','entitylist']),
      Project: {
        get () {
          return this.$store.state.Project
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectAction', newValue)
        }
      },
      ProjectStatus: {
        get () {
          return this.$store.state.ProjectStatus
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectStatusAction', newValue)
        }
      },
      Name: {
        get () {
          return this.$store.state.Name
        },
        set (newValue) {
          return this.$store.dispatch('set_NameAction', newValue)
        }
      },
      OMTest: {
        get () {
          return this.$store.state.OMTest
        },
        set (newValue) {
          return this.$store.dispatch('set_OMTestAction', newValue)
        }
      },
      entitylist: {
        get () {
          return this.$store.state.entitylist
        },
        set (newValue) {
          return this.$store.dispatch('set_entitylistAction', newValue)
        }
      }
  },
  beforeMount() {
    this.Project.run_mode = 'standalone'
    if(this.$route.query.EntityId!=null) {
      this.load_entity(this.$route.query.EntityId)
    }
    // Read the Project structure to set switches to the appropriate value
    // Only usefull when project is loaded
    for (let i=0;i<this.names.length;i++) {
      if (this.Project.inputs_ESA.farm_info.receptors[this.names[i]][0] === 'True') { this.switch_farm_info_page[i] = true }
    }
    this.Project.name = this.Name
  },
  async mounted() {
    if(this.$route.query.EntityId!=null && this.OMTest == false) {
      const loading = this.$loading({
        lock: true,
        text: 'Loading...',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      this.Project.run_mode = 'dto'
      await this.get_info()
      
      setTimeout(() => {
        if (this.entitylist.data.length != 1) {
          this.get_data()
        } else {
          loading.close();
        }
      }, 2000);
      
      setTimeout(() => {
        if (this.entitylist.data.length != 1) {
          const payload0 = {
            description: this.Description,
            farm_info_page: this.ProjectStatus.farm_info_page,
            device_info_page: this.ProjectStatus.device_info_page,
            electrical_info_page: this.ProjectStatus.electrical_info_page,
            logistics_info_page: this.ProjectStatus.logistics_info_page,
            complexity_level: this.ProjectStatus.complexity_level,
            flag_url_sc_get_farm: this.ProjectStatus.flag_url_sc_get_farm,
            flag_url_sc_get_current: this.ProjectStatus.flag_url_sc_get_current,
            flag_url_sc_get_point: this.ProjectStatus.flag_url_sc_get_point,
            flag_url_ec_get_farm: this.ProjectStatus.flag_url_ec_get_farm,
            flag_url_ec_get_project: this.ProjectStatus.flag_url_ec_get_project,
            flag_url_mc_dimensions: this.ProjectStatus.flag_url_mc_dimensions,
            flag_url_mc_general: this.ProjectStatus.flag_url_mc_general,
            flag_url_ed_get_results: this.ProjectStatus.flag_url_ed_get_results,
            flag_url_et_array: this.ProjectStatus.flag_url_et_array,
            flag_url_sk_get_env_impact: this.ProjectStatus.flag_url_sk_get_env_impact,
            flag_url_lmo_results: this.ProjectStatus.flag_url_lmo_results,
            flag_url_lmo_catalogue: this.ProjectStatus.flag_url_lmo_catalogue,
            flag_url_ed_catalogue_static_cable: this.ProjectStatus.flag_url_ed_catalogue_static_cable,
            flag_url_ed_catalogue_dynamic_cable: this.ProjectStatus.flag_url_ed_catalogue_dynamic_cable,
            flag_url_ed_catalogue_collection_point: this.ProjectStatus.flag_url_ed_catalogue_collection_point,
            entity_id: this.$route.query.EntityId,
            length_collection_point: this.ProjectStatus.length_collection_point
          }
          this.saveStatus(payload0, this.Name)
          // this.convert_mc_names()
        }
      }, 18000);

      setTimeout(() => {
        if (this.entitylist.data.length != 1) {
          const payload = {
              name: this.Name,
              description: this.Description,
              inputs_ESA: this.Project.inputs_ESA,
              run_mode: 'dto',
              url_sc_get_farm: this.Project.url_sc_get_farm,
              url_sc_get_current: this.Project.url_sc_get_current,
              url_ec_get_farm: this.Project.url_ec_get_farm,
              url_sc_get_point: this.Project.url_sc_get_point,
              url_ec_get_project: this.Project.url_ec_get_project,
              url_et_array: this.Project.url_et_array,
              url_mc_dimensions: this.Project.url_mc_dimensions,
              url_mc_general: this.Project.url_mc_general,
              url_ed_get_results: this.Project.url_ed_get_results,
              url_sk_get_env_impact: this.Project.url_sk_get_env_impact,
              url_lmo_results: this.Project.url_lmo_results,
              url_lmo_catalogue: this.Project.url_lmo_catalogue,
              url_ed_catalogue_static_cable: this.Project.url_ed_catalogue_static_cable,
              url_ed_catalogue_dynamic_cable: this.Project.url_ed_catalogue_dynamic_cable,
              url_ed_catalogue_collection_point: this.Project.url_ed_catalogue_collection_point
          }
          const my_name = this.Name + '_' + this.ProjectStatus.entity_id
          this.saveProject(payload, my_name)
        }
      }, 25000);

      setTimeout(() => {
        if (this.entitylist.data.length != 1) {
          this.load_inputs()
          // this.OMTest = true
          // this.Project.run_mode = 'standalone'
        }
      }, 37000);

      setTimeout(() => {
        if (this.entitylist.data.length != 1) {
          loading.close();
          console.log(this.Project.inputs_ESA.farm_info.protected_species_length)
        }
      }, 40000);
    }
  },
  methods: {
    commitProjectfromSwitch(index) {
      // Save changes of switches into the local storage each time the user change the value
      // Call commit function set_SwitchFarmInfoPage described into */store/index.js
      this.$store.commit('set_SwitchFarmInfoPage', this.switch_farm_info_page)
      if (this.switch_farm_info_page[index] === true) {
        this.Project.inputs_ESA.farm_info.receptors[this.names[index]][0] = true
      } else {
        this.Project.inputs_ESA.farm_info.receptors[this.names[index]][0] = ''
      }
    },
    CommitProject(index) {
      for (let i=0;i<14;i++) {
        if (this.Project.inputs_ESA.farm_info.receptors[this.names[index]][i] === false) {
          this.Project.inputs_ESA.farm_info.receptors[this.names[index]][i] = ''
        }
      }
    },
    addNewRow() {
      // Add a new line to the Protected Species table
      // By adding new value to PS variable (see push javascript function)
      this.PS.push({
        name: '',
        probability_of_presence: 0,
        Class: ''
      })
    },
    deleteRow(index, variable, Variable) {
      // Delete the selected line from the Protected Species table
      // This function is activated with the delete button present in the first column of the table
      var idx = Variable.indexOf(variable)
      if (idx > -1) {
        Variable.splice(idx, 1)
      }
    },
    changePage(pagename) {
      // Go to the page named pagename
      this.$router.push({
        name: pagename
      })
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Farm General Info',
        message: '<h3> Coordinate of the Farm </h3> <span>Longitude and latitude in degre decimal, needed for the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/es_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Endangered Species assessment</a>.</span>' +
          '<h3> Project Lifetime </h3> <span>Duration of the total lifecycle of the project in years, needed for the assessment of the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/cfp_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> Energy Payback Period</a>.</span>' +
          '<h3> Levelized Cost of Energy </h3> <span>Cost of a unit of energy in €/kWh, needed for the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/sa_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Cost of consenting</a>.</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Area Description',
        message: '<h3> Zone Type </h3> <span>Optional information that helps to precise the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#collision-risk" target="_blank" style="cursor:pointer; font-size:15px; color:blue">collision risk</a>  with the devices.</span>' +
          '<h3> Water Depth </h3> <span>Minimum depth of the area, needed information to precise the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#collision-risk" target="_blank" style="cursor:pointer; font-size:15px; color:blue">collision risk </a> with the devices.</span>' +
          '<h3> Current Direction </h3> <span>Angle of the strongest current in the area, needed information to precise the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#collision-risk" target="_blank" style="cursor:pointer; font-size:15px; color:blue">collision risk</a>  with the devices.</span>' +
          '<h3> Total Surface Area </h3> <span>Area of the farm, used to evaluate several <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/eia_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue">environmental impacts</a>.</span>' +
          '<h3> Soil Type </h3> <span>Main soil type in the aera of the farm, Optional information that helps to evaluate the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#energy-modification" target="_blank" style="cursor:pointer; font-size:15px; color:blue">ressource reduction </a> by the devices.</span>',
        duration: 0,
        position: 'top-right'
      })
    }, 
    async openSidebar3() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Initial State',
        message: '<h3> Turbidity </h3> <span>Initial measurement on site, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#turbidity" target="_blank" style="cursor:pointer; font-size:15px; color:blue">turbidity</a> due to MRE devices installation</span>' +
          '<h3> Noise </h3> <span>Initial measurement on site, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#underwater-noise" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> underwater noise</a> due to MRE devices installation</span>' +
          '<h3> Electrical Field </h3> <span>Initial measurement on site, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#electro-magnetic-fields" target="_blank" style="cursor:pointer; font-size:15px; color:blue">electric fields</a> due to MRE devices installation</span>' +
          '<h3> Magnetic Field </h3> <span>Initial measurement on site, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#electro-magnetic-fields" target="_blank" style="cursor:pointer; font-size:15px; color:blue">magnetic fields</a> due to MRE devices installation</span>' +
          '<h3> Temperature Field </h3> <span>Initial measurement on site, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#temperature-modification" target="_blank" style="cursor:pointer; font-size:15px; color:blue">water temperature</a> due to MRE devices installation</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar4() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Fishing Regulation',
        message: '<h3> Fishing Regulation </h3> <span>Specify if there will be specific fishing regulation in the area of the farm, Optional information that helps to assess <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#reserve-effect" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> reserve effect </a>.</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar5() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Protected Species',
        message: '<h3> Information about the protected species </h3> <span>Specify if any endangered species have already been identified in the area of the farm, Optional information that helps to assess <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/es_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> endangered species </a>presence.</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar6() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Receptors',
        message: '<h3> Environmental receptors </h3> <span>If available, provide information on the seasonal presence of the different receptors listed. If seasonal presence is not specify, receptor will be considered present every months.</span>' +
        '<span>This information triggers step 2 of the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/eia_dto.html#step-2-receptor-evaluation" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> environmental impact assessment </a>.</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async load_entity(eid) {
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${eid}/Get_Entity_Name`
      await axios.get(path)
        .then((res) => {
          this.EntityName = res.data[0]
          this.Name = res.data[1]
        })
      axios.get(`${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/none/${this.EntityName}/loadinputs`)
        .then((response) => {
          this.Project = response.data[0]
          this.ProjectStatus = response.data[1]
        })
      axios.post(`${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/none/${this.EntityName}/loadoutputs`)
        .then((res) => {
          this.Results = res.data
        })
    },
    async get_info() {
      const path = `${DTOP_PROTOCOL}//mm.dtop.localhost/api/integration/modules/esa/entities/${this.$route.query.EntityId}`
      this.entitylist = await axios.get(path)
      this.project_id = this.entitylist.data[0].projectId
      this.study_id = this.entitylist.data[0].studyId
    },
    get_data() {
      for (let i=0; i<this.entitylist.data.length; i++) {
        if (this.entitylist.data[i].moduleId == 1) {
          const path_sc = `${DTOP_PROTOCOL}//mm.dtop.localhost/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/sc/entities`
          axios
          .get(path_sc)
          .then((res1) => {
            var path_to_call = `${DTOP_PROTOCOL}//sc.dtop.localhost/sc/` + res1.data[0].entityId + '/farm'
            axios
            .get(path_to_call)
            .then((resultats1) => {
              this.Project.url_sc_get_farm = resultats1
              this.ProjectStatus.flag_url_sc_get_farm = 'True'
            })
            var path_to_call2 = `${DTOP_PROTOCOL}//sc.dtop.localhost/sc/` + res1.data[0].entityId + '/point/time_series/currents'
            axios
            .get(path_to_call2)
            .then((resultats2) => {
              this.Project.url_sc_get_current = resultats2
              this.ProjectStatus.flag_url_sc_get_current = 'True'
            })
            var path_to_call2n = `${DTOP_PROTOCOL}//sc.dtop.localhost/sc/` + res1.data[0].entityId + '/point/direct_values/bathymetry'
            axios
            .get(path_to_call2n)
            .then((resultats2n) => {
              this.Project.url_sc_get_point = resultats2n
              this.ProjectStatus.flag_url_sc_get_point = 'True'
            })
          })
        } else if (this.entitylist.data[i].moduleId == 2) {
          const path_mc = `${DTOP_PROTOCOL}//mm.dtop.localhost/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/mc/entities`
          axios
          .get(path_mc)
          .then((res2) => {
            var path_to_call3 = `${DTOP_PROTOCOL}//mc.dtop.localhost/mc/` + res2.data[0].entityId + '/dimensions'
            axios
            .get(path_to_call3)
            .then((resultats3) => {
              this.Project.url_mc_dimensions = resultats3.data
              this.ProjectStatus.flag_url_mc_dimensions = 'True'
            })
            var path_to_call4 = `${DTOP_PROTOCOL}//mc.dtop.localhost/mc/` + res2.data[0].entityId + '/general'
            axios
            .get(path_to_call4)
            .then((resultats4) => {
              this.Project.url_mc_general = resultats4.data
              this.ProjectStatus.flag_url_mc_general = 'True'
            })
          })
        } else if (this.entitylist.data[i].moduleId == 3) {
          const path_ec = `${DTOP_PROTOCOL}//mm.dtop.localhost/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/ec/entities`
          axios
          .get(path_ec)
          .then((res3) => {
            var path_to_call5 = `${DTOP_PROTOCOL}//ec.dtop.localhost/ec/` + res3.data[0].entityId + '/farm'
            axios
            .get(path_to_call5)
            .then((resultats5) => {
              this.Project.url_ec_get_farm = resultats5.data
              this.ProjectStatus.flag_url_ec_get_farm = 'True'
            })
            var path_to_call6 = `${DTOP_PROTOCOL}//ec.dtop.localhost/ec/` + res3.data[0].entityId
            axios
            .get(path_to_call6)
            .then((resultats6) => {
              this.Project.url_ec_get_project = resultats6.data
              this.ProjectStatus.flag_url_ec_get_project = 'True'
            })
          })
        } else if (this.entitylist.data[i].moduleId == 4) {
          const path_et = `${DTOP_PROTOCOL}//mm.dtop.localhost/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/et/entities`
          axios
          .get(path_et)
          .then((res4) => {
            var path_to_call7 = `${DTOP_PROTOCOL}//et.dtop.localhost/energy_transf/` + res4.data[0].entityId + '/array'
            axios
            .get(path_to_call7)
            .then((resultats7) => {
              this.Project.url_et_array = resultats7.data
              this.ProjectStatus.flag_url_et_array = 'True'
            })
          })
        } else if (this.entitylist.data[i].moduleId == 5) {
          const path_ed = `${DTOP_PROTOCOL}//mm.dtop.localhost/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/ed/entities`
          axios
          .get(path_ed)
          .then((res5) => {
            var path_to_call8 = `${DTOP_PROTOCOL}//ed.dtop.localhost/api/energy-deliv-studies/` + res5.data[0].entityId + '/results/1'
            axios
            .get(path_to_call8)
            .then((resultats8) => {
              this.Project.url_ed_get_results = resultats8.data
              this.ProjectStatus.flag_url_ed_get_results = 'True'
              this.ProjectStatus.length_collection_point = this.Project.url_ed_get_results.collection_point_dict.length
            })
            var path_to_call81 = `${DTOP_PROTOCOL}//cm.dtop.localhost/api/static_cable`
            axios
            .get(path_to_call81)
            .then((resultats81) => {
              this.Project.url_ed_catalogue_static_cable = resultats81.data
              this.ProjectStatus.flag_url_ed_catalogue_static_cable = 'True'
            })
            var path_to_call82 = `${DTOP_PROTOCOL}//cm.dtop.localhost/api/dynamic_cable`
            axios
            .get(path_to_call82)
            .then((resultats82) => {
              this.Project.url_ed_catalogue_dynamic_cable = resultats82.data
              this.ProjectStatus.flag_url_ed_catalogue_dynamic_cable = 'True'
            })
            var path_to_call83 = `${DTOP_PROTOCOL}//cm.dtop.localhost/api/collection_point`
            axios
            .get(path_to_call83)
            .then((resultats83) => {
              this.Project.url_ed_catalogue_collection_point = resultats83.data
              this.ProjectStatus.flag_url_ed_catalogue_collection_point = 'True'
            })
          })
        } else if (this.entitylist.data[i].moduleId == 6) {
          const path_sk = `${DTOP_PROTOCOL}//mm.dtop.localhost/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/sk/entities`
          axios
          .get(path_sk)
          .then((res6) => {
            var path_to_call9 = `${DTOP_PROTOCOL}//sk.dtop.localhost/sk/` + res6.data[0].entityId + '/environmental_impact'
            axios
            .get(path_to_call9)
            .then((resultats9) => {
              this.Project.url_sk_get_env_impact = resultats9
              this.ProjectStatus.flag_url_sk_get_env_impact = 'True'
            })
          })
        } else if (this.entitylist.data[i].moduleId == 7) {
          const path_lmo = `${DTOP_PROTOCOL}//mm.dtop.localhost/api/integration/projects/${this.project_id}/studies/${this.study_id}/modules/lmo/entities`
          axios
          .get(path_lmo)
          .then((res7) => {
            var path_to_call10 = `${DTOP_PROTOCOL}//lmo.dtop.localhost/lmo/` + res7.data[0].entityId + '/phases'
            axios
            .get(path_to_call10)
            .then((resultats10) => {
              this.Project.url_lmo_results = resultats10.data
              this.ProjectStatus.flag_url_lmo_results = 'True'
            })
            var path_to_call11 = `${DTOP_PROTOCOL}//cm.dtop.localhost/api/vessels`
            axios
            .get(path_to_call11)
            .then((resultats11) => {
              this.Project.url_lmo_catalogue = resultats11.data
              this.ProjectStatus.flag_url_lmo_catalogue = 'True'
            })
          })
        }
      }
    },
    saveStatus(payload, name) {
      // Call the API POST method saveStatus which save the inputs structure into a json file
      // The API method is described in */service/api/postInputs/_init_.py
      // The file is saved in */storage
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/saveStatus`
      axios
        .post(path, payload)
        .then((res) => {
          this.ProjectStatus = res.data
        })
    },
    saveProject(payload, name) {
      // Call the API POST method inputs which save the inputs structure into a json file
      // The API method is described in */service/api/postInputs/_init_.py
      // The file is saved in */storage
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/inputs`
      axios
        .post(path, payload)
    },
    load_inputs() {
      const name = this.Name
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${this.$route.query.EntityId}/${name}/loadinputs`
      axios.get(path)
      .then((res) => {
        this.Project = res.data[0]
        this.ProjectStatus = res.data[1]
      })
    },
    convert_mc_names() {
      for (let i=0; i<this.Project.url_mc_general.materials.length; i++) {
        if (this.Project.url_mc_general.materials[i].material_name == 'abs'){
          this.Project.url_mc_general.materials[i].material_name = 'ABS'
        } else if (this.Project.url_mc_general.materials[i].material_name == 'low_unalloyed_steel') {
          this.Project.url_mc_general.materials[i].material_name = 'low_alloyed_steel'
        } else if (this.Project.url_mc_general.materials[i].material_name == 'steel') {
          this.Project.url_mc_general.materials[i].material_name = 'reinforcing_steel'
        } else if (this.Project.url_mc_general.materials[i].material_name == 'fibre') {
          this.Project.url_mc_general.materials[i].material_name = 'fiberglass'
        } else if (this.Project.url_mc_general.materials[i].material_name == 'HD') {
          this.Project.url_mc_general.materials[i].material_name = 'polyethylene'
        } else if (this.Project.url_mc_general.materials[i].material_name == 'granulate') {
          this.Project.url_mc_general.materials[i].material_name = 'polypropylene'
        }
      }
    }
  }
}
</script>

<style lang="scss">

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.h2_section {
    user-select: none;
      font-size: 25px
}

table {
    border-collapse: collapse;
    border: 1.5px solid #444444;
    border-radius: 3px;
    background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  padding: 10px 10px;
  border: 1.5px solid #444444;
  text-align: center;
}

th.active {
  color: #0400ff;
}

th.active .arrow {
  opacity: 1;
}

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>
