<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="dashboard-container">
    <div class="dashboard-text">
      <h1>Welcome to the Environmental and Social Acceptance module v1.0 </h1>
      This module assess the environmental and social impacts generated <br> by the various technology choices and array configurations of wave or tidal devices. 
      <br>
      <router-link to="/esahome"><img id="module_image" width="500px" src="@/assets/modules_images/ESA_module_2.jpg"></router-link>
      <br>
      <br>
      <img center id="dtoceanplus_logo" width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image">
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dashboard'
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 20px;
    line-height: 43px;
    text-align: center
  }
}

body { min-width: 1050px; }
</style>
