<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <ul>
        <table style="width:100%;border:none">
          <tr>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                disabled
              >
                <el-row>
                  <img src="@/assets/logos/sea-lion.png" width="35" height="30" align="left">
                  <span>Endangered <br> Species</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToEIA()"
              >
                <el-row>
                  <img src="@/assets/logos/green.png" width="35" height="30" align="left">
                  <span>Environmental <br> Impact Assessment</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToCF()"
              >
                <el-row>
                  <img src="@/assets/logos/recycling.png" width="30" height="28" align="center">
                  <span>Carbon Footprint</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToSA()"
              >
                <el-row>
                  <img src="@/assets/logos/job.png" width="30" height="28" align="center">
                  <span>Social Acceptance</span>
                </el-row>
              </el-button>
            </td>
          </tr>
        </table>
      </ul>
    </template>

    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2">
      <ul>
        <table style="width:100%;border:none">
          <tr>
            <td style="width:50%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                disabled
              >
                <el-row>
                  <img src="@/assets/logos/sea-lion.png" width="35" height="30" align="left">
                  <span>Endangered <br> Species</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:50%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToEIA()"
              >
                <el-row>
                  <img src="@/assets/logos/green.png" width="35" height="30" align="left">
                  <span>Environmental <br> Impact Assessment</span>
                </el-row>
              </el-button>
            </td>
          </tr>
        </table>
      </ul>
    </template>

    <br>
    <br>
    <img src="@/assets/logos/sea-lion.png" alt="end spe" width="110" height="100" align="left">

    <tr>
      <td style="width:20%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> Endangered Species </h1>
      </td>
      <td style="width:20%;background-color: white; border:none;text-align:right">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>
        <br>

    <br>
    <br>
    <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

    <br>
    <br>
    <el-alert
      type="warning"
      title="All marine birds and mammals are protected !"
      description="Mitigation measures should be considered even if no endangered species have been identified in the area."
      :closable="false"
      show-icon
    />
    <br>

    <template v-if="ProjectStatus.complexity_level == 0">
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
    </template>
    <template v-else-if="Results == false">
      <span style="font-weight:bold;font-size:20px"> No outputs for this project </span>
    </template>
    <template v-else>
      <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
          <template slot="title">
            <h2 class="h2_section">
              Aves
            </h2>
          </template>

          


          <template v-if="Results.endangered_species.aves.length === 0">
            <ul>
              <h3 style="color:#16a085 ;">No species identified</h3>
            </ul>
          </template>
          <template v-else>
            <ul>
              <h3 style="color:#16a085 ;">Species identified</h3>
              <ul>
                <div v-for="item in species_class1" :key="item">
                  <el-collapse>
                    <el-collapse-item v-model="item.name" :title="item.name">
                      <table style="border:none;width:100%">
                        <tr>
                          <td style="width:15%;border:none;background-color:white;text-align:left">
                            <span style="font-weight:bold">Common name</span>
                            <br>
                            <span style="font-weight:bold">Class</span>
                            <br>
                            <span style="font-weight:bold">Order</span>
                            <br>
                            <span style="font-weight:bold">Family</span>
                            <br>
                            <span style="font-weight:bold">IUCN status</span>
                            <br>
                            <span style="font-weight:bold">Probability of Presence</span>
                          </td>
                          <td style="width:10%;border:none;background-color:white;text-align:left">
                            <span style="font-style:italic">{{ item.Commun_name }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Class }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Order }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Family }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.IUCN_status }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Probability_of_presence }}</span>
                            <br>
                          </td>
                          <td style="width:60%;border:none;background-color:white">
                            <img v-if="item.name === 'Branta ruficollis'" src="@/assets/Species_images/Branta ruficollis.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Polysticta stelleri'" src="@/assets/Species_images/Polysticta stelleri.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Numenius tenuirostris'" src="@/assets/Species_images/Numenius tenuirostris.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Puffinus mauretanicus'" src="@/assets/Species_images/Puffinus mauretanicus.jpg" alt="end spe" height="100" align="right">
                          </td>
                        </tr>
                      </table>
                    </el-collapse-item>
                  </el-collapse>
                </div>
              </ul>
            </ul>
            <ul>
              <h3 style="color:#16a085">Recommendations on surveys</h3>
              <ul>
                <div v-for="task in surveys_1" :key="task">
                  <el-row> {{ task }}</el-row>
                </div>
              </ul>
            </ul>
            <br>
            
            <ul>
              <table style="width:80%;border:none">
                <tr>
                  <td style="width:20%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085"> Main associated risks </h3>
                  </td>
                  <td style="width:30%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085">Recommendations on mitigation measures</h3>
                  </td>
                </tr>
                <tr v-for="(task, index_t1) in risks_1" :key="index_t1">
                  <template v-if="index_t1 == risks_1.length-1">
                    <td style="width:20%;background-color:white;border:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_1[index_t1] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:20%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_1[index_t1] }} </span>
                    </td>
                  </template>
                  <template v-if="index_t1 == risks_1.length-1">
                    <td style="width:30%;background-color:white;border:none;text-align:left">
                      <span> {{ mitigation_1[index_t1] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:30%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span> {{ mitigation_1[index_t1] }} </span>
                    </td>
                  </template>
                </tr>
              </table>
            </ul>
          </template>

        </el-collapse-item>
        <hr>

        <br>
        <el-collapse-item name="2">
          <template slot="title">
            <h2 class="h2_section">
              Actinopterygii
            </h2>
          </template>

          <template v-if="Results.endangered_species.actinopterygii.length === 0">
            <ul>
              <h3 style="color:#16a085 ;">No species identified</h3>
            </ul>
          </template>
          <template v-else>
            <ul>
              <h3 style="color:#16a085 ;">Species identified</h3>
              <ul>
                <div v-for="item in species_class2" :key="item">
                  <el-collapse>
                    <el-collapse-item v-model="item.name" :title="item.name">
                      <table style="border:none;width:100%">
                        <tr>
                          <td style="width:15%;border:none;background-color:white;text-align:left">
                            <span style="font-weight:bold">Common name</span>
                            <br>
                            <span style="font-weight:bold">Class</span>
                            <br>
                            <span style="font-weight:bold">Order</span>
                            <br>
                            <span style="font-weight:bold">Family</span>
                            <br>
                            <span style="font-weight:bold">IUCN status</span>
                            <br>
                            <span style="font-weight:bold">Probability of Presence</span>
                          </td>
                          <td style="width:10%;border:none;background-color:white;text-align:left">
                            <span style="font-style:italic">{{ item.Commun_name }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Class }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Order }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Family }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.IUCN_status }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Probability_of_presence }}</span>
                            <br>
                          </td>
                          <td style="width:60%;border:none;background-color:white">
                            <img v-if="item.name === 'Acipenser sturio'" src="@/assets/Species_images/Acipenser sturio.jpg" alt="end spe" height="60" align="right">
                            <img v-else-if="item.name === 'Anguilla anguilla'" src="@/assets/Species_images/Anguilla anguilla.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Thynnus thunnus'" src="@/assets/Species_images/Thynnus thunnus.jpg" alt="end spe" height="100" align="right">
                          </td>
                        </tr>
                      </table>
                    </el-collapse-item>
                  </el-collapse>
                </div>
              </ul>
            </ul>
            <ul>
              <h3 style="color:#16a085">Recommendations on surveys</h3>
              <ul>
                <div v-for="task in surveys_2" :key="task">
                  <el-row> {{ task }}</el-row>
                </div>
              </ul>
            </ul>
            <br>
            <ul>
              <table style="width:80%;border:none">
                <tr>
                  <td style="width:20%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085"> Main associated risks </h3>
                  </td>
                  <td style="width:30%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085">Recommendations on mitigation measures</h3>
                  </td>
                </tr>
                <tr v-for="(task, index_t2) in risks_2" :key="index_t2">
                  <template v-if="index_t2 == risks_2.length-1">
                    <td style="width:20%;background-color:white;border:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_2[index_t2] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:20%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_2[index_t2] }} </span>
                    </td>
                  </template>
                  <template v-if="index_t2 == risks_2.length-1">
                    <td style="width:30%;background-color:white;border:none;text-align:left">
                      <span> {{ mitigation_2[index_t2] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:30%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span> {{ mitigation_2[index_t2] }} </span>
                    </td>
                  </template>
                </tr>
              </table>
            </ul>
          </template>

        </el-collapse-item>
        <hr>

        <br>
        <el-collapse-item name="3">
          <template slot="title">
            <h2 class="h2_section">
              Chondrichtyes
            </h2>
          </template>

          <template v-if="Results.endangered_species.chondrichtyes.length === 0">
            <ul>
              <h3 style="color:#16a085 ;">No species identified</h3>
            </ul>
          </template>
          <template v-else>
            <ul>
              <h3 style="color:#16a085 ;">Species identified</h3>
              <ul>
                <div v-for="item in species_class3" :key="item">
                  <el-collapse>
                    <el-collapse-item v-model="item.name" :title="item.name">
                      <table style="border:none;width:100%">
                        <tr>
                          <td style="width:15%;border:none;background-color:white;text-align:left">
                            <span style="font-weight:bold">Common name</span>
                            <br>
                            <span style="font-weight:bold">Class</span>
                            <br>
                            <span style="font-weight:bold">Order</span>
                            <br>
                            <span style="font-weight:bold">Family</span>
                            <br>
                            <span style="font-weight:bold">IUCN status</span>
                            <br>
                            <span style="font-weight:bold">Probability of Presence</span>
                          </td>
                          <td style="width:10%;border:none;background-color:white;text-align:left">
                            <span style="font-style:italic">{{ item.Commun_name }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Class }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Order }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Family }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.IUCN_status }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Probability_of_presence }}</span>
                            <br>
                          </td>
                          <td style="width:60%;border:none;background-color:white">
                            <img v-if="item.name === 'Carcharodon carcharias'" src="@/assets/Species_images/Carcharodon carcharias.jpg" height="90" align="right">
                            <img v-else-if="item.name === 'Lamna nasus'" src="@/assets/Species_images/Lamna nasus.jpg" height="90" align="right">
                            <img v-else-if="item.name === 'Cetorhinus maximus'" src="@/assets/Species_images/Cetorhinus maximus.jpg" height="90" align="right">
                            <img v-else-if="item.name === 'Dipturus batis'" src="@/assets/Species_images/Dipturus batis.jpg" height="90" align="right">
                            <img v-else-if="item.name === 'Rostroraja alba'" src="@/assets/Species_images/Rostroraja alba.jpg" height="90" align="right">
                            <img v-else-if="item.name === 'Squatina squatina'" src="@/assets/Species_images/Squatina squatina.jpg" height="90" align="right">
                          </td>
                        </tr>
                      </table>
                    </el-collapse-item>
                  </el-collapse>
                </div>
              </ul>
            </ul>
            <br>
            <ul>
              <h3 style="color:#16a085">Recommendations on surveys</h3>
              <ul>
                <div v-for="task in surveys_3" :key="task">
                  <el-row> {{ task }}</el-row>
                </div>
              </ul>
            </ul>
            <br>
            <ul>
              <table style="width:80%;border:none">
                <tr>
                  <td style="width:20%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085"> Main associated risks </h3>
                  </td>
                  <td style="width:30%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085">Recommendations on mitigation measures</h3>
                  </td>
                </tr>
                <tr v-for="(task, index_t3) in risks_3" :key="index_t3">
                  <template v-if="index_t3 == risks_3.length-1">
                    <td style="width:20%;background-color:white;border:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_3[index_t3] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:20%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_3[index_t3] }} </span>
                    </td>
                  </template>
                  <template v-if="index_t3 == risks_3.length-1">
                    <td style="width:30%;background-color:white;border:none;text-align:left">
                      <span> {{ mitigation_3[index_t3] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:30%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span> {{ mitigation_3[index_t3] }} </span>
                    </td>
                  </template>
                </tr>
              </table>
            </ul>
          </template>

        </el-collapse-item>
        <hr>

        <br>
        <el-collapse-item name="4">
          <template slot="title">
            <h2 class="h2_section">
              Mammals
            </h2>
          </template>


          <template v-if="Results.endangered_species.mammals.length === 0">
            <ul>
              <h3 style="color:#16a085 ;">No species identified</h3>
            </ul>
          </template>
          <template v-else>
            <ul>
              <h3 style="color:#16a085 ;">Species identified</h3>
              <ul>
                <div v-for="item in species_class4" :key="item">
                  <el-collapse>
                    <el-collapse-item v-model="item.name" :title="item.name">
                      <table style="border:none;width:100%">
                        <tr>
                          <td style="width:15%;border:none;background-color:white;text-align:left">
                            <span style="font-weight:bold">Common name</span>
                            <br>
                            <span style="font-weight:bold">Class</span>
                            <br>
                            <span style="font-weight:bold">Order</span>
                            <br>
                            <span style="font-weight:bold">Family</span>
                            <br>
                            <span style="font-weight:bold">IUCN status</span>
                            <br>
                            <span style="font-weight:bold">Probability of Presence</span>
                          </td>
                          <td style="width:10%;border:none;background-color:white;text-align:left">
                            <span style="font-style:italic">{{ item.Commun_name }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Class }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Order }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Family }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.IUCN_status }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Probability_of_presence }}</span>
                            <br>
                          </td>
                          <td style="width:60%;border:none;background-color:white">
                            <img v-if="item.name === 'Balaenoptera musculus'" src="@/assets/Species_images/Balaenoptera musculus.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Balaenoptera borealis'" src="@/assets/Species_images/Balaenoptera borealis.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Balaenoptera physalus'" src="@/assets/Species_images/Balaenoptera physalus.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Eubalaena glacialis'" src="@/assets/Species_images/Eubalaena glacialis.jpg" alt="end spe" height="90" align="right">
                            <img v-else-if="item.name === 'Monachus monachus'" src="@/assets/Species_images/Monachus monachus.jpg" alt="end spe" height="90" align="right">
                            <img v-else-if="item.name === 'Phocoena phocoena'" src="@/assets/Species_images/Phocoena phocoena.jpg" alt="end spe" height="90" align="right">
                            <img v-else-if="item.name === 'Physeter macrocephalus'" src="@/assets/Species_images/Physeter macrocephalus.jpg" alt="end spe" height="90" align="right">
                            <img v-else-if="item.name === 'Tursiops truncatus'" src="@/assets/Species_images/Tursiops truncatus.png" alt="end spe" height="180" align="right">
                          </td>
                        </tr>
                      </table>
                    </el-collapse-item>
                  </el-collapse>
                </div>
              </ul>
            </ul>
            <ul>
              <h3 style="color:#16a085">Recommendations on surveys</h3>
              <ul>
                <div v-for="task in surveys_4" :key="task">
                  <el-row> {{ task }}</el-row>
                </div>
              </ul>
            </ul>
            <br>
            <ul>
              <table style="width:80%;border:none">
                <tr>
                  <td style="width:20%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085"> Main associated risks </h3>
                  </td>
                  <td style="width:30%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085">Recommendations on mitigation measures</h3>
                  </td>
                </tr>
                <tr v-for="(task, index_t4) in risks_4" :key="index_t4">
                  <template v-if="index_t4 == risks_4.length-1">
                    <td style="width:20%;background-color:white;border:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_4[index_t4] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:20%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_4[index_t4] }} </span>
                    </td>
                  </template>
                  <template v-if="index_t4 == risks_4.length-1">
                    <td style="width:30%;background-color:white;border:none;text-align:left">
                      <span> {{ mitigation_4[index_t4] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:30%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span> {{ mitigation_4[index_t4] }} </span>
                    </td>
                  </template>
                </tr>
              </table>
            </ul>
          </template>

        </el-collapse-item>
        <hr>

        <br>
        <el-collapse-item name="5">
          <template slot="title">
            <h2 class="h2_section">
              Reptilia
            </h2>
          </template>

          <template v-if="Results.endangered_species.reptilia.length === 0">
            <ul>
              <h3 style="color:#16a085 ;">No species identified</h3>
            </ul>
          </template>
          <template v-else>
            <ul>
              <h3 style="color:#16a085 ;">Species identified</h3>
              <ul>
                <div v-for="item in species_class5" :key="item">
                  <el-collapse>
                    <el-collapse-item v-model="item.name" :title="item.name">
                      <table style="border:none;width:100%">
                        <tr>
                          <td style="width:15%;border:none;background-color:white;text-align:left">
                            <span style="font-weight:bold">Common name</span>
                            <br>
                            <span style="font-weight:bold">Class</span>
                            <br>
                            <span style="font-weight:bold">Order</span>
                            <br>
                            <span style="font-weight:bold">Family</span>
                            <br>
                            <span style="font-weight:bold">IUCN status</span>
                            <br>
                            <span style="font-weight:bold">Probability of Presence</span>
                          </td>
                          <td style="width:10%;border:none;background-color:white;text-align:left">
                            <span style="font-style:italic">{{ item.Commun_name }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Class }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Order }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Family }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.IUCN_status }}</span>
                            <br>
                            <span style="font-style:italic">{{ item.Probability_of_presence }}</span>
                            <br>
                          </td>
                          <td style="width:60%;border:none;background-color:white">
                            <img v-if="item.name === 'Eretmochelys imbricata'" src="@/assets/Species_images/Eretmochelys imbricata.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Lepidochelys kempii'" src="@/assets/Species_images/Lepidochelys kempii.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Dermochelys coriacea'" src="@/assets/Species_images/Dermochelys coriacea.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Chelonia mydas'" src="@/assets/Species_images/Chelonia mydas.jpg" alt="end spe" height="100" align="right">
                            <img v-else-if="item.name === 'Caretta caretta'" src="@/assets/Species_images/Caretta caretta.jpg" alt="end spe" height="90" align="right">
                          </td>
                        </tr>
                      </table>
                    </el-collapse-item>
                  </el-collapse>
                </div>
              </ul>
            </ul>
            <ul>
              <h3 style="color:#16a085">Recommendations on surveys</h3>
              <ul>
                <div v-for="task in surveys_5" :key="task">
                  <el-row> {{ task }}</el-row>
                </div>
              </ul>
            </ul>
            <br>
            <ul>
              <table style="width:80%;border:none">
                <tr>
                  <td style="width:20%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085"> Main associated risks </h3>
                  </td>
                  <td style="width:30%;background-color:white;border:none;text-align:left">
                    <h3 style="color:#16a085">Recommendations on mitigation measures</h3>
                  </td>
                </tr>
                <tr v-for="(task, index_t5) in risks_5" :key="index_t5">
                  <template v-if="index_t5 == risks_5.length-1">
                    <td style="width:20%;background-color:white;border:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_5[index_t5] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:20%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span style="margin-left:10%"> {{ risks_5[index_t5] }} </span>
                    </td>
                  </template>
                  <template v-if="index_t5 == risks_5.length-1">
                    <td style="width:30%;background-color:white;border:none;text-align:left">
                      <span> {{ mitigation_5[index_t5] }} </span>
                    </td>
                  </template>
                  <template v-else>
                    <td style="width:30%;background-color:white;border-top:none;border-right:none;border-left:none;text-align:left">
                      <span> {{ mitigation_5[index_t5] }} </span>
                    </td>
                  </template>
                </tr>
              </table>
            </ul>
          </template>

        </el-collapse-item>
        <hr>

      </el-collapse>
    </template>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      activeNames: [],
      surveys_1: [],
      surveys_2: [],
      surveys_3: [],
      surveys_4: [],
      surveys_5: [],
      risks_1: [],
      risks_2: [],
      risks_3: [],
      risks_4: [],
      risks_5: [],
      mitigation_1: [],
      mitigation_2: [],
      mitigation_3: [],
      mitigation_4: [],
      mitigation_5: [],
      species_class1: [],
      species_class2: [],
      species_class3: [],
      species_class4: [],
      species_class5: []
    }
  },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project', 'ProjectStatus', 'Results', 'Name'])
  },
  beforeMount() {
    // Function executed before the appearance of the page
    // Call the loadOutputs function which load the outputs json file
    if (this.Results != false){
      this.InitialiseLocalVariables()
      this.InitialiseClass()
    }

  },
  methods: {
    InitialiseLocalVariables() {
      for (const i in this.Results.endangered_species.aves) {
        if (!(this.surveys_1.includes(this.Results.endangered_species.aves[i].Surveys))) {
          this.surveys_1.push(this.Results.endangered_species.aves[i].Surveys)
        }
        for (const j in this.Results.endangered_species.aves[i].Risks_mitigation) {
          if (!(this.risks_1.includes(this.Results.endangered_species.aves[i].Risks_mitigation[j].Risk))) {
            this.risks_1.push(this.Results.endangered_species.aves[i].Risks_mitigation[j].Risk)
          }
          if (!(this.mitigation_1.includes(this.Results.endangered_species.aves[i].Risks_mitigation[j].Mitigation))) {
            this.mitigation_1.push(this.Results.endangered_species.aves[i].Risks_mitigation[j].Mitigation)
          }
        }
      }
      for (const i in this.Results.endangered_species.actinopterygii) {
        if (!(this.surveys_2.includes(this.Results.endangered_species.actinopterygii[i].Surveys))) {
          this.surveys_2.push(this.Results.endangered_species.actinopterygii[i].Surveys)
        }
        for (const j in this.Results.endangered_species.actinopterygii[i].Risks_mitigation) {
          if (!(this.risks_2.includes(this.Results.endangered_species.actinopterygii[i].Risks_mitigation[j].Risk))) {
            this.risks_2.push(this.Results.endangered_species.actinopterygii[i].Risks_mitigation[j].Risk)
          }
          if (!(this.mitigation_2.includes(this.Results.endangered_species.actinopterygii[i].Risks_mitigation[j].Mitigation))) {
            this.mitigation_2.push(this.Results.endangered_species.actinopterygii[i].Risks_mitigation[j].Mitigation)
          }
        }
      }
      for (const i in this.Results.endangered_species.chondrichtyes) {
        if (!(this.surveys_3.includes(this.Results.endangered_species.chondrichtyes[i].Surveys))) {
          this.surveys_3.push(this.Results.endangered_species.chondrichtyes[i].Surveys)
        }
        for (const j in this.Results.endangered_species.chondrichtyes[i].Risks_mitigation) {
          if (!(this.risks_3.includes(this.Results.endangered_species.chondrichtyes[i].Risks_mitigation[j].Risk))) {
            this.risks_3.push(this.Results.endangered_species.chondrichtyes[i].Risks_mitigation[j].Risk)
          }
          if (!(this.mitigation_3.includes(this.Results.endangered_species.chondrichtyes[i].Risks_mitigation[j].Mitigation))) {
            this.mitigation_3.push(this.Results.endangered_species.chondrichtyes[i].Risks_mitigation[j].Mitigation)
          }
        }
      }
      for (const i in this.Results.endangered_species.mammals) {
        if (!(this.surveys_4.includes(this.Results.endangered_species.mammals[i].Surveys))) {
          this.surveys_4.push(this.Results.endangered_species.mammals[i].Surveys)
        }
        for (const j in this.Results.endangered_species.mammals[i].Risks_mitigation) {
          if (!(this.risks_4.includes(this.Results.endangered_species.mammals[i].Risks_mitigation[j].Risk))) {
            this.risks_4.push(this.Results.endangered_species.mammals[i].Risks_mitigation[j].Risk)
          }
          if (!(this.mitigation_4.includes(this.Results.endangered_species.mammals[i].Risks_mitigation[j].Mitigation))) {
            this.mitigation_4.push(this.Results.endangered_species.mammals[i].Risks_mitigation[j].Mitigation)
          }
        }
      }
      for (const i in this.Results.endangered_species.reptilia) {
        if (!(this.surveys_5.includes(this.Results.endangered_species.reptilia[i].Surveys))) {
          this.surveys_5.push(this.Results.endangered_species.reptilia[i].Surveys)
        }
        for (const j in this.Results.endangered_species.reptilia[i].Risks_mitigation) {
          if (!(this.risks_5.includes(this.Results.endangered_species.reptilia[i].Risks_mitigation[j].Risk))) {
            this.risks_5.push(this.Results.endangered_species.reptilia[i].Risks_mitigation[j].Risk)
          }
          if (!(this.mitigation_5.includes(this.Results.endangered_species.reptilia[i].Risks_mitigation[j].Mitigation))) {
            this.mitigation_5.push(this.Results.endangered_species.reptilia[i].Risks_mitigation[j].Mitigation)
          }
        }
      }
    },
    InitialiseClass() {
      var list1 = []
      for (const i in this.Results.endangered_species.aves) {
        if (!(list1.includes(this.Results.endangered_species.aves[i].Commun_name))) {
          list1.push(this.Results.endangered_species.aves[i].Commun_name)
          this.species_class1.push(this.Results.endangered_species.aves[i])
        }
      }
      var list2 = []
      for (const i in this.Results.endangered_species.actinopterygii) {
        if (!(list2.includes(this.Results.endangered_species.actinopterygii[i].Commun_name))) {
          list2.push(this.Results.endangered_species.actinopterygii[i].Commun_name)
          this.species_class2.push(this.Results.endangered_species.actinopterygii[i])
        }
      }
      var list3 = []
      for (const i in this.Results.endangered_species.chondrichtyes) {
        if (!(list3.includes(this.Results.endangered_species.chondrichtyes[i].Commun_name))) {
          list3.push(this.Results.endangered_species.chondrichtyes[i].Commun_name)
          this.species_class3.push(this.Results.endangered_species.chondrichtyes[i])
        }
      }
      var list4 = []
      for (const i in this.Results.endangered_species.mammals) {
        if (!(list4.includes(this.Results.endangered_species.mammals[i].Commun_name))) {
          list4.push(this.Results.endangered_species.mammals[i].Commun_name)
          this.species_class4.push(this.Results.endangered_species.mammals[i])
        }
      }
      var list5 = []
      for (const i in this.Results.endangered_species.reptilia) {
        if (!(list5.includes(this.Results.endangered_species.reptilia[i].Commun_name))) {
          list5.push(this.Results.endangered_species.reptilia[i].Commun_name)
          this.species_class5.push(this.Results.endangered_species.reptilia[i])
        }
      }
    },
    GoToEIA() {
      // Send the user to the Environmental_Impact_Assessment page
      this.$router.push({ name: 'Environmental_Impact_Assessment' })
    },
    GoToCF() {
      // Send the user to the Carbon_Footprint page
      this.$router.push({ name: 'Carbon_Footprint' })
    },
    GoToSA() {
      // Send the user to the Social_Acceptance page
      this.$router.push({ name: 'Social_Acceptance' })
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Endangered species',
        message: '<h3> Objectives </h3> <span>Inform on the potential presence of 26 endangered species, notify on associated risks and give recommendations to have a better consideration to these species in the design processes and during the life cycle of the project. See the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/es_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> Endangered species </a> section in the documentation.</span>',
        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

.h2_section {
  user-select: none;
  font-size: 25px
}

table {
  border-collapse: collapse;
  border: 1.5px solid #444444;
  border-radius: 3px;
  background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1.5px solid #444444;
  text-align: center;
}

  th.active {
    color: #0400ff;
  }

    th.active .arrow {
      opacity: 1;
    }

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>
