<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <ul>
        <table style="width:100%;border:none">
          <tr>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToES()"
              >
                <el-row>
                  <img src="@/assets/logos/sea-lion.png" width="35" height="30" align="left">
                  <span>Endangered <br> Species</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToEIA()"
              >
                <el-row>
                  <img src="@/assets/logos/green.png" width="35" height="30" align="left">
                  <span>Environmental <br> Impact Assessment</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToCF()"
              >
                <el-row>
                  <img src="@/assets/logos/recycling.png" width="30" height="28" align="center">
                  <span>Carbon Footprint</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                disabled
              >
                <el-row>
                  <img src="@/assets/logos/job.png" width="30" height="28" align="center">
                  <span>Social Acceptance</span>
                </el-row>
              </el-button>
            </td>
          </tr>
        </table>
      </ul>
    </template>

    <br>
    <br>
    <img src="@/assets/logos/job.png" alt="end spe" width="100" height="90" align="left">

    <tr>
      <td style="width:20%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> Social Acceptance </h1>
      </td>
      <td style="width:20%;background-color: white; border:none;text-align:right">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>

    <br>

    <template v-if="Results == false">
      <span style="font-weight:bold;font-size:20px"> No outputs for this project </span>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '1' || ProjectStatus.complexity_level === 1">
      <span style="font-weight:bold;font-size:20px"> No outputs on this page for complexity level 1 </span>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2">
      <span style="font-weight:bold;font-size:20px"> No outputs on this page for complexity level 2 </span>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <el-alert
    type="info"
    title="Warning"
    description="At this point of development, number of jobs corresponds only of marine operations vessels crew"
    :closable="false"
    show-icon
  />
      <h2 class="h2_section">
        Global Results
      </h2>

      <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar" > Section Help </span>

      <ul>
        <ul>
          <table style="width:80%;border:none">
            <tr>
              <td class="form_lines" style="width:10%;text-align:center">
                <span style="font-weight:bold;text-align:center;font-size:15px">Number of<br>jobs :</span>
              </td>
              <td style="width:5%;text-align:center">
                <span style="font-size:20px;font-weight:bold">{{ Results.social_acceptance.nb_vessel_crew }}</span>
              </td>
              <td class="form_lines" style="width:5%" />
              <td class="form_lines" style="width:10%;text-align:center">
                <span style="font-weight:bold;text-align:center;font-size:15px">Cost of<br>Consenting :</span>
              </td>
              <td style="width:5%;text-align:center">
                <span style="font-size:20px;font-weight:bold">{{ Results.social_acceptance.cost_of_consenting }} €</span>
              </td>
            </tr>
          </table>
        </ul>
      </ul>
    </template>
    <template v-else>
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
    </template>
    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project', 'ProjectStatus', 'Results', 'Name'])
  },
  methods: {
    GoToES() {
      // Send the user to the Endangered_Species page
      this.$router.push({ name: 'Endangered_Species' })
    },
    GoToEIA() {
      // Send the user to the Environmental_Impact_Assessment page
      this.$router.push({ name: 'Environmental_Impact_Assessment' })
    },
    GoToCF() {
      // Send the user to the Carbon_Footprint page
      this.$router.push({ name: 'Carbon_Footprint' })
    },
    async openSidebar() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Global results',
        message: '<h3> Number of jobs </h3> <span>corresponds to the number of vessel crew</span>' +
          '<h3> Cost of consenting </h3> <span>corresponds to the levelised cost of energy that the user will have assess with the SLC module of DTOceanPlus. [€/kWh]</span>',
        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .h2_section {
    user-select: none;
    font-size: 25px
  }

  table {
    border-collapse: collapse;
    border: 1.5px solid #444444;
    border-radius: 3px;
    background-color: #fff;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    padding: 10px 10px;
    border: 1.5px solid #444444;
    text-align: center;
  }

    th.active {
      color: #0400ff;
    }

      th.active .arrow {
        opacity: 1;
      }

/* Bottom right text */
.text-block2 {
  position: absolute;
  color: white;
  background-color: #02397C;
  padding-left: 22px;
  padding-right: 20px;
}

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>
