<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="navbar">
    <table style="width:150px;border:none;background-color:white;float:left">
      <tr>
        <td style="border:none;background-color:white">
          <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />
        </td>
        <td style="border:none;background-color:white;text-align:left">
          <span style="font-weight:bold" @click.prevent="dialogFormVisible3 = true"> ESA (v1.2.2) </span>
        </td>
      </tr>
    </table>
    <template v-if="this.$route.path.substring(this.$route.path.length-5, this.$route.path.length) === '_info' || this.$route.path === '/run_module'">
      <table style="width:10%;border:none;background-color:white;float:right">
        <tr>
          <td style="width:50%;border:none;background-color:white">
            <el-button type='primary'
                      style="padding: 7px 14px;font-family:Open Sans"
                      @click.prevent="SaveAs()">Save </el-button>
          </td>
        </tr>
      </table>

    </template>
    
    <template v-if="this.$route.path === '/esaoutputs/endangered_species' || this.$route.path === '/esaoutputs/environmental_impact_assessment' || this.$route.path === '/esaoutputs/carbon_footprint' || this.$route.path === '/esaoutputs/social_acceptance'">
      <el-row style="float:right;margin-right:3%;top:10px">
        <router-link target="_blank" :to="{ name: 'PDF', query: {ProjectName: Name, Entity_id: ProjectStatus.entity_id, device: Project.inputs_ESA.device_info.machine_type, cplx: ProjectStatus.complexity_level}}">
          <el-button type="primary" style="padding: 8px 14px;font-family:Open Sans">
            Export results to PDF
          </el-button>
        </router-link>
      </el-row>
    </template>

    <el-dialog :visible.sync="dialogFormVisible3" style="text-align:center" width="80%">
      <h2>You are about to remove all restrictions on the inputs fields of Environmental and Social Acceptance module. If you do that, you will loose the consistency with the previous modules of the DTOCEAN+ suite of tools. Are you sure you want to do that?</h2>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click.prevent="dialogFormVisible3 = false; CheatButton()">Confirm</el-button>
        <el-button type="danger" @click.prevent="dialogFormVisible3 = false">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapState } from 'vuex'
import Hamburger from '@/components/Hamburger'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"

export default {
  data() {
    return {
      dialogFormVisible: false,
      dialogFormVisible3: false
    }
  },
  components: {
    Hamburger
  },
  computed: {
    // Load component sidebar and avatar
    // Load the Project, ProjectStatus from the local storage
    ...mapGetters([
      'sidebar',
      'avatar'
    ]),
    ...mapState(['Project', 'ProjectStatus', 'Name', 'Description'])
  },
  methods: {
    toggleSideBar() {
    // Toggle sidebar
      this.$store.dispatch('app/toggleSideBar')
    },
    SaveAs() {
      // Define the payload input variable given to saveProject function
      const payload = {
        name: this.Name,
        description: this.Description,
        inputs_ESA: this.Project.inputs_ESA,
        run_mode: 'dto',
        url_sc_get_farm: this.Project.url_sc_get_farm,
        url_sc_get_current: this.Project.url_sc_get_current,
        url_ec_get_farm: this.Project.url_ec_get_farm,
        url_sc_get_point: this.Project.url_sc_get_point,
        url_ec_get_project: this.Project.url_ec_get_project,
        url_et_array: this.Project.url_et_array,
        url_mc_dimensions: this.Project.url_mc_dimensions,
        url_mc_general: this.Project.url_mc_general,
        url_ed_get_results: this.Project.url_ed_get_results,
        url_sk_get_env_impact: this.Project.url_sk_get_env_impact,
        url_lmo_results: this.Project.url_lmo_results,
        url_lmo_catalogue: this.Project.url_lmo_catalogue,
        url_ed_catalogue_static_cable: this.Project.url_ed_catalogue_static_cable,
        url_ed_catalogue_dynamic_cable: this.Project.url_ed_catalogue_dynamic_cable,
        url_ed_catalogue_collection_point: this.Project.url_ed_catalogue_collection_point
      }
      // Call saveProject function
      const my_name = this.Project.name + '_' + this.ProjectStatus.entity_id
      this.saveProject(payload, my_name)
      // Define payload0 input variable given to saveStatus function
      const payload0 = {
        description: this.Description,
        farm_info_page: this.ProjectStatus.farm_info_page,
        device_info_page: this.ProjectStatus.device_info_page,
        electrical_info_page: this.ProjectStatus.electrical_info_page,
        logistics_info_page: this.ProjectStatus.logistics_info_page,
        complexity_level: this.ProjectStatus.complexity_level,
        flag_url_sc_get_farm: this.ProjectStatus.flag_url_sc_get_farm,
        flag_url_sc_get_current: this.ProjectStatus.flag_url_sc_get_current,
        flag_url_sc_get_point: this.ProjectStatus.flag_url_sc_get_point,
        flag_url_ec_get_farm: this.ProjectStatus.flag_url_ec_get_farm,
        flag_url_ec_get_project: this.ProjectStatus.flag_url_ec_get_project,
        flag_url_mc_dimensions: this.ProjectStatus.flag_url_mc_dimensions,
        flag_url_mc_general: this.ProjectStatus.flag_url_mc_general,
        flag_url_ed_get_results: this.ProjectStatus.flag_url_ed_get_results,
        flag_url_et_array: this.ProjectStatus.flag_url_et_array,
        flag_url_sk_get_env_impact: this.ProjectStatus.flag_url_sk_get_env_impact,
        flag_url_lmo_results: this.ProjectStatus.flag_url_lmo_results,
        flag_url_lmo_catalogue: this.ProjectStatus.flag_url_lmo_catalogue,
        flag_url_ed_catalogue_static_cable: this.ProjectStatus.flag_url_ed_catalogue_static_cable,
        flag_url_ed_catalogue_dynamic_cable: this.ProjectStatus.flag_url_ed_catalogue_dynamic_cable,
        flag_url_ed_catalogue_collection_point: this.ProjectStatus.flag_url_ed_catalogue_collection_point,
        entity_id: this.$route.query.EntityId,
        length_collection_point: this.ProjectStatus.length_collection_point
      }
      // Call saveStatus function
      this.saveStatus(payload0, this.Name)
    },
    saveProject(payload, name) {
      // Call the API POST method inputs which save the inputs structure into a json file
      // The API method is described in */service/api/postInputs/_init_.py
      // The file is saved in */storage
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/inputs`
      axios
        .post(path, payload)
    },
    saveStatus(payload, name) {
      // Call the API POST method saveStatus which save the inputs structure into a json file
      // The API method is described in */service/api/postInputs/_init_.py
      // The file is saved in */storage
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/saveStatus`
      axios
        .post(path, payload)
    },
    CheatButton() {
      this.ProjectStatus.flag_url_sc_get_farm = 'False'
      this.ProjectStatus.flag_url_sc_get_point = 'False'
      this.ProjectStatus.flag_url_sc_get_current = 'False'
      this.ProjectStatus.flag_url_ec_get_farm = 'False'
      this.ProjectStatus.flag_url_ec_get_project = 'False'
      this.ProjectStatus.flag_url_mc_dimensions = 'False'
      this.ProjectStatus.flag_url_mc_general = 'False'
      this.ProjectStatus.flag_url_ed_get_results = 'False'
      this.ProjectStatus.flag_url_et_array = 'False'
      this.ProjectStatus.flag_url_sk_get_env_impact = 'False'
      this.ProjectStatus.flag_url_lmo_results = 'False'
      this.ProjectStatus.flag_url_lmo_catalogue = 'False'
      this.ProjectStatus.flag_url_ed_catalogue_static_cable = 'False'
      this.ProjectStatus.flag_url_ed_catalogue_dynamic_cable = 'False'
      this.ProjectStatus.flag_url_ed_catalogue_collection_point = 'False'
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
