<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <ul>
        <table style="width:100%;border:none">
          <tr>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToES()"
              >
                <el-row>
                  <img src="@/assets/logos/sea-lion.png" width="35" height="30" align="left">
                  <span>Endangered <br> Species</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToEIA()"
              >
                <el-row>
                  <img src="@/assets/logos/green.png" width="35" height="30" align="left">
                  <span>Environmental <br> Impact Assessment</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                disabled
              >
                <el-row>
                  <img src="@/assets/logos/recycling.png" width="30" height="28" align="center">
                  <span>Carbon Footprint</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToSA()"
              >
                <el-row>
                  <img src="@/assets/logos/job.png" width="30" height="28" align="center">
                  <span>Social Acceptance</span>
                </el-row>
              </el-button>
            </td>
          </tr>
        </table>
      </ul>
    </template>

    <br>
    <br>
    <img src="@/assets/logos/recycling.png" alt="end spe" width="110" height="100" align="left">

    <tr>
      <td style="width:20%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> Carbon Footprint </h1>
      </td>
      <td style="width:20%;background-color: white; border:none;text-align:right">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>

    <br>
    <el-alert
      type="info"
      title="LCA is a tool for assessing the environmental impact of a given product or human industrial activity by considering all the stages of its life cycle"
      description="
    Performing an LCA is structured by two main standards which are ISO 14040 and ISO 14044. 
    See Background and theory documentation for further information on LCA calculation and assumptions in DTOceanPLUS "
      :closable="false"
      show-icon
    />
    <br>

    <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

    <br>
    <template v-if="Results == false">
      <span style="font-weight:bold;font-size:20px"> No outputs for this project </span>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '1' || ProjectStatus.complexity_level === 1">
      <span style="font-weight:bold;font-size:20px"> No outputs on this page for complexity level 1 </span>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2">
      <span style="font-weight:bold;font-size:20px"> No outputs on this page for complexity level 2 </span>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <template v-if="Results.carbon_footprint.CFP_global.GWP === 0">
        <span style="font-weight:bold;font-size:20px"> No outputs on this page, please check that you entered the needed inputs </span>
      </template>
      <template v-else>
        <h2 class="h2_section">
          Global results
        </h2>


        <ul>
          <ul>
            <table style="width:100%;border:none">
              <tr>
                <td class="form_lines" style="width:10%;text-align:center">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Global<br>Warming<br>Potential :</span>
                </td>
                <td style="width:10%;text-align:center">
                  <span style="font-size:20px;font-weight:bold">{{ (Results.carbon_footprint.CFP_global.GWP) }}  g CO2 Eq / kWh</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Cumulative<br>Energy<br>Demand :</span>
                </td>
                <td style="width:10%;text-align:center">
                  <span style="font-size:20px;font-weight:bold">{{ (Results.carbon_footprint.CFP_global.CED) }} MJ/kWh</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Energy<br>Payback<br>Period :</span>
                </td>
                <td style="width:10%;text-align:center">
                  <span style="font-size:20px;font-weight:bold">{{ (Results.carbon_footprint.CFP_global.EPP) }} Months</span>
                </td>
              </tr>
            </table>
          </ul>
        </ul>
        <br>
        <ul>
          <el-row>
            <el-col :lg="8">
              <template v-if="Comparison == true || Comparison == false">
                <el-button type="primary" @click.prevent="Comparison = 'close'" style="font-family:Open Sans"> Compare to other Technologies/Energy sources</el-button>
              </template>
              <template v-else>
                <el-button type="primary" @click.prevent="Comparison = false" style="font-family:Open Sans"> Compare to other Technologies/Energy sources</el-button>
              </template>
            </el-col>
            <el-col :lg="8" style="padding-top:10px">
              <template v-if="Comparison === false || Comparison === true">
                <el-switch
                  v-model="Comparison"
                  active-text="Other technologies"
                  inactive-text="Other energy sources"
                  active-color="#409EFF"
                  inactive-color="#409EFF"
                />
              </template>
            </el-col>
            <el-col :lg="5" style="padding-top:10px">
              <template v-if="Comparison === true">
                <el-switch
                  v-model="GWP_EPP"
                  active-text="EPP"
                  inactive-text="GWP"
                  active-color="#409EFF"
                  inactive-color="#409EFF"
                />
              </template>
            </el-col>
          </el-row>
          <br>
        </ul>
        <template v-if="Comparison === false">
          <ul>
            <el-alert
              type="warning"
              title="Global Warning !"
              description="Always keep in mind that direct comparison with values from other LCA studies can be problematic, as the assumptions may be different and often nonconservative as well as issues regarding compliance with the ISO standards."
              :closable="false"
              show-icon
            />
            <br>
            <h3 style="color:#16a085">Mean Global Warming Potential of other energies compare to the actual project [g CO2 Eq/kWh]</h3>
            <br>
            <bar-3 />
            <br>
            <ul>
              <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar3" > See References </span>
            </ul>
          </ul>
        </template>
        <template v-else-if="Comparison === true">
          <template v-if="Project.inputs_ESA.device_info.machine_type === 'WEC'">
            <template v-if="GWP_EPP === false">
              <ul>
                <br>
                <h3 style="color:#16a085">Mean Global Warming Potential of other technologies compare to the actual project [g CO2 Eq/kWh]</h3>
                <bar-4 />
                <br>
                <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar4" > See References </span>
              </ul>
            </template>
            <template v-else>
              <ul>
                <br>
                <h3 style="color:#16a085">Mean Energy Payback Period of other technologies compare to the actual project [Months]</h3>
                <bar-6 />
                <br>
                <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar5" > See References </span>
              </ul>
            </template>
          </template>
          <template v-else-if="Project.inputs_ESA.device_info.machine_type === 'TEC'">
            <template v-if="GWP_EPP === false">
              <ul>
                <br>
                <h3 style="color:#16a085">Mean Global Warming Potential of other technologies compare to the actual project [g CO2 Eq/kWh]</h3>
                <bar-5 />
                <br>
                <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar6" > See References </span>
              </ul>
            </template>
            <template v-else>
              <ul>
                <br>
                <h3 style="color:#16a085">Mean Energy Payback Period of other technologies compare to the actual project [Months]</h3>
                <bar-7 />
                <br>
                <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar7" > See References </span>
              </ul>
            </template>
          </template>
        </template>

        <hr>

        <h2 class="h2_section">
          Results per phase
        </h2>

        <br><br>
        <el-button type="primary" @click.prevent="CompareProject = false; DialogVisible1 = true; GetMyProjectList()"> Compare to other DTOceanPlUS project LCA </el-button>
        <template v-if="CompareProject != false">
          <el-button type="primary" @click.prevent="CompareProject = false; CompareProject = []"> Remove comparison data </el-button>
        </template>
        <el-dialog :visible.sync="DialogVisible1" align="center" width="80%">
          <h2>Select the project to compare with</h2>
          <el-alert
            type="info"
            title="Information !"
            description="Only the project with available results for the GWP and CED are displayed here. Do not select to much project or the plots would be overloaded."
            :closable="false"
            show-icon
            style="width:43%"
          />
          <br><br>
          <el-table :data="esa_projects"
                    element-loading-text="Loading"
                    border
                    fit
                    highlight-current-row>
            <el-table-column prop="name"
                              label="Name"
                              width="200%"
                              align="center">
            </el-table-column>
            <el-table-column prop="time"
                              label="Date of creation"
                              width="200%"
                              align="center">
            </el-table-column>
            <el-table-column width="200%" align="center">
              <template slot-scope="scope">
                <el-checkbox-button v-model="CheckedProject" :label="esa_projects[scope.$index].name" class='chk-btn'><span> Select </span></el-checkbox-button>
              </template>
            </el-table-column>
          </el-table>

          <el-checkbox-group 
            v-model="CheckedProject">
            <div v-for="item in esa_projects" :key="item" style="text-align:left;margin-left:40%">
            </div>
          </el-checkbox-group>

          <span slot="footer" class="dialog-footer">
            <el-button type="success" @click.prevent="DialogVisible1 = false; LoadCFP()" style="font-family:Open Sans">Confirm</el-button>
            <el-button type="danger" @click.prevent="DialogVisible1 = false" style="font-family:Open Sans">Cancel</el-button>
          </span>
        </el-dialog>
        <template v-if="CompareProject == true">
          <ul>
            <h3 style="color:#16a085">Global Warming Potential [g CO2 Eq/kWh]</h3>
            <br>
            <ul>
              <bar-8 />
            </ul>
          </ul>

          <br>
          <hr>

          <ul>
            <h3 style="color:#16a085">Cumulative Energy Demand [MJ/kWh]</h3>
            <br>
            <ul>
              <bar-9 />
            </ul>
          </ul>

          <ul>
            <h3 style="color:#16a085">Energy Payback Period [Months]</h3>
            <br>
            <ul>
              <bar-10 />
            </ul>
          </ul>
        </template>
        <template v-if="CompareProject == false">
          <ul>
            <h3 style="color:#16a085">Global Warming Potential [g CO2 Eq/kWh]</h3>
            <br>
            <ul>
              <bar-1 />
            </ul>
          </ul>

          <br>
          <hr>

          <ul>
            <h3 style="color:#16a085">Cumulative Energy Demand [MJ/kWh]</h3>
            <br>
            <ul>
              <bar-2 />
            </ul>
          </ul>

          <br>
          <hr>

          <ul>
            <h3 style="color:#16a085">Energy Payback Period [Months]</h3>
            <br>
            <ul>
              <bar-11 />
            </ul>
          </ul>
        </template>
        <!-- <template v-else>
          <br><br>
          <ul>
            <span style="font-size:18px;font-weight:bold"> No project select / No outputs in the selected projects </span>
          </ul>
        </template> -->
      </template>
    </template>

    <template v-else>
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
    </template>

    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import Bar1 from './components/Bar1.vue'
import Bar2 from './components/Bar2.vue'
import Bar3 from './components/Bar3.vue'
import Bar4 from './components/Bar4.vue'
import Bar5 from './components/Bar5.vue'
import Bar6 from './components/Bar6.vue'
import Bar7 from './components/Bar7.vue'
import Bar8 from './components/Bar8.vue'
import Bar9 from './components/Bar9.vue'
import Bar10 from './components/Bar10.vue'
import Bar11 from './components/Bar11.vue'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  components: {
    Bar1,
    Bar2,
    Bar3,
    Bar4,
    Bar5,
    Bar6,
    Bar7,
    Bar8,
    Bar9,
    Bar10,
    Bar11
  },
  data() {
    return {
      Comparison: 'begin',
      GWP_EPP: false,
      CompareProject: false ,
      DialogVisible1: false,
      temp: [],
      esa_projects: [],
      CheckedProject: []
    }
  },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project', 'ProjectStatus', 'Results', 'GWP', 'CED', 'EPP', 'names', 'Name']),
    GWP: {
      get () {
        return this.$store.state.GWP
      },
      set (newValue) {
        return this.$store.dispatch('set_GWPAction', newValue)
      }
    },
    CED: {
      get () {
        return this.$store.state.CED
      },
      set (newValue) {
        return this.$store.dispatch('set_CEDAction', newValue)
      }
    },
    EPP: {
      get () {
        return this.$store.state.EPP
      },
      set (newValue) {
        return this.$store.dispatch('set_EPPAction', newValue)
      }
    },
    names: {
      get () {
        return this.$store.state.names
      },
      set (newValue) {
        return this.$store.dispatch('set_namesAction', newValue)
      }
    }
  },
  methods: {
    GoToES() {
      // Send the user to the Endangered_Species page
      this.$router.push({ name: 'Endangered_Species' })
    },
    GoToEIA() {
      // Send the user to the Environmental_Impact_Assessment page
      this.$router.push({ name: 'Environmental_Impact_Assessment' })
    },
    GoToSA() {
      // Send the user to the Social_Acceptance page
      this.$router.push({ name: 'Social_Acceptance' })
    },
    async GetMyProjectList() {
      // Call the API GET method GetProjectsList which list the project available in *./storage
      // The API method is described in */service/api/postInputs/_init_.py
      // Only return the name of the Project for which exist name_inputs.json and name_status.json
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/GetProjectsList`
      this.esa_projects = []
      this.temp = []
      this.names = []
      axios.get(path)
        .then((res) => {
          this.temp = res.data
          const path2 = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/CheckCFP`
          for (let i=0; i<this.temp.length; i++) {
            if (this.temp[i].name != this.Project.name+'_'+this.ProjectStatus.entity_id) {
              const payload = {name: this.temp[i].name}
              axios({
                method: 'get',
                url: path2,
                params: payload
              })
                .then((res) => {
                  if (res.data == true) {
                    this.esa_projects.push(this.temp[i])
                    this.names.push(this.temp[i].name)
                  }
                })
            }
          }
        })
    },
    LoadCFP() {
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/loadCFP`
      this.GWP = []
      this.CED = []
      this.EPP = []
      for (let i=0; i<this.CheckedProject.length; i++) {
        const payload = {name: this.CheckedProject[i]}
        axios({
          method: 'get',
          url: path,
          params: payload
        })
          .then((res) => {
            this.GWP.push(res.data[0])
            this.CED.push(res.data[1])
            this.EPP.push(res.data[2])
          })
      }
      setTimeout(function () {
        this.CompareProject = true
      }.bind(this), 500)
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        style: 'width:40%',
        dangerouslyUseHTMLString: true,
        title: 'Carbon Footprint',
        message: '<h3> Global results </h3> <span>Group overall results of the whole project; Comparison with others technology or other energy sources are possible for GWP and EPP.</span>' +
          '<span><strong> GWP </strong> corresponds to the Global Waring Potential, in terms of participation to global warming [gCO2-eq/kWh]</span>'+
          '<span><strong> CED </strong> corresponds to the CUmulative Energy Demand, in terms of non renewable energy consumed [MJ/kWh]</span>'+
          '<span><strong> EPP </strong> corresponds to the Energy Payback Period, tie necessary to produce as much non renewable energy as consumed [/months]</span>'+
          '<h3>Results per phase</h3> <span>provides detailed results for each phase of the life cycle of the project. Comparison with other DTOceanPlus project is possible for the three indicators.</span>' ,
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar4() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify2',
        dangerouslyUseHTMLString: true,
        title: 'Reference for the Mean Global Warming Potential of other technologies compare to the actual project plot',
        message: '<span><br>[1] Parker, R.P.M.; Harrison, G.P.; Chick, J.P. Energy and carbon audit of an oshore wave energy convertProc. Inst. Mech. Eng. Part A J. Power Energy USA 2007, 221, 1119–1130.</span>' +
        '<span><br><br>[2] Thomson, R.C.; Harrison, G.P.; Chick, J.P. Full life cycle assessment of a wave energy converter. In Proceedings of the IET Conference on Renewable Power Generation (RPG 2011), Edinburgh, UK, 6–8 September 2011.</span>' +
        '<span><br><br>[3] Banerjee, S.; Duckers, L.; Blanchard, R.E. An overview on green house gas emission characteristics and energy evaluation of ocean energy systems from life cycle assessment and energy accounting studies. J. Appl. Nat. Sci. 2013, 5, 535–540.</span>' +
        '<span><br><br>[4] Uihlein, A. Life cycle assessment of ocean energy technologies. Int. J. Life Cycle Assess. 2016, 21, 1425–1437.</span>' +
        '<span><br><br>[5] Thomson, R.C.; Chick, J.P.; Harrison, G.P. An LCA of the Pelamis wave energy converter. Int. J. Life Cycle Assess. 2019, 24, 51–63.</span>' +
        '<span><br><br>[6] Walker, S.; Howell, R. Life Cycle Comparison of aWave and Tidal Energy Device. Ph.D Thesis, E-Futures Doctoral Training Centre, University of She eld, She eld, UK, 2011.</span>' +
        '<span><br><br>[7] Dahlsten, H. Life Cycle Assessment of Electricity from Wave Power. Master’s Thesis, Department of Energy and Technology, Faculty of Natural Resources and Agricultural Sciences, Swedish University of Agricultural Sciences, Uppsala, Sweden, 2009.</span>' +
        '<span><br><br>[8] Gastelum, L. Life Cycle Assessment of aWave Energy Converter. Bachelor’s Thesis, Mechanical Engineering, School of Arquitecture and the Built Environment, KTH Royal Institute of Technology, Stockholm, Sweden, 2017.</span>' +
        '<span><br><br>[9] Sørensen, H.C.; Naef, S.; Anderberg, S.; Hauschild, M.Z. Life cycle assessment of the wave energy converter: Wave Dragon. In Proceedings of the International Conference on Ocean Energy, Bremerhaven, Germany, 23–24 October 2006.</span>' +
        '<span><br><br>[10] Zhai, Q.; Zhu, L.; Lu, S. Life cycle assessment of a buoy-rope-drum wave energy converter. Energies 2018, 11, 2432.</span>' +
        '<span><br><br>[11]Patrizi, N.; Pulselli, R.M.; Neri, E.; Niccolucci, V.; Vicinanza, D.; Contestabile, P.; Bastianoni, S. Life cycle environmental impact assessment of an overtopping wave energy converter embedded in breakwater systems. Front. Energy Res. 2019, 7, 1–10.<br><br></span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar5() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify2',
        dangerouslyUseHTMLString: true,
        title: 'Reference for the Mean Energy Payback Period of other technologies compare to the actual project plot',
        message: '<span><br>[1] Parker, R.P.M.; Harrison, G.P.; Chick, J.P. Energy and carbon audit of an oshore wave energy convertProc. Inst. Mech. Eng. Part A J. Power Energy USA 2007, 221, 1119–1130.</span>' +
        '<span><br><br>[2] Thomson, R.C.; Chick, J.P.; Harrison, G.P. An LCA of the Pelamis wave energy converter. Int. J. Life Cycle Assess. 2019, 24, 51–63.</span>' +
        '<span><br><br>[3] Walker, S.; Howell, R. Life Cycle Comparison of aWave and Tidal Energy Device. Ph.D Thesis, E-Futures Doctoral Training Centre, University of She eld, She eld, UK, 2011.</span>' +
        '<span><br><br>[4] Dahlsten, H. Life Cycle Assessment of Electricity from Wave Power. Master’s Thesis, Department of Energy and Technology, Faculty of Natural Resources and Agricultural Sciences, Swedish University of Agricultural Sciences, Uppsala, Sweden, 2009.</span>' +
        '<span><br><br>[5] Banerjee, S.; Duckers, L.; Blanchard, R.E. An overview on green house gas emission characteristics and energy evaluation of ocean energy systems from life cycle assessment and energy accounting studies. J. Appl. Nat. Sci. 2013, 5, 535–540.</span>' +
        '<span><br><br>[6] Zhai, Q.; Zhu, L.; Lu, S. Life cycle assessment of a buoy-rope-drum wave energy converter. Energies 2018, 11, 2432.<br><br></span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar6() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify2',
        dangerouslyUseHTMLString: true,
        title: 'Reference for the Mean Global Warming Potential of other technologies compare to the actual project plot',
        message: '<span><br>[1] Uihlein, A. Life cycle assessment of ocean energy technologies. Int. J. Life Cycle Assess. 2016, 21, 1425–1437.</span>' +
        '<span><br><br>[2] Douglas, C.A.; Harrison, G.P.; Chick, J.P. Life cycle assessment of the Seagen marine current turbine. Proc. Inst. Mech. Eng. Part M J. Eng. Marit. Environ. USA 2008, 222, 1–12.</span>' +
        '<span><br><br>[3] Walker, S.; Howell, R. Life Cycle Comparison of aWave and Tidal Energy Device. Ph.D Thesis, E-Futures Doctoral Training Centre, University of She eld, She eld, UK, 2011.</span>' +
        '<span><br><br>[4] Kelly, K.A.; McManus, M.C.; Hammond, G.P. An energy and carbon life cycle assessment of tidal power case study: The proposed Cardi -Weston severn barrage scheme. Energy 2012, 44, 692–701.</span>' +
        '<span><br><br>[5] Elmehag, E.; Torosian, R. Life Cycle Assessment of an Ocean Energy Power Plant: Evaluation and Analysis of the Energy Payback Time with Comparison Between Sweden and Tanzania. Bachelor’s Thesis, School of Technology and Science, University of Skövde, Skövde, Sweden, 2013.</span>' +
        '<span><br><br>[6] Simon, P. Assessment of Embodied Energy and Carbon Emissions of the Swansea Bay Tidal Lagoon from a Life Cycle Perpective. Master’s Thesis, Department of Ecotechnology and Sustainable Building Engineering, Mid Sweden University, Östersund, Switzerland, 2015.</span>' +
        '<span><br><br>[7] Banerjee, S.; Duckers, L.; Blanchard, R.E. An overview on green house gas emission characteristics and energy evaluation of ocean energy systems from life cycle assessment and energy accounting studies. J. Appl. Nat. Sci. 2013, 5, 535–540.</span>' +
        '<span><br><br>[8] Aalbers, R.R.D. Life Cycle Assessment of Ocean Thermal Energy Conversion. Master’s Thesis, Sustainable Energy and Technology, Delft University of Technology, Delft, The Netherlands, 2015.<br><br></span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar7() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify2',
        dangerouslyUseHTMLString: true,
        title: 'Reference for the Mean Energy Payback Period of other technologies compare to the actual project plot',
        message: '<span><br>[1] Walker, S.; Howell, R. Life Cycle Comparison of aWave and Tidal Energy Device. Ph.D Thesis, E-Futures Doctoral Training Centre, University of She eld, She eld, UK, 2011.</span>' +
        '<span><br><br>[2] Kelly, K.A.; McManus, M.C.; Hammond, G.P. An energy and carbon life cycle assessment of tidal power case study: The proposed Cardi -Weston severn barrage scheme. Energy 2012, 44, 692–701.</span>' +
        '<span><br><br>[3] Elmehag, E.; Torosian, R. Life Cycle Assessment of an Ocean Energy Power Plant: Evaluation and Analysis of the Energy Payback Time with Comparison Between Sweden and Tanzania. Bachelor’s Thesis, School of Technology and Science, University of Skövde, Skövde, Sweden, 2013.</span>' +
        '<span><br><br>[4] Simon, P. Assessment of Embodied Energy and Carbon Emissions of the Swansea Bay Tidal Lagoon from a Life Cycle Perpective. Master’s Thesis, Department of Ecotechnology and Sustainable Building Engineering, Mid Sweden University, Östersund, Switzerland, 2015.</span>' +
        '<span><br><br>[5] Banerjee, S.; Duckers, L.; Blanchard, R.E. An overview on green house gas emission characteristics and energy evaluation of ocean energy systems from life cycle assessment and energy accounting studies. J. Appl. Nat. Sci. 2013, 5, 535–540.</span>' +
        '<span><br><br>[6] Aalbers, R.R.D. Life Cycle Assessment of Ocean Thermal Energy Conversion. Master’s Thesis, Sustainable Energy and Technology, Delft University of Technology, Delft, The Netherlands, 2015.<br><br></span>',
        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

.h2_section {
    user-select: none;
      font-size: 25px
}

table {
    border-collapse: collapse;
    border: 1.5px solid #444444;
    border-radius: 3px;
    background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1.5px solid #444444;
  text-align: center;
}

th.active {
  color: #0400ff;
}

th.active .arrow {
  opacity: 1;
}
input.chk-btn {
  display: none;
}
input.chk-btn + label {
  border: 1px solid grey;
  background: ghoswhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}
input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #eee;
}

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>






