<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <img src="@/assets/logos/Tidal_turbine.png" alt="end spe" width="110" height="100" align="left">
    <template v-if="entitylist.length != 0">
      <template v-if="entitylist.data.length != 1">
        <br><br>
        <br><br>
        <br><br>
        <br>
        <el-alert
          type="warning"
          title="Integrated mode !"
          description="The module is running in integrated mode. All data coming from another module cannot be modified and the correspondant fields are then disabled."
          :closable="false"
          show-icon
        />
      </template>
    </template>

    <tr>
      <td class="form_lines" style="width:20%">
        <h1 class="my_h1"> Device Info </h1>  
      </td>
      <td class="form_lines" style="width:20%; text-align:right">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>

    <br>
    <template v-if="ProjectStatus.complexity_level === '1' || ProjectStatus.complexity_level === 1">
      <span style="font-weight:bold;font-size:20px"> This input page is not required for complexity 1 </span>

      <br>

      <el-button
        type="info"
        style="float:left;font-family:Open Sans"
        @click.prevent="changePage('Farm_Info')"
      ><i class="el-icon-arrow-left" />Previous Page </el-button>

      <el-button
        type="info"
        style="float:right;font-family:Open Sans"
        @click.prevent="ProjectStatus.device_info_page = 'True';changePage('Run_Module')"
      >Next Page <i class="el-icon-arrow-right" /> </el-button>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2 || ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
          <template slot="title">
            <h2 class="h2_section">
              Device general info
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:140px">
                  <span style="font-weight:bold;font-size:15px">Device type : </span>
                </td>
                <td class="form_lines">
                  <el-switch
                    v-model="Project.inputs_ESA.device_info.machine_type"
                    active-text="Wave Energy Converter"
                    inactive-text="Tidal Energy Converter"
                    active-color="#409EFF"
                    inactive-color="#409EFF"
                    active-value="WEC"
                    inactive-value="TEC"
                    :disabled="ProjectStatus.flag_url_ec_get_project == 'True'"
                  />
                </td>
              </tr>
            </table>
          </ul>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px"> Floating device(s) : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-switch
                    v-model="Project.inputs_ESA.device_info.floating"
                    active-text="Yes"
                    inactive-text="No"
                    :disabled="ProjectStatus.flag_url_mc_general == 'True'"
                  />
                </td>
                <td class="form_lines" style="width:60px" />
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px"> Number of device(s) : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.device_info.number_of_device" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ec_get_farm == 'True'" />
                </td>
                <td class="form_lines" />
              </tr>
            </table>
          </ul>

          <ul>
            <h3> Devices locations </h3>
            <div class="v-cloak">
              {{ LON = Project.inputs_ESA.device_info.coordinates_devices_x }}
              {{ LAT = Project.inputs_ESA.device_info.coordinates_devices_y }}
            </div>
            <el-button
              type="info"
              @click.prevent="addNewElement(LON), addNewElement(LAT)"
              :disabled="ProjectStatus.flag_url_ec_get_farm == 'True'"
            >
              Add Device
            </el-button>
            <br>
            <br>

            <table>
              <tbody>
                <tr>
                  <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                  <td style="font-weight:bold;font-family:Open Sans"> Longitude [ UTM ] </td>
                  <td style="font-weight:bold;font-family:Open Sans"> Latitude [ UTM ] </td>
                </tr>
                <tr v-for="(lon, k) in LON" :key="k">
                  <td>
                    <el-button
                      icon="el-icon-delete"
                      type="danger"
                      @click.prevent="deleteElement(k, LON), deleteElement(k, LAT)"
                      :disabled="ProjectStatus.flag_url_ec_get_farm == 'True'"
                    />
                  </td>
                  <td>
                    <el-input-number v-model="LON[k]" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ec_get_farm == 'True'" />
                  </td>
                  <td>
                    <el-input-number v-model="LAT[k]" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ec_get_farm == 'True'" />
                  </td>
                </tr>
              </tbody>
            </table>
          </ul>
        </el-collapse-item>
        <hr>

        <el-collapse-item name="2">
          <template slot="title">
            <h2 class="h2_section">
              Device Dimensions
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar2" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Height :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.device_info.dimensions.height" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_mc_dimensions == 'True'" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span> [m] </span>
                </td>
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px">Width :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.device_info.dimensions.width" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_mc_dimensions == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [m] </span>
                </td>
              </tr>
              <tr>
                <td class="form_lines">
                  <span style="font-weight:bold;font-size:15px">Length :</span>
                </td>
                <td class="form_lines">
                  <el-input-number v-model="Project.inputs_ESA.device_info.dimensions.length" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_mc_dimensions == 'True'"/>
                </td>
                <td class="form_lines">
                  <span> [m] </span>
                </td>
                <td class="form_lines">
                  <span style="font-weight:bold;font-size:15px">Wet Area :</span>
                </td>
                <td class="form_lines">
                  <el-input-number v-model="Project.inputs_ESA.device_info.dimensions.wet_area" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_mc_dimensions == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [m²] </span>
                </td>
              </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Dry Area :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.device_info.dimensions.dry_area" style="width:175px" :controls="false" :disabled="ProjectStatus.flag_url_mc_dimensions == 'True'" type="number" />
                  </td>
                  <td class="form_lines">
                    <span style="position:relative;top:4px"> [m²] </span>
                  </td>
                </tr>
            </table>
          </ul>
        </el-collapse-item>
        <hr>

        <el-collapse-item name="3">
          <template slot="title">
            <h2 class="h2_section">
              Resources
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar3" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:130px">
                  <span style="font-weight:bold;font-size:15px">Resource Reduction :</span>
                </td>
                <td class="form_lines">
                  <el-input-number v-model="Project.inputs_ESA.device_info.resource_reduction" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_ec_get_farm == 'True'" />
                </td>
              </tr>
            </table>
          </ul>

          <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3 ||ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2">
            <h3> Used materials for the project </h3>
            <ul>
              <div>
                <el-checkbox-group v-model="used_materials_DI">
                  <el-checkbox-button v-for="(item, index) in materials" :key="index" :label="materials_properties[index]" @change="SetValue1()" :disabled="ProjectStatus.flag_url_mc_general == 'True' && (Check_Imported_Material_MC(materials_properties[index]) || Check_Imported_Material_ET(materials_properties[index]))"><span style="font-size:13px">{{ item }}</span></el-checkbox-button>
                </el-checkbox-group>
              </div>
            </ul>
            <br>

            <template v-if="used_materials_DI.length != 0">
              <h3> Quantity of used materials for the project </h3>
              <div>
                <div v-for="(mat, name) in Project.inputs_ESA.device_info.materials" v-bind:key="(name)">
                  <template v-if="used_materials_DI.includes(name)">
                    <ul>
                      <table style="width:900px;border:none">
                        <tr>
                          <td class="form_lines" style="width:130px">
                          <span style="font-style:italic;font-weight:bold;font-size:13px">{{ materials[materials_properties.indexOf(name)] }} :</span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="mat.value" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_mc_general == 'True' && (Check_Imported_Material_MC(name) || Check_Imported_Material_ET(name))" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span> [kg] </span>
                          </td>
                          <td class="form_lines" />
                        </tr>
                      </table>
                    </ul>
                  </template>
                </div>
              </div>
              <h3> Quantity of used materials to recycle </h3>
              <div v-for="(mat2, name2) in Project.inputs_ESA.device_info.materials_to_recycle" v-bind:key="(name2)">
                <template v-if="used_materials_DI.includes(name2)">
                  <ul>
                    <table style="width:900px;border:none">
                      <tr>
                        <td class="form_lines" style="width:130px">
                        <span style="font-style:italic;font-weight:bold;font-size:13px">{{ materials[materials_properties.indexOf(name2)] }} :</span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="mat2.value" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span> [kg] </span>
                        </td>
                        <td class="form_lines" />
                      </tr>
                    </table>
                  </ul>
                </template>
              </div>
            </template>
            <template v-else>
              <h3> No material selected </h3>
            </template>
          </template>

        </el-collapse-item>
        <hr>

        <template v-if="ProjectStatus.complexity_level === '3' | ProjectStatus.complexity_level === 3">
          <el-collapse-item name="4">
            <template slot="title">
              <h2 class="h2_section">
                Environmental measurements
              </h2>
            </template>

            <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar4" > Section Help </span>

            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px">Measured noise of the device :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.device_info.measured_noise" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span> [dB re 1 μ Pa] </span>
                  </td>
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px">Measured turbidity due to device installation :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.device_info.measured_turbidity" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [V/m] </span>
                  </td>
                </tr>
              </table>
            </ul>

          </el-collapse-item>
          <hr>
        </template>

        <el-collapse-item name="5">
          <template slot="title">
            <h2 class="h2_section">
              Fishing restriction
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar5" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:130px">
                  <span style="font-weight:bold;font-size:15px">Fishery restriction surface around devices :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.device_info.Fishery_Restriction_Surface_around_devices" style="width:175px" :controls="false" type="number" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span> [m²] </span>
                </td>
                <td class="form_lines" />
              </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <el-collapse-item name="6">
          <template slot="title">
            <h2 class="h2_section">
              Foundation
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar6" > Section Help </span>

          <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3 || ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2">
            <h3> Used materials for the foundation </h3>
            <ul>
              <div>
                <el-checkbox-group v-model="used_materials_foundation_DI">
                  <el-checkbox-button v-for="(item2, index2) in materials" :key="index2" :label="materials_properties[index2]" @change="SetValue2()" :disabled="ProjectStatus.flag_url_sk_get_env_impact == 'True' && Check_Imported_Material_SK(materials_properties[index2])"><span style="font-size:13px">{{ item2 }}</span></el-checkbox-button>
                </el-checkbox-group>
              </div>
            </ul>
            <br>

            <template v-if="used_materials_foundation_DI.length != 0">
              <h3> Quantity of used materials for the foundation </h3>
              <div>
                <div v-for="(mat3, name3) in Project.inputs_ESA.device_info.foundation.materials" v-bind:key="(name3)">
                  <template v-if="used_materials_foundation_DI.includes(name3)">
                    <ul>
                      <table style="width:900px;border:none">
                        <tr>
                          <td class="form_lines" style="width:130px">
                            <span style="font-style:italic;font-weight:bold;font-size:13px">{{ materials[materials_properties.indexOf(name3)] }} :</span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="mat3.value" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sk_get_env_impact == 'True' && Check_Imported_Material_SK(name3)" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span> [kg] </span>
                          </td>
                          <td class="form_lines" />
                        </tr>
                      </table>
                    </ul>
                  </template>
                </div>
              </div>
              <h3> Quantity materials used for foundation to recycle </h3>
              <div v-for="(mat4, name4) in Project.inputs_ESA.device_info.foundation.materials_to_recycle" v-bind:key="(name4)">
                <template v-if="used_materials_foundation_DI.includes(name4)">
                  <ul>
                    <table style="width:900px;border:none">
                      <tr>
                        <td class="form_lines" style="width:130px">
                          <span style="font-style:italic;font-weight:bold;font-size:13px">{{ materials[materials_properties.indexOf(name4)] }} :</span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="mat4.value" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span> [kg] </span>
                        </td>
                        <td class="form_lines" />
                      </tr>
                    </table>
                  </ul>
                </template>
              </div>
            </template>
            <template v-else>
              <h3> No material selected </h3>
            </template>
          </template>
          <br>
          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px">Footprint :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.device_info.foundation.footprint" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sk_get_env_impact == 'True'" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span style="margin-left:10px"> [m²] </span>
                </td>
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px">Surface of colonisable part :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.device_info.foundation.submerged_surface" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sk_get_env_impact == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [m²] </span>
                </td>
              </tr>
              <tr>
                <td class="form_lines">
                  <span style="font-weight:bold;font-size:15px">Measured Noise :</span>
                </td>
                <td class="form_lines">
                  <el-input-number v-model="Project.inputs_ESA.device_info.foundation.measured_noise" style="width:175px" :controls="false" type="number" />
                </td>
                <td class="form_lines">
                  <span style="margin-left:10px"> [dB] </span>
                </td>
              </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

      </el-collapse>

      <br>

      <el-button
        type="info"
        style="float:left;font-family:Open Sans"
        @click.prevent="changePage('Farm_Info')"
      ><i class="el-icon-arrow-left" />Previous Page </el-button>

      <el-button
        type="info"
        style="float:right;font-family:Open Sans"
        @click.prevent="ProjectStatus.device_info_page = 'True';changePage('Electrical_Info')"
      >Next Page <i class="el-icon-arrow-right" /> </el-button>
      <template v-if="GoToRunModule === true">
        <br><br><br>
        <el-button type='info'
                style="float:right;margin-left:25px;font-family:Open Sans"
                @click.prevent="ProjectStatus.device_info_page = 'True';changePage('Run_Module')">Run Module Page <i class="el-icon-arrow-right"></i> </el-button>
      </template>

    </template>
    <template v-else>
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
    </template>

    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      activeNames: [],
      test: '',
      LON: [],
      LAT: [],
      materials: ['ABS', 'Unalloyed Steel', 'Low Alloyed Steel', 'Reinforcing Steel', 'Aluminium', 'Concrete', 'Brick', 'Copper', 'Fiberglass', 'Synthetic Fiber', 'Cast iron', 'Gravel', 'Brass', 'Magnesium', 'Kraft Paper', 'Alkyd Paint', 'Polybbutadiene', 'Polypropylene', 'PVC', 'Polyethylene', 'Epoxy Resin', 'Sand', 'Ceramic', 'Zinc', 'Lead'],
      materials_properties: ['ABS', 'unalloyed_steel', 'low_alloyed_steel', 'reinforcing_steel', 'aluminium', 'concrete', 'brick', 'copper', 'fiberglass', 'synthetic_fiber', 'cast_iron', 'gravel', 'brass', 'magnesium', 'kraft_paper', 'alkyd_paint', 'polybutadiene', 'polypropylene', 'PVC', 'polyethylene', 'epoxy_resin', 'sand', 'ceramic', 'zinc', 'lead']
    }
  },
  computed: {
    // Load the Project, ProjectStatus, used_materials_DI and used_materials_foundation_DI from the local storage
    // Define a getter and a setter for used_materials_DI and used_materials_foundation_DI
    ...mapState(['Project', 'ProjectStatus', 'used_materials_DI', 'used_materials_foundation_DI', 'GoToRunModule', 'Name', 'entitylist']),
    used_materials_DI: {
      get() {
        return this.$store.state.used_materials_DI
      },
      set(newValue) {
        return this.$store.dispatch('set_UMDI', newValue)
      }
    },
    used_materials_foundation_DI: {
      get() {
        return this.$store.state.used_materials_foundation_DI
      },
      set(newValue) {
        return this.$store.dispatch('set_UMFDI', newValue)
      }
    },
    Project: {
      get () {
        return this.$store.state.Project
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectAction', newValue)
      }
    },
    ProjectStatus: {
      get () {
        return this.$store.state.ProjectStatus
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectStatusAction', newValue)
      }
    }
  },
  beforeMount() {
    // Function executed before the appearance of the page
    // Set used_materials_DI and used_materials_foundation_DI to the appropriate value when project is loaded
    for (const i in this.Project.inputs_ESA.device_info.materials) {
      if (this.Project.inputs_ESA.device_info.materials[i].value > 0 || this.Project.inputs_ESA.device_info.materials_to_recycle[i].value > 0) {
        if (!(this.used_materials_DI.includes(i))) {
          this.used_materials_DI.push(i)
        }
      }
    }
    for (const i in this.Project.inputs_ESA.device_info.materials) {
      if (this.Project.inputs_ESA.device_info.foundation.materials[i].value > 0 || this.Project.inputs_ESA.device_info.foundation.materials_to_recycle[i].value > 0) {
        if (!(this.used_materials_foundation_DI.includes(i))) {
          this.used_materials_foundation_DI.push(i)
        }
      }
    }
  },
  methods: {
    addNewElement(Variable) {
      // Add a line to the longitude latitude table present in Device general info section
      Variable.push(0)
    },
    deleteElement(index, Variable) {
      // Delete the selected line in the longitude latitude table
      // This function is activated with the delete button present in the first column of the table
      if (index > -1) {
        Variable.splice(index, 1)
      }
    },
    changePage(pagename) {
      // Set the ProjectStatus.device_info_page variable to True
      // Go to the page named pagename
      this.$router.push({
        name: pagename
      })
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Device General Info',
        message: '<h3> Device Type </h3> <span>Precise if device type is a wave energy converter or a tidal energy converter, if it will be floating and the number of devices</span>' +
          '<h3> Devices locations </h3> <span>Enter coordinates of location of each device [UTM]]</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Device Dimensions',
        message: '<h3> Height </h3> <span>Device height above soil [m]]</span>' +
          '<h3> Width </h3> <span>Width [m]]</span>' +
          '<h3> Length </h3> <span>Length [m]]</span>' +
          '<h3> Wet Area </h3> <span>Total surface below water available for colonisation [m²]</span>' +
          '<h3> Dry Area </h3> <span>Total surface above water [m²]</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar3() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Resources',
        message: '<h3> Ressource Reduction </h3> <span>Pourcentage of extraction of energy from the currents may reduce the ability of streams to transport sediment and debris.</span> ' +
        '<span>Information required to assess the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#energy-modification" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> Energy modification </a></span>'+
          '<h3> Used materials for the project </h3> <span>Quantity of materials used in the device. Select and enter quantity [kg] of the different materials used and brought back to land to by recycled. Information required to run the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/cfp_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Carbon Footprint assessment</a></span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar4() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Environmental measurements',
        message: '<h3> Measured noise of the device </h3> <span>Measured noise around device, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#underwater-noise" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> underwater noise</a> due to MRE devices in operation phase</span>' + 
        '<h3> Measured turbidity due to device installation </h3> <span>Measured noise around device, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#turbidity" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> turbidity</a> due to MRE devices in operation phase</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar5() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Fishing restriction',
        message: '<h3> Fishery restriction surface around devices </h3> <span>Enter surface around devices that will be close to fisheries [m²], required information to assess <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#reserve-effect" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> reserve effect </a></span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar6() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Foundation',
        message: '<h3> Used materials for the foundation </h3> <span>Quantity of materials used in the foundations. Select and enter quantity [kg] of the different materials used and brought back to land to by recycled. Information required to run the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/cfp_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Carbon Footprint assessment</a></span>' +
          '<h3> Footprint  </h3> <span>Enter surface of habitat modification [m²]. Information required to run the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#footprint" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Footprint assessment</a></span>' +
          '<h3> Surface of colonisable part </h3> <span>Enter the surface of colonisable part of foundation for biofouling [m²]. Information required to measure the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#reef-effect" target="_blank" style="cursor:pointer; font-size:15px; color:blue">Reef effect</a></span>' +
          '<h3> Measured Noise </h3> <span>Measured noise around founadtions, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#underwater-noise" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> underwater noise</a> due to MRE foundations in operation phase</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    SetValue1() {
      for (var i=0; i<this.materials_properties.length; i++) {
        if (!(this.used_materials_DI.includes(this.materials_properties[i]))) {
          this.Project.inputs_ESA.device_info.materials[this.materials_properties[i]].value = 0
          this.Project.inputs_ESA.device_info.materials_to_recycle[this.materials_properties[i]].value = 0
        }
      }
    },
    SetValue2() {
      for (var i=0; i<this.materials_properties.length; i++) {
        if (!(this.used_materials_foundation_DI.includes(this.materials_properties[i]))) {
          this.Project.inputs_ESA.device_info.foundation.materials[this.materials_properties[i]].value = 0
          this.Project.inputs_ESA.device_info.foundation.materials_to_recycle[this.materials_properties[i]].value = 0
        }
      }
    },
    Check_Imported_Material_SK(name) {
      if(this.Project.url_sk_get_env_impact.data.farm.material_quantity_list != undefined){
        for (let i=0; i<this.Project.url_sk_get_env_impact.data.farm.material_quantity_list.length; i++) {
          if (this.Project.url_sk_get_env_impact.data.farm.material_quantity_list[i].material_name == name) {
            return true
          }
          if ((this.Project.url_sk_get_env_impact.data.farm.material_quantity_list[i].material_name == 'nylon')&&(name == 'synthetic_fiber')) {
            return true
          }
          if ((this.Project.url_sk_get_env_impact.data.farm.material_quantity_list[i].material_name == 'steel')&&(name == 'unalloyed_steel')) {
            return true
          }
        }
        return false
      } else {
        return false
      }
    },
    Check_Imported_Material_MC(name) {
      for (let i=0; i<this.Project.url_mc_general.materials.length; i++) {
        if (this.Project.url_mc_general.materials[i].material_name == name) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'abs')&&(name == 'ABS')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'undefined')&&(name == 'unalloyed_steel')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'low_unalloyed_steel')&&(name == 'low_alloyed_steel')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'steel')&&(name == 'reinforcing_steel')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'fibre')&&(name == 'fiberglass')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'alkyd_pain')&&(name == 'alkyd_paint')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'granulate')&&(name == 'polypropylene')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'pvc')&&(name == 'PVC')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'hd')&&(name == 'polyethylene')) {
          return true
        }
        if ((this.Project.url_mc_general.materials[i].material_name == 'tile')&&(name == 'ceramic')) {
          return true
        }
      }
      return false
    },
    Check_Imported_Material_ET(name) {
      if(this.Project.url_et_array.materials != undefined){
        for (let i=0; i<this.Project.url_et_array.materials.value.length; i++) {
          if (this.Project.url_et_array.materials.value[i].material_name == name) {
            return true
          }
        }
        return false
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss">

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .h2_section {
    user-select: none;
    font-size: 25px
  }

  table {
    border-collapse: collapse;
    border: 1.5px solid #444444;
    border-radius: 3px;
    background-color: #fff;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    padding: 10px 10px;
    border: 1.5px solid #444444;
    text-align: center;
  }

    th.active {
      color: #0400ff;
    }

      th.active .arrow {
        opacity: 1;
      }

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>
