<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'
const animationDuration = 0
export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '300px'
    }
  },
  data() {
    return {
      chart: null
    }
  },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project', 'Results'])
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.chart.setOption({
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow' //'line' | 'shadow'
          },
          formatter: function (params) {
              var tar;
              if (params[1].value !== '-') {
                  tar = params[1];
              }
              else {
                  tar = params[0];
              }
              return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
          }
        },
        grid: [{
          top: 10,
          left: '2%',
          right: '2%',
          bottom: '3%',
          containLabel: true
        }],
        xAxis: [{
          type: 'category',
          data: [this.Project.name, 'Coal\n[1,2,3,4,7,8]', 'Oil\n[1,2,3,4,7,10]', 'Gas\n[1,2,3,4,7,8,11]', 'Biomass\n[1,5,12]', 'Photovoltaics\n[1,2,7,9,13]', 'Wind\n[1,2,7,14,15]', 'OWF\n[1,2,7,14,15]', 'Nuclear\n[1,2,3,7,10,11]', 'Geothermal\n[6]'],
          axisTick: {
            alignWithLabel: true
          }
        }],
        yAxis: [{
          type: 'value',
          axisTick: {
            show: false
          }
        }],
        series: [{
          name: 'Mean GWP',
          type: 'bar',
          stack: 'mean',
          barWidth: '30%',
          data: ['-', 1100, 850, 610, 67, 56.5, 19, 14, 13.4, 60],
          animationDuration
        },{
          name: 'Mean GWP',
          type: 'bar',
          stack: 'mean',
          barWidth: '30%',
          data: [this.Results.carbon_footprint.CFP_global.GWP, '-', '-', '-', '-', '-', '-', '-', '-', '-'],
          color: 'orange',
          animationDuration
        }]
      })
    }
  }
}
</script>
