<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'
const animationDuration = 0
export default {
  data() {
    return {
      dataserie: []
    }
  },
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '80%'
    },
    height: {
      type: String,
      default: '300px'
    }
  },
  data() {
    return {
      chart: null,
      dataserie: []
    }
  },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project', 'Results', 'CED', 'names'])
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
    this.dataserie = [{
      name: this.Project.name,
      type: 'bar',
      barWidth: '10%',
      data: [(this.Results.carbon_footprint.CFP_phase.cfp_production.CED), (this.Results.carbon_footprint.CFP_phase.cfp_installation.CED), (this.Results.carbon_footprint.CFP_phase.cfp_exploitation.CED), (this.Results.carbon_footprint.CFP_phase.cfp_dismantling.CED), (this.Results.carbon_footprint.CFP_phase.cfp_treatment.CED), (this.Results.carbon_footprint.CFP_global.CED)],
      animationDuration
    }]
    for (let i=0; i<this.CED.length; i++) {
      this.dataserie.push({
          name: this.names[i],
          type: 'bar',
          barWidth: '10%',
          data: [this.CED[i][0], this.CED[i][1], this.CED[i][2], this.CED[i][3], this.CED[i][4], this.CED[i][5]],
          animationDuration
        })
    }
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.chart.setOption({
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow' // 'line' | 'shadow'
          }
        },
        grid: {
          top: 10,
          left: '2%',
          right: '2%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [{
          type: 'category',
          data: ['Production', 'Installation', 'Exploitation', 'Dismantling', 'Treatment', 'Total life cycle'],
          axisTick: {
            alignWithLabel: true
          }
        }],
        yAxis: [{
          type: 'value',
          axisTick: {
            show: false
          }
        }],
        series: this.dataserie
      })
    }
  }
}
</script>
