<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <el-button
      type="info"
      style="float:left;font-family:Open Sans"
      @click.prevent="changePage('Logistics_Info')"
    ><i class="el-icon-arrow-left" />Previous Page </el-button>
    <br><br>

    <tr>
      <td style="width:15%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> Inputs Summary </h1>
      </td>
      <td style="width:30%;background-color: white; border:none;text-align:left">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>

    <template v-if="ProjectStatus.complexity_level == 0">
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
      <br><br>
    </template>
    <template v-else>
      <ul>
        <table>
          <tr>
            <td style="width:400px">
              <span class="large_span"> Farm Info </span>
            </td>
            <td style="width:400px">
              <template v-if="ProjectStatus.farm_info_page === 'True'">
                <span class="span_true"> Complete </span>
              </template>
              <template v-else>
                <span class="span_false"> UnComplete </span>
              </template>
            </td>
            <td style="width:200px;height:80px">
              <el-button @click.prevent="GoToRunModule = true; changePage('Farm_Info')" style="width:150px"> 
                <el-row>
                  <img src="@/assets/logos/Farm_Info_logo.jpg" width="35" height="30" align="left" style="margin-right:10px">
                  <span> Farm <br> Info </span>
                </el-row>
              </el-button>
            </td>
          </tr>
          <template v-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2 || ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
            <tr>
              <td style="width:400px">
                <span class="large_span"> Device Info </span>
              </td>
              <td>
                <template v-if="ProjectStatus.device_info_page === 'True'">
                  <span class="span_true"> Complete </span>
                </template>
                <template v-else>
                  <span class="span_false"> UnComplete </span>
                </template>
              </td>
              <td style="width:200px;height:80px">
                <el-button @click.prevent="GoToRunModule = true; changePage('Device_Info')" style="width:150px">
                  <el-row>
                    <img src="@/assets/logos/Tidal_turbine.png" width="35" height="30" align="left" style="margin-right:10px">
                    <span> Device <br> Info </span>
                  </el-row>
                </el-button>
              </td>
            </tr>
            <tr>
              <td style="width:400px">
                <span class="large_span"> Electrical Info </span>
              </td>
              <td>
                <template v-if="ProjectStatus.electrical_info_page === 'True'">
                  <span class="span_true"> Complete </span>
                </template>
                <template v-else>
                  <span class="span_false"> UnComplete </span>
                </template>
              </td>
              <td style="width:200px;height:80px">
                <el-button @click.prevent="GoToRunModule = true; changePage('Electrical_Info')" style="width:150px">
                  <el-row>
                    <img src="@/assets/logos/thunder.png" width="32" height="30" align="left" style="margin-right:10px">
                    <span> Electrical <br> Info </span>
                  </el-row>
                </el-button>
              </td>
            </tr>
            <tr>
              <td style="width:400px">
                <span class="large_span"> Logistics Info </span>
              </td>
              <td>
                <template v-if="ProjectStatus.logistics_info_page === 'True'">
                  <span class="span_true"> Complete </span>
                </template>
                <template v-else>
                  <span class="span_false"> UnComplete </span>
                </template>
              </td>
              <td style="width:200px;height:80px">
                <el-button @click.prevent="GoToRunModule = true; changePage('Logistics_Info')" style="width:150px">
                  <el-row>
                    <img src="@/assets/logos/Logistics.png" width="35" height="30" align="left" style="margin-right:10px">
                    <span> Logistics <br> Info </span>
                  </el-row>
                </el-button>
              </td>
            </tr>
          </template>
        </table>
      </ul>

      <el-row>
        <el-col :lg="5">
            <template v-if="project_running == false">
              <el-button
                type="primary"
                @click.prevent="SaveAs(); project_running = true; onRunModule()"
                style="font-size:20px;font-family:Open Sans"> Run Module
              </el-button>
            </template>
            <template v-else>            
              <el-button
                type="primary"
                :loading="true"
                style="font-size:20px;font-family:Open Sans"> Run Module
              </el-button>
            </template>
        </el-col>
        <el-col :lg="12" style="position:relative;top:10px">
          <template v-if="project_running == true">
            <span style="font-weight:bold;font-size:20px"> Calculation in progress... </span>
          </template>
        </el-col>
      </el-row>
    </template>

    <br>
    <br>
    <template v-if="Log.analysis_status === 'failed'">
      <span> The calculation has failed. Please check your inputs. </span>
    </template>
    <br>
    <br>

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      Log: '',
      Dialog1: false
    }
  },
  beforeMount() {
    if (this.project_running == true) {
      this.ReadLog(10)
    }
  },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project', 'ProjectStatus', 'Results', 'project_running', 'Name', 'Description', 'GoToRunModule']),
    Results: {
      get () {
        return this.$store.state.Results
      },
      set (newValue) {
        return this.$store.dispatch('set_ResultsAction', newValue)
      }
    },
    project_running: {
      get () {
        return this.$store.state.project_running
      },
      set (newValue) {
        return this.$store.dispatch('set_project_runningAction', newValue)
      }
    },
    Name: {
      get () {
        return this.$store.state.Name
      },
      set (newValue) {
        return this.$store.dispatch('set_NameAction', newValue)
      }
    },
    Description: {
      get () {
        return this.$store.state.Description
      },
      set (newValue) {
        return this.$store.dispatch('set_DescriptionAction', newValue)
      }
    },
    GoToRunModule: {
      get () {
        return this.$store.state.GoToRunModule
      },
      set (newValue) {
        return this.$store.dispatch('set_GoToRunModuleAction', newValue)
      }
    }
  },
  methods: {
    LoadOutputs(projectname) {
      const path2 = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${this.ProjectStatus.entity_id}/${projectname}/loadoutputs`
      return axios.post(path2)
        .then((res) => {
          const endangered_species = res.data[0]
          const environmental_impact_assessment = res.data[1]
          const carbon_footprint = res.data[2]
          const social_acceptance = res.data[3]
          this.Results = {
            "endangered_species": endangered_species,
            "environmental_impact_assessment": environmental_impact_assessment,
            "carbon_footprint": carbon_footprint,
            "social_acceptance": social_acceptance,
          }
          console.log(this.Results)
          this.RedirectToOutput()
        })
    },
    async RunProject(payload) {
      // Call the API POST method run which call the backend of the module
      // The API method is described in */service/api/postInputs/_init_.py
      // Give payload to the backend as an input
      // Take the Log of the run to check if the module ran successfully or not
      const my_name = this.Name + '_' + this.ProjectStatus.entity_id
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${my_name}/run`
      await axios
        .post(path, payload)
        .then((res) => {
          this.Log = res.data
          if (this.Log.analysis_status === 'success') {
            this.LoadOutputs(this.Name)
          }
          this.project_running = false
        })
    },
    onRunModule() {
      // Create the payload used in RunProject function
      // Call the RunProject function
      const payload = {
          name: this.Name,
          description: this.Description,
          inputs_ESA: this.Project.inputs_ESA,
          run_mode: 'standalone',
          url_sc_get_farm: this.Project.url_sc_get_farm,
          url_sc_get_current: this.Project.url_sc_get_current,
          url_ec_get_farm: this.Project.url_ec_get_farm,
          url_ec_get_project: this.Project.url_ec_get_project,
          url_mc_dimensions: this.Project.url_mc_dimensions,
          url_mc_general: this.Project.url_mc_general,
          url_ed_get_results: this.Project.url_ed_get_results,
          url_sk_get_env_impact: this.Project.url_sk_get_env_impact,
          url_lmo_results: this.Project.url_lmo_results,
          url_lmo_catalogue: this.Project.url_lmo_catalogue,
          url_ed_catalogue_static_cable: this.Project.url_ed_catalogue_static_cable,
          url_ed_catalogue_dynamic_cable: this.Project.url_ed_catalogue_dynamic_cable,
          url_ed_catalogue_collection_point: this.Project.url_ed_catalogue_collection_point
      }
      this.Log = ''
      this.RunProject(payload)
    },
    RedirectToOutput() {
      // Redirect the user to the Endangered_Species page if the module ran successfully
      this.$router.push({ name: 'Endangered_Species' })
    },
    SaveAs() {
      // Define the payload input variable given to saveProject function
      const payload = {
          name: this.Name,
          description: this.Description,
          inputs_ESA: this.Project.inputs_ESA,
          run_mode: 'standalone',
          url_sc_get_farm: this.Project.url_sc_get_farm,
          url_sc_get_current: this.Project.url_sc_get_current,
          url_ec_get_farm: this.Project.url_ec_get_farm,
          url_ec_get_project: this.Project.url_ec_get_project,
          url_mc_dimensions: this.Project.url_mc_dimensions,
          url_mc_general: this.Project.url_mc_general,
          url_ed_get_results: this.Project.url_ed_get_results,
          url_sk_get_env_impact: this.Project.url_sk_get_env_impact,
          url_lmo_results: this.Project.url_lmo_results,
          url_lmo_catalogue: this.Project.url_lmo_catalogue,
          url_ed_catalogue_static_cable: this.Project.url_ed_catalogue_static_cable,
          url_ed_catalogue_dynamic_cable: this.Project.url_ed_catalogue_dynamic_cable,
          url_ed_catalogue_collection_point: this.Project.url_ed_catalogue_collection_point
      }
      // Call saveProject function
      const my_name = this.Name + '_' + this.ProjectStatus.entity_id
      this.saveProject(payload, my_name)
      // Define payload0 input variable given to saveStatus function
      const payload0 = {
        description: this.Description,
        farm_info_page: this.ProjectStatus.farm_info_page,
        device_info_page: this.ProjectStatus.device_info_page,
        electrical_info_page: this.ProjectStatus.electrical_info_page,
        logistics_info_page: this.ProjectStatus.logistics_info_page,
        complexity_level: this.ProjectStatus.complexity_level,
        entity_id: this.ProjectStatus.entity_id
      }
      // Call saveStatus function
      this.saveStatus(payload0, this.Name)
    },
    saveProject(payload, name) {
      // Call the API POST method inputs which save the inputs structure into a json file
      // The API method is described in */service/api/postInputs/_init_.py
      // The file is saved in */storage
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/inputs`
      axios
        .post(path, payload)
    },
    saveStatus(payload, name) {
      // Call the API POST method saveStatus which save the inputs structure into a json file
      // The API method is described in */service/api/postInputs/_init_.py
      // The file is saved in */storage
      const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/saveStatus`
      axios
        .post(path, payload)
    },
    changePage(pagename) {
      // Go to the page named pagename
      this.$router.push({
        name: pagename
      })
    }
  }
}
</script>

<style lang="scss">

  .span_false {
    font-size: 25px;
    color: #ff0000
  }

  .span_true {
    font-size: 25px;
    color: #00ff21
  }

  .large_span {
      font-size: 25px
  }

table {
    border-collapse: collapse;
    border: 1px solid #444444;
    border-radius: 3px;
    background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1.5px solid #444444;
  text-align: center;
}

th.active {
  color: #0400ff;
}

th.active .arrow {
  opacity: 1;
}

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>
