<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <ul>
        <table style="width:100%;border:none">
          <tr>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToES()"
              >
                <el-row>
                  <img src="@/assets/logos/sea-lion.png" width="35" height="30" align="left">
                  <span>Endangered <br> Species</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                disabled
              >
                <el-row>
                  <img src="@/assets/logos/green.png" width="35" height="30" align="left">
                  <span>Environmental <br> Impact Assessment</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToCF()"
              >
                <el-row>
                  <img src="@/assets/logos/recycling.png" width="30" height="28" align="center">
                  <span>Carbon Footprint</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToSA()"
              >
                <el-row>
                  <img src="@/assets/logos/job.png" width="30" height="28" align="center">
                  <span>Social Acceptance</span>
                </el-row>
              </el-button>
            </td>
          </tr>
        </table>
      </ul>
    </template>

    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2">
      <ul>
        <table style="width:100%;border:none">
          <tr>
            <td style="width:50%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                @click.prevent="GoToES()"
              >
                <el-row>
                  <img src="@/assets/logos/sea-lion.png" width="35" height="30" align="left">
                  <span>Endangered <br> Species</span>
                </el-row>
              </el-button>
            </td>
            <td style="width:50%;border:none;background-color:white">
              <el-button
                type="info"
                style="font-size:15px;width:200px"
                disabled
              >
                <el-row>
                  <img src="@/assets/logos/green.png" width="35" height="30" align="left">
                  <span>Environmental <br> Impact Assessment</span>
                </el-row>
              </el-button>
            </td>
          </tr>
        </table>
      </ul>
    </template>

    <br>
    <br>
    <img src="@/assets/logos/green.png" alt="end spe" width="100" height="90" align="left">

    <tr>
      <td style="width:30%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> Environmental Impact Assessment </h1>
      </td>
      <td style="width:20%;background-color: white; border:none;text-align:right">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>
    
    <br>
    <template v-if="Results == false">
      <span style="font-weight:bold;font-size:20px"> No outputs for this project </span>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '1' || ProjectStatus.complexity_level === 1">
      <span style="font-weight:bold;font-size:20px"> No outputs on this page for complexity level 1 </span>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2 || ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <br>
      <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar0" > Section Help </span>

      <br>
      <span style="font-size:20px;font-weight:bold;position:relative;bottom:20px"> EIA Scale </span>
      <img style="margin-left:30px" center width="500px" src="@/assets/logos/echelle_EIA.png">
      <br>
      <h2 class="h2_section">
        Global Environmental Impact Assessment
      </h2>

      <el-collapse v-model="activeNames">


        <ul>
          <ul>
            <table style="width:90%;border:none">
              <tr>
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;font-size:15px">Negative <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/negative_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_global.negative_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_global.negative_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_global.negative_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum negative <br> impact : {{ Results.environmental_impact_assessment.eia_global.min_negative_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum negative <br> impact : {{ Results.environmental_impact_assessment.eia_global.max_negative_impact }}</span>
                  </template>
                </td>
                <td class="form_lines" style="width:5%" />
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Positive <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/positive_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_global.positive_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_global.positive_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_global.positive_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum positive <br> impact : {{ Results.environmental_impact_assessment.eia_global.min_positive_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum positive <br> impact : {{ Results.environmental_impact_assessment.eia_global.max_positive_impact }}</span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>
        <br>
        <hr>

        <h2 class="h2_section">
          Assessment for the technology groups
        </h2>

        <ul>
          <h3 style="color:#16a085">Hydrodynamics technology group</h3>
        </ul>

        <ul>
          <ul>
            <table style="width:90%;border:none">
              <tr>
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;font-size:15px">Negative <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/negative_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.negative_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.negative_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.negative_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.min_negative_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.max_negative_impact }}</span>
                  </template>
                </td>
                <td class="form_lines" style="width:5%" />
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Positive <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/positive_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.positive_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.positive_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.positive_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.min_positive_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.global_eis.max_positive_impact }}</span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>

        <el-collapse-item name="1">
          <template slot="title">
            <ul>
              <ul>
                <span style="font-size:15px;font-weight:bold"> Detailed Results </span>
              </ul>
            </ul>
          </template>
          <ul>
            <ul>
              <table style="width:85%">
                <tr>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Name</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Score</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Level Of Confidence</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Generic Explanation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">General Recommendation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Detailed Recommendation</td>
                </tr>
                <tr v-for="(item,index) in Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict" :key="(item,index)">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].function_name === 'Magnetic Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].function_name === 'Electric Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].function_name === 'Chemical Pollution' || Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].function_name === 'Temperature Modification' || Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].function_name === 'Turbidity' || Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].function_name === 'Underwater Noise'">
                    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
                      <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].function_name }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].score < 0">
                        <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].score }}</td>
                      </template>
                      <template v-else>
                        <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].score }}</td>
                      </template>
                      <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.confidence_dict[index].confidence_level }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].generic_explanation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].generic_explanation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].general_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].general_recommendation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].detailed_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].detailed_recommendation }}</td>
                      </template>
                    </template>
                  </template>
                  <template v-else>
                    <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].function_name }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].score < 0">
                      <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].score }}</td>
                    </template>
                    <template v-else>
                      <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.eis_dict[index].score }}</td>
                    </template>
                    <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.confidence_dict[index].confidence_level }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].generic_explanation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].generic_explanation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].general_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].general_recommendation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].detailed_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_hydrodynamics.recommendation_dict[index].detailed_recommendation }}</td>
                    </template>
                  </template>
                </tr>
              </table>
            </ul>
          </ul>
          <br>
        </el-collapse-item>
        <hr>
        <ul>
          <h3 style="color:#16a085">Electrical technology group</h3>
        </ul>

        <ul>
          <ul>
            <table style="width:90%;border:none">
              <tr>
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;font-size:15px">Negative <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/negative_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.negative_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.negative_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.negative_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.min_negative_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.max_negative_impact }}</span>
                  </template>
                </td>
                <td class="form_lines" style="width:5%" />
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Positive <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/positive_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.positive_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.positive_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.positive_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.min_positive_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.global_eis.max_positive_impact }}</span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>

        <el-collapse-item name="2">
          <template slot="title">
            <ul>
              <ul>
                <span style="font-size:15px;font-weight:bold"> Detailed Results </span>
              </ul>
            </ul>
          </template>

          <ul>
            <ul>
              <table style="width:85%">
                <tr>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Name</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Score</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Level Of Confidence</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Generic Explanation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">General Recommendation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Detailed Recommendation</td>
                </tr>
                <tr v-for="(item,index) in Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict" :key="(item,index)">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].function_name === 'Magnetic Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].function_name === 'Electric Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].function_name === 'Chemical Pollution' || Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].function_name === 'Temperature Modification' || Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].function_name === 'Turbidity' || Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].function_name === 'Underwater Noise'">
                    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
                      <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].function_name }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].score < 0">
                        <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].score }}</td>
                      </template>
                      <template v-else>
                        <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].score }}</td>
                      </template>
                      <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.confidence_dict[index].confidence_level }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].generic_explanation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].generic_explanation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].general_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].general_recommendation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].detailed_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].detailed_recommendation }}</td>
                      </template>
                    </template>
                  </template>
                  <template v-else>
                    <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].function_name }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].score < 0">
                      <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].score }}</td>
                    </template>
                    <template v-else>
                      <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.eis_dict[index].score }}</td>
                    </template>
                    <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.confidence_dict[index].confidence_level }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].generic_explanation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].generic_explanation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].general_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].general_recommendation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].detailed_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_electrical.recommendation_dict[index].detailed_recommendation }}</td>
                    </template>
                  </template>
                </tr>
              </table>
            </ul>
          </ul>
          <br>
        </el-collapse-item>
        <hr>
        <ul>
          <h3 style="color:#16a085">Station Keeping technology group</h3>
        </ul>

        <ul>
          <ul>
            <table style="width:90%;border:none">
              <tr>
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;font-size:15px">Negative <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/negative_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.negative_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.negative_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.negative_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.min_negative_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.max_negative_impact }}</span>
                  </template>
                </td>
                <td class="form_lines" style="width:5%" />
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Positive <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/positive_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.positive_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.positive_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.positive_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.min_positive_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.global_eis.max_positive_impact }}</span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>

        <el-collapse-item name="3">
          <template slot="title">
            <ul>
              <ul>
                <span style="font-size:15px;font-weight:bold"> Detailed Results </span>
              </ul>
            </ul>
          </template>

          <ul>
            <ul>
              <table style="width:85%">
                <tr>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Name</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Score</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Level Of Confidence</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Generic Explanation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">General Recommendation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Detailed Recommendation</td>
                </tr>
                <tr v-for="(item,index) in Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict" :key="(item,index)">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].function_name === 'Magnetic Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].function_name === 'Electric Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].function_name === 'Chemical Pollution' || Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].function_name === 'Temperature Modification' || Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].function_name === 'Turbidity' || Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].function_name === 'Underwater Noise'">
                    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
                      <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].function_name }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].score < 0">
                        <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].score }}</td>
                      </template>
                      <template v-else>
                        <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].score }}</td>
                      </template>
                      <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.confidence_dict[index].confidence_level }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].generic_explanation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].generic_explanation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].general_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].general_recommendation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].detailed_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].detailed_recommendation }}</td>
                      </template>
                    </template>
                  </template>
                  <template v-else>
                    <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].function_name }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].score < 0">
                      <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].score }}</td>
                    </template>
                    <template v-else>
                      <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.eis_dict[index].score }}</td>
                    </template>
                    <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.confidence_dict[index].confidence_level }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].generic_explanation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].generic_explanation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].general_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].general_recommendation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].detailed_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_station_keeping.recommendation_dict[index].detailed_recommendation }}</td>
                    </template>
                  </template>
                </tr>
              </table>
            </ul>
          </ul>
          <br>
        </el-collapse-item>
        <hr>
        <ul>
          <h3 style="color:#16a085">Installation Phase</h3>
        </ul>

        <ul>
          <ul>
            <table style="width:90%;border:none">
              <tr>
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;font-size:15px">Negative <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/negative_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.negative_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.negative_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.negative_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.min_negative_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.max_negative_impact }}</span>
                  </template>
                </td>
                <td class="form_lines" style="width:5%" />
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Positive <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/positive_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.positive_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.positive_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.positive_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.min_positive_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.global_eis.max_positive_impact }}</span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>

        <el-collapse-item name="4">
          <template slot="title">
            <ul>
              <ul>
                <span style="font-size:15px;font-weight:bold"> Detailed Results </span>
              </ul>
            </ul>
          </template>

          <ul>
            <ul>
              <table style="width:85%">
                <tr>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Name</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Score</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Level Of Confidence</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Generic Explanation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">General Recommendation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Detailed Recommendation</td>
                </tr>
                <tr v-for="(item,index) in Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict" :key="(item,index)">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].function_name === 'Magnetic Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].function_name === 'Electric Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].function_name === 'Chemical Pollution' || Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].function_name === 'Temperature Modification' || Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].function_name === 'Turbidity' || Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].function_name === 'Underwater Noise'">
                    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
                      <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].function_name }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].score < 0">
                        <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].score }}</td>
                      </template>
                      <template v-else>
                        <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].score }}</td>
                      </template>
                      <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.confidence_dict[index].confidence_level }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].generic_explanation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].generic_explanation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].general_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].general_recommendation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].detailed_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].detailed_recommendation }}</td>
                      </template>
                    </template>
                  </template>
                  <template v-else>
                    <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].function_name }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].score < 0">
                      <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].score }}</td>
                    </template>
                    <template v-else>
                      <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].score }}</td>
                    </template>
                    <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.confidence_dict[index].confidence_level }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].generic_explanation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].generic_explanation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].general_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].general_recommendation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].detailed_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_installation.recommendation_dict[index].detailed_recommendation }}</td>
                    </template>
                  </template>
                </tr>
              </table>
            </ul>
          </ul>
          <br>
        </el-collapse-item>
        <hr>
        <ul>
          <h3 style="color:#16a085">Maintenance Phase</h3>
        </ul>

        <ul>
          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar6" > Section Help </span>
          <ul>
            <table style="width:90%;border:none">
              <tr>
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;font-size:15px">Negative <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/negative_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.negative_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.negative_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.negative_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.min_negative_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum negative <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.max_negative_impact }}</span>
                  </template>
                </td>
                <td class="form_lines" style="width:5%" />
                <td class="form_lines" style="width:10%">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Positive <br> impact :</span>
                </td>
                <td class="form_lines" style="width:10%;text-align:center">
                  <div class="container" style="position:relative;top:17px"><img src="@/assets/logos/positive_impact.png" alt="end spe" width="65" height="60" align="center"></div>
                  <div class="text-block" style="position:relative;bottom:27px;left:3px">
                    <span style="font-size:25px;font-weight:bold">
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.positive_impact>900">
                        -
                      </template>
                      <template v-else>
                        {{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.positive_impact }}
                      </template>
                    </span>
                  </div>
                </td>
                <td class="form_lines" style="width:15%;text-align:center">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.positive_impact<900">
                    <span style="font-weight:bold;font-size:15px">Minimum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.min_positive_impact }}</span>
                    <br>
                    <span style="font-weight:bold;font-size:15px">Maximum positive <br> impact : {{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.global_eis.max_positive_impact }}</span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>

        <el-collapse-item name="5">
          <template slot="title">
            <ul>
              <ul>
                <span style="font-size:15px;font-weight:bold"> Detailed Results </span>
              </ul>
            </ul>
          </template>

          <ul>
            <ul>
              <table style="width:85%">
                <tr>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Name</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Impact Score</td>
                  <td style="width:10%;font-weight:bold;font-size:15px">Level Of Confidence</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Generic Explanation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">General Recommendation</td>
                  <td style="width:25%;font-weight:bold;font-size:15px">Detailed Recommendation</td>
                </tr>
                <tr v-for="(item,index) in Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict" :key="(item,index)">
                  <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].function_name === 'Magnetic Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].function_name === 'Electric Fields' || Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].function_name === 'Chemical Pollution' || Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].function_name === 'Temperature Modification' || Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].function_name === 'Turbidity' || Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].function_name === 'Underwater Noise'">
                    <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
                      <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].function_name }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].score < 0">
                        <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].score }}</td>
                      </template>
                      <template v-else>
                        <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].score }}</td>
                      </template>
                      <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.confidence_dict[index].confidence_level }}</td>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].generic_explanation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].generic_explanation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].general_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].general_recommendation }}</td>
                      </template>
                      <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].detailed_recommendation === 'nan'">
                        <td style="width:25%">-</td>
                      </template>
                      <template v-else>
                        <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].detailed_recommendation }}</td>
                      </template>
                    </template>
                  </template>
                  <template v-else>
                    <td style="width:10%;font-weight:bold">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].function_name }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_installation.eis_dict[index].score < 0">
                      <td style="width:10%;font-weight:bold;color:#ff0000">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].score }}</td>
                    </template>
                    <template v-else>
                      <td style="width:10%;font-weight:bold;color:#49dd15">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.eis_dict[index].score }}</td>
                    </template>
                    <td style="width:10%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.confidence_dict[index].confidence_level }}</td>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].generic_explanation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].generic_explanation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].general_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].general_recommendation }}</td>
                    </template>
                    <template v-if="Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].detailed_recommendation === 'nan'">
                      <td style="width:25%">-</td>
                    </template>
                    <template v-else>
                      <td style="width:25%">{{ Results.environmental_impact_assessment.eia_tech_group.impact_maintenance.recommendation_dict[index].detailed_recommendation }}</td>
                    </template>
                  </template>
                </tr>
              </table>
            </ul>
          </ul>
          <br>
        </el-collapse-item>
          <hr>

        <h2 class="h2_section">
          Assessment of the pressure
        </h2>

        <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar7" > Section Help </span>

        <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
          <ul>
            <ul>
              <table style="border:none;width:100%">
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Footprint.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Footprint</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.footprint.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.footprint.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.footprint.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.footprint.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.footprint.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Resting.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Resting Place</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.resting_place.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.resting_place.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.resting_place.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.resting_place.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.resting_place.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/CollisionRisk.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Collision Risk</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.collision_risk.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.collision_risk.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Magnetic_Fields.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Magnetic Fields</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.magnetic_fields.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.magnetic_fields.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.magnetic_fields.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.magnetic_fields.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.magnetic_fields.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/CollisionRiskVessel.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Collision Risk Vessel</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/ChemicalPoll.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Chemical Pollution</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.chemical_pollution.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.chemical_pollution.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.chemical_pollution.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.chemical_pollution.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.chemical_pollution.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/EnergyMod.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Energy Modification</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.energy_modification.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.energy_modification.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.energy_modification.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.energy_modification.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.energy_modification.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Temperature.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Temperature Modification</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.temperature_modification.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.temperature_modification.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.temperature_modification.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.temperature_modification.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.temperature_modification.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Reserve.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Reserve Effect</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.reserve_effect.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.reserve_effect.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.reserve_effect.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.reserve_effect.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.reserve_effect.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Turbidity.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Turbidity</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.turbidity.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.turbidity.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.turbidity.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.turbidity.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.turbidity.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/thunder.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Electrical fields</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.electrical_fields.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.electrical_fields.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.electrical_fields.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.electrical_fields.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.electrical_fields.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Noise.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Underwater Noise</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.underwater_noise.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.underwater_noise.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.underwater_noise.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.underwater_noise.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.underwater_noise.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Reef.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Reef Effect</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.reef_effect.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.reef_effect.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.reef_effect.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.reef_effect.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.reef_effect.score }}</span>
                    </template>
                  </td>
                </tr>
              </table>
            </ul>
          </ul>
        </template>
        <template v-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2">
          <ul>
            <ul>
              <table style="border:none;width:100%">
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Footprint.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Footprint</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.footprint.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.footprint.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.footprint.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.footprint.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.footprint.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Resting.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Resting Place</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.resting_place.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.resting_place.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.resting_place.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.resting_place.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.resting_place.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/CollisionRisk.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Collision Risk</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.collision_risk.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.collision_risk.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/CollisionRiskVessel.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Collision Risk Vessel</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.collision_risk_vessel.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/EnergyMod.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Energy Modification</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.energy_modification.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.energy_modification.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.energy_modification.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.energy_modification.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.energy_modification.score }}</span>
                    </template>
                  </td>
                  <td class="form_lines" style="width:10%" />
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Reserve.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Reserve Effect</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.reserve_effect.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.reserve_effect.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.reserve_effect.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.reserve_effect.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.reserve_effect.score }}</span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <img width="50px" src="@/assets/logos/Reef.png">
                  </td>
                  <td class="form_lines" style="width:20%;text-align:center">
                    <span style="width:12%;font-weight:bold;font-size:20px">Reef Effect</span>
                  </td>
                  <td class="form_lines" style="width:10%;text-align:center">
                    <template v-if="Results.environmental_impact_assessment.eia_pressure.reef_effect.score < 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#ff0000">{{ Results.environmental_impact_assessment.eia_pressure.reef_effect.score }}</span>
                    </template>
                    <template v-else-if="Results.environmental_impact_assessment.eia_pressure.reef_effect.score == 0">
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#7f7f7f">{{ Results.environmental_impact_assessment.eia_pressure.reef_effect.score }}</span>
                    </template>
                    <template v-else>
                      <span style="width:12%;font-weight:bold;font-size:20px;color:#49dd15">{{ Results.environmental_impact_assessment.eia_pressure.reef_effect.score }}</span>
                    </template>
                  </td>
                </tr>
              </table>
            </ul>
          </ul>
        </template>
      </el-collapse>
      <hr>
    </template>
    <template v-else>
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
    </template>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Item from '../../../layout/components/Sidebar/Item.vue'
export default {
  components: { Item },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project', 'ProjectStatus', 'Results', 'Name'])
  },
  methods: {
    GoToES() {
      // Send the user to the Endangered_Species page
      this.$router.push({ name: 'Endangered_Species' })
    },
    GoToCF() {
      // Send the user to the Carbon_Footprint page
      this.$router.push({ name: 'Carbon_Footprint' })
    },
    GoToSA() {
      // Send the user to the Social_Acceptance page
      this.$router.push({ name: 'Social_Acceptance' })
    },
    async openSidebar0() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Environmental Impact Assessment',
        message: '<h3> Objectives </h3> <span>Examine interactions between MRE systems and the marine environment in terms of stressors and receptors. See the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/eia_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> Environmental Impact Assessment </a> section in the documentation.</span>'+
        '<h3> Global Environmental Impact Assessment </h3> <span>Overall positive and negative score of the whole project, correspond to the means of all environmental functions.</span>'+
        '<h3> Assessment of the Technology groups </h3> <span>Overall positive and negative impacts of the technology group and detailed results of associated functions</span>'+
        '<span><strong>Impact Score</strong> of the stressors on the receptor in the environment from -100 to 0 for "negative" impact and 0 to 50 for "positive" impacts</span>'+
        '<span><strong>Level of confidence</strong> ranging from 1 to 3 depends on the users ability to provide information on receptor presence/absence (level 2) and seasonal presence (level 3).</span>'+
        '<span><strong>Generic explanation</strong> gives short description of the result.</span>'+
        '<span><strong>General recommandations</strong> provides insight on measures to carry to improve the score</span>'+
        '<span><strong>Recommanded Surveys</strong> provides detailed insight and surveys to carry to improve results</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Global Environmental Impact Assessment',
        message: '<h3> Description </h3> <span>Overall positive and negative score of the whole project, correspond to the means of all environmental functions</span>.',
        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>
<style lang="scss">
.h2_section {
  user-select: none;
  font-size: 25px
}
table {
  border-collapse: collapse;
  border: 1.5px solid #444444;
  border-radius: 3px;
  background-color: #fff;
}
td {
  background-color: #f9f9f9;
}
th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1.5px solid #444444;
  text-align: center;
}
  th.active {
    color: #0400ff;
  }
    th.active .arrow {
      opacity: 1;
    }
/* Container holding the image and the text */
.container {
  position: relative;
  padding-left: 10px
}

/* Bottom right text */
.text-block {
  position: absolute;
  color: black;
  padding-left: 22px;
  padding-right: 20px;
  bottom: 16px
}

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>
