<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <template v-if="test_begin === true">
      <el-button type='info'
                  style="float:right"
                  @click.prevent="changePage('Farm_Info')">Resume <i class="el-icon-arrow-right"></i> </el-button>
    </template>
    
    <table class="center_page_position" style="width:80%;border:none;background-color:white">
      <tr>
        <td style="width:40%;border:none;background-color:white">
          <img id="create_project" center width="400px" src="@/assets/logos/create_project.png" @click.prevent="dialogFormVisible = true" style="cursor:pointer">
        </td>
        <td style="width:50%;border:none;background-color:white">
          <img id="load_project" center width="340px" src="@/assets/logos/load_project.png" @click.prevent="dialogFormVisible2 = true; GetMyProjectList()" style="cursor:pointer">
        </td>
      </tr>
    </table>
    <img center width="200px" src="@/assets/logos/dtoceanplus_logo.png" align="right" style="transform:translateY(600%)">
    <br><br>

    <el-dialog :visible.sync="dialogFormVisible" style="text-align:center">

      <h2>Variables required for the creation</h2>
      <br>
      <a href="http://127.0.0.1:5000/static/docs/_build/html/tutorials/new_study_standalone.html" target="_blank" ref="doc_new_project" style="display:none"/>
      <el-button size="small" @click="$refs.doc_new_project.click()">Documentation</el-button>
      <h3 style="font-style: italic">Entity name</h3>
      <el-input v-model="Name" type="text" style="width:250px" placeholder="Name of the Entity" />
      <br>
      <br>
      <h3 style="font-style: italic">Running mode</h3>
      <el-radio-group v-model="Project.run_mode">
        <el-radio label="standalone"> Standalone </el-radio>
        <el-radio label="dto"> With other modules </el-radio>
      </el-radio-group>
      <br>
      <br>
      <h3 style="font-style: italic"> Complexity level <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="dialogFormVisible3 = true" /></h3>
      <el-radio-group v-model="ProjectStatus.complexity_level">
        <el-radio :label="1"> Level 1 </el-radio>
        <el-radio :label="2"> Level 2 </el-radio>
        <el-radio :label="3"> Level 3 </el-radio>
      </el-radio-group>
      <br>
      <br>
      <h3 style="font-style: italic">Description</h3>
      <el-input v-model="Description" type="textarea" :autosize="{ minRows: 6, maxRows: 2}" style="width:300px" placeholder="Optional description" />
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click.prevent="dialogFormVisible = false">Cancel</el-button>
        <template v-if="Test_Fill(ProjectStatus.complexity_level) === 'false'||Name.length == 0">
          <el-button type="success" disabled>Confirm</el-button>
        </template>
        <template v-else>
          <el-button type="success" @click.prevent="cplx = ProjectStatus.complexity_level; rmode = Project.run_mode ;dialogFormVisible = false; onCommit(); onCreate(), openFullScreen()">Confirm</el-button>
        </template>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible2" align="center" width="80%">

      <h2>Select the project to load</h2>
      <el-table :data="esa_projects"
                element-loading-text="Loading"
                border
                fit
                highlight-current-row>
        <el-table-column prop="name"
                          label="Name"
                          width="200%"
                          align="center">
        </el-table-column>
        <el-table-column prop="time"
                          label="Date of creation"
                          width="200%"
                          align="center">
        </el-table-column>
        <el-table-column width="200%" align="center">
          <template slot-scope="scope">
            <el-button type="primary" @click.prevent="test_begin = true; GoToSelectedPage(esa_projects[scope.$index].name, 1);">Modify Inputs</el-button>
          </template>
        </el-table-column>
        <el-table-column width="200%" align="center">
          <template slot-scope="scope">
            <el-button type="success" @click.prevent="test_begin = true; GoToSelectedPage(esa_projects[scope.$index].name, 2);">See Results</el-button>
          </template>
        </el-table-column>
        <el-table-column width="100%" align="center">
          <template slot-scope="scope">
            <el-button type="danger" icon="el-icon-delete" @click.prevent="delete_index = scope.$index;dialogFormVisible4 = true" />
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click.prevent="dialogFormVisible2 = false">Cancel</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible3" align="left" width="50%">

      <h2>Complexity Level 1 </h2>
      <br>
      <span> Refers  to  early  stages  of  conception  of  an  ocean  energy  project.</span>  <br>
      <br>
      <span style="font-weight:bold">Disponible feature(s) :</span> Endangered species <br>
      <span style="font-weight:bold">Needed input(s) : </span> Location of the farm <br>
      <a href="http://127.0.0.1:5000/static/docs/_build/html/tutorials/low_complexity_standalone.html" target="_blank" ref="doc_cplx_1" style="display:none"/>
      <el-button size="small" @click="$refs.doc_cplx_1.click()">Read More</el-button>
      <br><br>
      <h2>Complexity Level 2 </h2>
      <br>
      <span> Refers to stages where the ocean energy project is at the design optimisation and feasibility stage or even at the manufacturing and operability demonstration in representative environment stage, i.e.the project is at mid-mature testing phase.  <br>
      <br>
      <span style="font-weight:bold">Disponible feature(s) :</span> The four main functions (i.e. Endangered species; Environmental impacts; Carbon  FootPrint  and  Social  Acceptance)  can  be  partially  run  to  produce  an  incomplete  ESA assessment. <br>
      <span style="font-weight:bold">Needed input(s) : </span>General information on the farm (area description, fishing regulation), devices and foundations (dimensions, materials...), electrical parts (dimensions, materials) and logistics, fishing regulation, dimensions, resources, f foundations information   <br> 
      <a href="http://127.0.0.1:5000/static/docs/_build/html/tutorials/low_complexity_standalone.html" target="_blank" ref="doc_cplx_2" style="display:none"/>
      <el-button size="small" @click="$refs.doc_cplx_2.click()">Read More</el-button>
      </span>
      <br><br>
      <h2>Complexity Level 3 </h2>
      <br>
      <span> Refers  to  commercial  array  demonstration  scale.  The  project  is  considered  completely  mature  at this stage </span><br>
      <br>
      <span style="font-weight:bold">Disponible feature(s) :</span> The ESA assessment is complete and includes all  functions developed under the four main functions. <br>
      <span style="font-weight:bold">Needed input(s) : All. <br>
      <a href="http://127.0.0.1:5000/static/docs/_build/html/tutorials/high_complexity_standalone.html" target="_blank" ref="doc_cplx_3" style="display:none"/>
      <el-button size="small" @click="$refs.doc_cplx_3.click()">Read More</el-button>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click.prevent="dialogFormVisible3 = false">Close</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible4" align="center" width="50%">

      <h2> This entity will be deleted, do you want to continue ? </h2>
      <br>
      <el-button type="primary" @click.prevent="DeleteProject(esa_projects[delete_index].name);dialogFormVisible4=false"> Yes </el-button>
      <el-button type="danger" @click.prevent="dialogFormVisible4=false"> No </el-button>
    </el-dialog>
      
  </div>
</template>

<script>
  import axios from 'axios'
  import { mapState } from 'vuex'
  import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
  export default {
    data() {
      return {
        esa_projects: [],
        dialogFormVisible: false,
        dialogFormVisible2: false,
        dialogFormVisible3: false,
        dialogFormVisible4: false,
        delete_index: '',
        entity_sc:'',
        cplx: 0,
        rmode: 'standalone'
      }
    },
    computed: {
      // Load the Project, ProjectStatus and test_begin from the local storage
      // Define a getter and a setter for test_begin variable
      ...mapState(['Project', 'ProjectStatus', 'test_begin', 'Results', 'GoToRunModule', 'Description', 'Name']),
      test_begin: {
        get () {
          return this.$store.state.test_begin
        },
        set (newValue) {
          return this.$store.dispatch('set_testbeginAction', newValue)
        }
      },
      Description: {
        get () {
          return this.$store.state.Description
        },
        set (newValue) {
          return this.$store.dispatch('set_DescriptionAction', newValue)
        }
      },
      Name: {
        get () {
          return this.$store.state.Name
        },
        set (newValue) {
          return this.$store.dispatch('set_NameAction', newValue)
        }
      },
      Project: {
        get () {
          return this.$store.state.Project
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectAction', newValue)
        }
      },
      ProjectStatus: {
        get () {
          return this.$store.state.ProjectStatus
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectStatusAction', newValue)
        }
      },
      GoToRunModule: {
        get () {
          return this.$store.state.GoToRunModule
        },
        set (newValue) {
          return this.$store.dispatch('set_GoToRunModuleAction', newValue)
        }
      },
      Results: {
        get () {
          return this.$store.state.Results
        },
        set (newValue) {
          return this.$store.dispatch('set_ResultsAction', newValue)
        }
      }
    },
    methods: {
      LoadOutputs(projectname) {
        const path2 = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/none/${projectname}/loadoutputs`
        axios.post(path2)
          .then((res) => {
            this.Results = res.data
          })
      },
      async DeleteProject(name) {
        const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/DeleteProject`
        await axios.post(path)
        this.GetMyProjectList()
      },
      Test_Fill(test_variable) {
        // Check if input variable (complexity level) is set to 1, 2 or 3
        // Otherwise the user cannot create the project (button disabled)
        if (test_variable === 0) {
          return ('false')
        } else {
          return ('true')
        }
      },
      onCommit() {
        // Commit changes to the variable present in the local storage
        // Each commit refer to a function described in */store/index.js
        this.$store.commit('set_Project', 1)
        this.$store.commit('set_TestBegin', true)
        this.$store.commit('set_SwitchFarmInfoPage', 1)
        this.$store.commit('set_um_DI', 1)
        this.$store.commit('set_umf_DI', 1)
      },
      async onCreate() {
        
        if (this.ProjectStatus.entity_id != '') {
          this.ProjectStatus.entity_id = ''
        }
        setTimeout(() => {
          const payload0 = {
            description: this.Description,
            farm_info_page: this.ProjectStatus.farm_info_page,
            device_info_page: this.ProjectStatus.device_info_page,
            electrical_info_page: this.ProjectStatus.electrical_info_page,
            logistics_info_page: this.ProjectStatus.logistics_info_page,
            complexity_level: this.cplx,
            flag_url_sc_get_farm: this.ProjectStatus.flag_url_sc_get_farm,
            flag_url_sc_get_current: this.ProjectStatus.flag_url_sc_get_current,
            flag_url_sc_get_point: this.ProjectStatus.flag_url_sc_get_point,
            flag_url_ec_get_farm: this.ProjectStatus.flag_url_ec_get_farm,
            flag_url_ec_get_project: this.ProjectStatus.flag_url_ec_get_project,
            flag_url_mc_dimensions: this.ProjectStatus.flag_url_mc_dimensions,
            flag_url_mc_general: this.ProjectStatus.flag_url_mc_general,
            flag_url_ed_get_results: this.ProjectStatus.flag_url_ed_get_results,
            flag_url_et_array: this.ProjectStatus.flag_url_et_array,
            flag_url_sk_get_env_impact: this.ProjectStatus.flag_url_sk_get_env_impact,
            flag_url_lmo_results: this.ProjectStatus.flag_url_lmo_results,
            flag_url_lmo_catalogue: this.ProjectStatus.flag_url_lmo_catalogue,
            flag_url_ed_catalogue_static_cable: this.ProjectStatus.flag_url_ed_catalogue_static_cable,
            flag_url_ed_catalogue_dynamic_cable: this.ProjectStatus.flag_url_ed_catalogue_dynamic_cable,
            flag_url_ed_catalogue_collection_point: this.ProjectStatus.flag_url_ed_catalogue_collection_point,
            length_imported_species: this.ProjectStatus.length_imported_species,
            entity_id: this.ProjectStatus.entity_id,
            length_collection_point: this.ProjectStatus.length_collection_point
          }
          this.saveStatus(payload0, this.Name)

        }, 800);
        setTimeout(() => {
          // Define two variables and pass them to the next page as argument (run and complex)
          // Change page to Farm_Info page

          const payload = {
              name: this.Name,
              description: this.Description,
              inputs_ESA: this.Project.inputs_ESA,
              run_mode: this.rmode,
              url_sc_get_farm: this.Project.url_sc_get_farm,
              url_sc_get_current: this.Project.url_sc_get_current,
              url_ec_get_farm: this.Project.url_ec_get_farm,
              url_sc_get_point: this.Project.url_sc_get_point,
              url_ec_get_project: this.Project.url_ec_get_project,
              url_et_array: this.Project.url_et_array,
              url_mc_dimensions: this.Project.url_mc_dimensions,
              url_mc_general: this.Project.url_mc_general,
              url_ed_get_results: this.Project.url_ed_get_results,
              url_sk_get_env_impact: this.Project.url_sk_get_env_impact,
              url_lmo_results: this.Project.url_lmo_results,
              url_lmo_catalogue: this.Project.url_lmo_catalogue,
              url_ed_catalogue_static_cable: this.Project.url_ed_catalogue_static_cable,
              url_ed_catalogue_dynamic_cable: this.Project.url_ed_catalogue_dynamic_cable,
              url_ed_catalogue_collection_point: this.Project.url_ed_catalogue_collection_point
          }
          const my_name = this.Name + '_' + this.ProjectStatus.entity_id
          this.saveProject(payload, my_name)

        }, 1500);
        setTimeout(() => {
          this.load_inputs()
        }, 2000);

        setTimeout(() => {
          this.$store.commit('set_GoToRunModule', false)
          this.$router.push({name: 'Farm_Info'})
        }, 2500);

      },
      saveProject(payload, name) {
        // Call the API POST method inputs which save the inputs structure into a json file
        // The API method is described in */service/api/postInputs/_init_.py
        // The file is saved in */storage
        const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/inputs`
        axios
          .post(path, payload)
      },
      saveStatus(payload, name) {
        // Call the API POST method saveStatus which save the inputs structure into a json file
        // The API method is described in */service/api/postInputs/_init_.py
        // The file is saved in */storage
        const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${name}/saveStatus`
        axios
          .post(path, payload)
          .then((res) => {
            this.ProjectStatus = res.data
          })
      },
      GetMyProjectList() {
        // Call the API GET method GetProjectsList which list the project available in *./storage
        // The API method is described in */service/api/postInputs/_init_.py
        // Only return the name of the Project for which exist name_inputs.json and name_status.json
        const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/GetProjectsList`
        axios.get(path)
          .then((res) => {
            this.esa_projects = res.data
          })
      },
      async GoToSelectedPage(name, switch_test) {
        // Gather the name of the selected project
        // Call the API GET method loadinputs which load inputs from the ProjectName_inputs.json located in *./storage
        // The API method is described in */service/api/postInputs/_init_.py
        // Send the user to Farm_Info or Endangered_Species page depending on the selected button
        this.$store.commit('set_GoToRunModule', true)
        const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/none/${name}/loadinputs`
        await axios.get(path)
          .then((res) => {
            this.Project = res.data[0]
            this.ProjectStatus = res.data[1]
          })
        this.Name = this.Project.name
        this.LoadOutputs(name)

        if (switch_test === 1) {
          this.$router.push({
            name: 'Farm_Info'
          })
        } else {
          this.$router.push({
            name: 'Endangered_Species'
          })
        }
      },
      changePage(pagename) {
        // Go to the page named pagename
        this.$router.push({
          name: pagename
        })
      },
      load_inputs() {
        const name = this.Name
        const path = `${DTOP_PROTOCOL}//esa.${DTOP_DOMAIN}/esa/${this.ProjectStatus.entity_id}/${name}/loadinputs`
        axios.get(path)
        .then((res) => {
          this.Project = res.data[0]
          this.ProjectStatus = res.data[1]
        })
      },
      openFullScreen() {
        const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
        setTimeout(() => {
          loading.close();
        }, 2000);
      },
      async getUsers() {
        return (
          await axios.get(
            `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/users`,
            DTOP_AUTH
          )
        ).data;
      }
    }
  }
</script>

<style lang="scss">

  html, body, #app {
    height: 100%;
  }

  .center_page_position {
    position: relative;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    margin-left: 15%
  }

body {
  min-width: 1300px;
  min-height: 650px;
}
</style>
