{% extends 'base.html' %}
{% from "macros/_formhelpers.html" import render_form %}

{% block header %}
  <h1>{% block title %}{{ _('Log In') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method='post'>
    {{ render_form(form) }}
    <input type="submit" value="{{ _('Log In') }}">
  </form>
{% endblock %}
