<!--
This is the Environmental and Social Acceptance module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Emma Araignous, Nicolas Michelet, Rui Duarte, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <img src="@/assets/logos/Logistics.png" alt="end spe" width="110" height="80" align="left">
    <template v-if="entitylist.length != 0">
      <template v-if="entitylist.data.length != 1">
        <br><br>
        <br><br>
        <br><br>
        <br>
        <el-alert
          type="warning"
          title="Integrated mode !"
          description="The module is running in integrated mode. All data coming from another module cannot be modified and the correspondant fields are then disabled."
          :closable="false"
          show-icon
        />
      </template>
    </template>

    <tr>
      <td class="form_lines" style="width:20%">
        <h1 class="my_h1"> Logistics Info </h1>
      </td>
      <td class="form_lines" style="width:20%; text-align:right">
        <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
      </td>
    </tr>

    <br>
    <template v-if="ProjectStatus.complexity_level === '1' || ProjectStatus.complexity_level === 1">
      <span style="font-weight:bold;font-size:20px"> This input page is not required for complexity 1 </span>

      <br>

      <el-button
        type="info"
        style="float:left"
        @click.prevent="changePage('Electrical_Info')"
      ><i class="el-icon-arrow-left" />Previous Page </el-button>

      <el-button
        type="info"
        style="float:right"
        @click.prevent="ProjectStatus.logistics_info_page = 'True';changePage('Run_Module')"
      >Next Page <i class="el-icon-arrow-right" /> </el-button>
    </template>
    <template v-else-if="ProjectStatus.complexity_level === '2' || ProjectStatus.complexity_level === 2 || ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
      <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
          <template slot="title">
            <h2 class="h2_section">
              Installation
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Number of Vessels :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.logistics_info.installation.Number_of_Vessels" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_results == 'True'" />
                </td>
                <td class="form_lines" style="width:60px" />
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px">Vessels Mean Size :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.logistics_info.installation.mean_Size_of_Vessels" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_catalogue == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [m] </span>
                </td>
              </tr>
            </table>
          </ul>

          <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px">Number of Passengers :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.installation.Number_of_passengers" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_catalogue == 'True'" />
                  </td>
                  <td class="form_lines" style="width:60px" />
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px">Measured Noise of the vessel :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.installation.measure_noise" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [dB re 1 μ Pa] </span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Measured Turbidity of the device :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.installation.measured_turbidity" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [mg/L] </span>
                  </td>
                </tr>
              </table>
            </ul>
            <ul>
              <table style="width:950px;border:none">
                <tr>
                  <td class="form_lines" style="width:130px">
                    <span style="font-weight:bold;font-size:15px">Chemical Pollutant :</span>
                  </td>
                  <td class="form_lines">
                    <el-radio-group v-model="Project.inputs_ESA.logistics_info.installation.chemical_polutant">
                      <el-radio label="bunker oil"> Bunker Oil </el-radio>
                      <el-radio label="highly toxic antifouling"> Highly Toxic Antifouling </el-radio>
                      <el-radio label="moderate toxic antifouling"> Moderate Toxic Antifouling </el-radio>
                      <el-radio label="natural antifouling"> Natural Antifouling </el-radio>
                      <el-radio label=""> None </el-radio>
                    </el-radio-group>
                  </td>
                </tr>
              </table>
            </ul>

            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:130px">
                    <span style="font-weight:bold;font-size:15px">Fuel consumption :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.installation.fuel_consumption" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_results == 'True'" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span> [kg] </span>
                  </td>
                  <td class="form_lines" />
                </tr>
              </table>
            </ul>
          </template>
        </el-collapse-item>
        <hr>

        <el-collapse-item name="2">
          <template slot="title">
            <h2 class="h2_section">
              Exploitation
            </h2>
          </template>

          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Number of Vessels :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.logistics_info.exploitation.Number_of_Vessels" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_results == 'True'" />
                </td>
                <td class="form_lines" style="width:60px" />
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px">Vessels Mean Size :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.logistics_info.exploitation.mean_Size_of_Vessels" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_catalogue == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [m] </span>
                </td>
              </tr>
            </table>
          </ul>

          <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px">Number of Passengers :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.exploitation.Number_of_passengers" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_catalogue == 'True'" />
                  </td>
                  <td class="form_lines" style="width:60px" />
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px">Measured Noise of the vessel :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.exploitation.measure_noise" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [dB re 1 μ Pa] </span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Measured Turbidity of the device :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.exploitation.measured_turbidity" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [mg/L] </span>
                  </td>
                </tr>
              </table>
            </ul>
            <ul>
              <table style="width:950px;border:none">
                <tr>
                  <td class="form_lines" style="width:130px">
                    <span style="font-weight:bold;font-size:15px">Chemical pollutant :</span>
                  </td>
                  <td class="form_lines">
                    <el-radio-group v-model="Project.inputs_ESA.logistics_info.exploitation.chemical_polutant">
                      <el-radio label="bunker oil"> Bunker Oil </el-radio>
                      <el-radio label="highly toxic antifouling"> Highly Toxic Antifouling </el-radio>
                      <el-radio label="moderate toxic antifouling"> Moderate Toxic Antifouling </el-radio>
                      <el-radio label="natural antifouling"> Natural Antifouling </el-radio>
                      <el-radio label=""> None </el-radio>
                    </el-radio-group>
                  </td>
                </tr>
              </table>
            </ul>

            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:130px">
                    <span style="font-weight:bold;font-size:15px">Fuel consumption :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.exploitation.fuel_consumption" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_results == 'True'" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span> [kg] </span>
                  </td>
                  <td class="form_lines" />
                </tr>
              </table>
            </ul>
          </template>
        </el-collapse-item>
        <hr>

        <el-collapse-item name="3">
          <template slot="title">
            <h2 class="h2_section">
              Decommissioning
            </h2>
          </template>


          <ul>
            <table style="width:900px;border:none">
              <tr>
                <td class="form_lines" style="width:150px">
                  <span style="font-weight:bold;font-size:15px">Number of Vessels :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.logistics_info.decommisioning.Number_of_Vessels" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_results == 'True'" />
                </td>
                <td class="form_lines" style="width:60px" />
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px">Vessels Mean Size :</span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.inputs_ESA.logistics_info.decommisioning.mean_Size_of_Vessels" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_catalogue == 'True'" />
                </td>
                <td class="form_lines">
                  <span> [m] </span>
                </td>
              </tr>
            </table>
          </ul>

          <template v-if="ProjectStatus.complexity_level === '3' || ProjectStatus.complexity_level === 3">
            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:150px">
                    <span style="font-weight:bold;font-size:15px">Number of Passengers :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.decommisioning.Number_of_passengers" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_catalogue == 'True'" />
                  </td>
                  <td class="form_lines" style="width:60px" />
                  <td class="form_lines" style="width:160px">
                    <span style="font-weight:bold;font-size:15px">Measured Noise of the vessel :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.decommisioning.measure_noise" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [dB re 1 μ Pa] </span>
                  </td>
                </tr>
                <tr>
                  <td class="form_lines">
                    <span style="font-weight:bold;font-size:15px">Measured Turbidity of the device :</span>
                  </td>
                  <td class="form_lines">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.decommisioning.measured_turbidity" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span> [mg/L] </span>
                  </td>
                </tr>
              </table>
            </ul>
            <ul>
              <table style="width:950px;border:none">
                <tr>
                  <td class="form_lines" style="width:130px">
                    <span style="font-weight:bold;font-size:15px">Chemical pollutant :</span>
                  </td>
                  <td class="form_lines">
                    <el-radio-group v-model="Project.inputs_ESA.logistics_info.decommisioning.chemical_polutant">
                      <el-radio label="bunker oil"> Bunker Oil </el-radio>
                      <el-radio label="highly toxic antifouling"> Highly Toxic Antifouling </el-radio>
                      <el-radio label="moderate toxic antifouling"> Moderate Toxic Antifouling </el-radio>
                      <el-radio label="natural antifouling"> Natural Antifouling </el-radio>
                      <el-radio label=""> None </el-radio>
                    </el-radio-group>
                  </td>
                </tr>
              </table>
            </ul>

            <ul>
              <table style="width:900px;border:none">
                <tr>
                  <td class="form_lines" style="width:130px">
                    <span style="font-weight:bold;font-size:15px">Fuel consumption :</span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.inputs_ESA.logistics_info.decommisioning.fuel_consumption" style="width:175px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_lmo_results == 'True'" />
                  </td>
                  <td class="form_lines" style="width:60px">
                    <span> [kg] </span>
                  </td>
                  <td class="form_lines" />
                </tr>
              </table>
            </ul>
          </template>
        </el-collapse-item>
        <hr>

      </el-collapse>

      <br>

      <el-button
        type="info"
        style="float:left;font-family:Open Sans"
        @click.prevent="changePage('Electrical_Info')"
      ><i class="el-icon-arrow-left" />Previous Page </el-button>

      <el-button
        type="info"
        style="float:right;font-family:Open Sans"
        @click.prevent="ProjectStatus.logistics_info_page = 'True';changePage('Run_Module')"
      >Next Page <i class="el-icon-arrow-right" /> </el-button>
      <template v-if="GoToRunModule === true">
        <br><br><br>
        <el-button type='info'
                style="float:right;margin-left:25px;font-family:Open Sans"
                @click.prevent="ProjectStatus.logistics_info_page = 'True';changePage('Run_Module')">Run Module Page <i class="el-icon-arrow-right"></i> </el-button>
      </template>
    </template>

    <template v-else>
      <span style="font-weight:bold;font-size:20px"> No created/loaded project </span>
    </template>
    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      dialogFormVisible: false,
      dialogFormVisible2: false
    }
  },
  computed: {
    // Load the Project, ProjectStatus from the local storage
    ...mapState(['Project', 'ProjectStatus', 'GoToRunModule', 'Name', 'entitylist']),
      Project: {
        get () {
          return this.$store.state.Project
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectAction', newValue)
        }
      },
      ProjectStatus: {
        get () {
          return this.$store.state.ProjectStatus
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectStatusAction', newValue)
        }
      }
  },
  methods: {
    changePage(pagename) {
      // Set the ProjectStatus.logistics_info_page variable to True
      // Go to the page named pagename
      this.$router.push({
        name: pagename
      })
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Logistic and maintenance operations',
        message: '<h3> Number of Vessels </h3> <span>Enter the number of vessels during installation marine operations. Information required to assess the <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#collision-risk-with-vessels" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> collision risk with the vessels</a> in installation phase.</span>' +
        '<h3> Vessels Mean Size </h3> <span>Enter mean size of vessels during installation marine operations [m]</span>' +
        '<h3> Number of Passengers </h3> <span>Total number of passengers on board during all marine operations in installation phase. Required information to assess <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/sa_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> social acceptance</a> of the project</span>' +
        '<h3> Measured Noise of the vessel </h3> <span>Maximum measured noise of vessels dunring installation phase, needed to assess modification in <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/environmental_impact_assessment.html#underwater-noise" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> underwater noise</a> due to marine operation in installation phase</span>' +
        '<h3> Measured Turbidity of the device </h3> <span>Measured turbidity during installation phase caused by marine operation [mg/L]</span>' +
        '<h3> Chemical Pollutant </h3> <span>Specifiy if any chemical pollutant has ben released in the area during installation phase.</span>' +
        '<h3> Fuel Consumption </h3> <span>Enter total consumption of fuel in installation phase [kg]. Information required to assess <a href="http://127.0.0.1:5000/static/docs/_build/html/explanation/cfp_dto.html" target="_blank" style="cursor:pointer; font-size:15px; color:blue"> carbon foorprint</a> of installation phase</span>',
        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .h2_section {
    user-select: none;
    font-size: 25px
  }

  table {
    border-collapse: collapse;
    border: 1.5px solid #444444;
    border-radius: 3px;
    background-color: #fff;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    padding: 10px 10px;
    border: 1.5px solid #444444;
    text-align: center;
  }

    th.active {
      color: #0400ff;
    }

      th.active .arrow {
        opacity: 1;
      }

body { min-width: 1300px; }

h1,h2,h3,h4 { font-family: "Rajdhani" }

span { font-family: "Open Sans" }
</style>
