<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} [ESA module]</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logos/favicon-32x32.png') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
          <a class="navbar-brand mb-0 h1" href="/">
            <img src="https://www.bretagne-vivante.org/var/storage/images/media/images/thematiques/biodiversite/mammiferes-marins/phoque-gris8/11505-1-fre-FR/Phoque-gris.jpg" width="180" height="120"  alt="">
                  Environmental and Social Assessment Module
          </a>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"-->
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/api">Documentation</a>
            </li>
          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </li> -->
        </ul>
      </div>
      <img src="https://marineenergy.biz/wp-content/uploads/2019/05/dtoceanplus-1024x768.jpg"
    width="180" height="120" align="bottom">
    </nav>


    <h2>   User inputs</h2>
<!-- User inputs -->

<form action="/api/esa" method="GET" target="_blank">
    <fieldset>
        <legend>Standalone</legend>
        <select name="standalone">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>   
        <legend>Project</legend>
        Name of your project:
        <input type="text" name="project_name">
        Write a description:
        <input type="text" name="project_description">
    </fieldset><br>

    
    <fieldset>
  <!-- Indication of the presence of endangered species in the area-->

    <legend> Endangered species </legend>
      <div class="col-xs-4">
        <div class="form-group">
        <label class="control-label"> Upload your <b>species list </b> (.json)</label>
        <input type="file" name="inputs_es" class="filestyle" data-icon="false"><br>

    <legend> Carbon Footprint </legend>
        <div class="col-xs-4">
          <div class="form-group">
          <label class="control-label"> Upload your <b>cfp inputs list </b> (.json)</label>
          <input type="file" name="inputs_cfp" class="filestyle" data-icon="false"><br>

    <legend>Social Acceptance</legend>
        enter lcoe
        <input type="text" name="LCOE">
        enter number of jobs
        <input type="text" name="Nb_people">
    </fieldset><br>
  <input type="submit" value="Submit"><br><br>
</form>
</fieldset>

  <h2>Environmental Impact Assessment</h2>
<!-- Results of EIA evaluation: Global results, per phase, per pressure-->
  <fieldset>
    <legend>Global EIA Results</legend>
    <p><a  href="/ESA/EIA/Global">Global score</a>

  <form action="/ESA/EIA/Phase" method="GET" target="_blank">
      <legend>Phase</legend>
      Choose your Phase:
      <select name="Phase">
        <option value="All">All</option>
        <option value="Installation">Installation</option>
        <option value="Exploitation">Exploitation</option>
        <option value="Disassembling">Disassembling</option>
    </select>
  <input type="submit" value="Submit"><br><br>
  </form>

  <form action="/ESA/EIA/Pressure" method="GET" target="_blank">
      <legend>Pressure</legend>
      Choose your Phase:
      <select name="Pressure">
        <option value="All">All</option>
        <option value="Collision risk">Collision</option>
        <option value="Collision risk with vessels">Collision Vessel</option>
        <option value="Energy Modification">Energy Modification</option>
        <option value="Footprint">Footprint</option>
        <option value="Reserve">Reserve effect</option>
        <option value="Reef">Reef effect</option>
        <option value="resting">Resting place</option>
        <option value="noise">Noise pollution</option>
        <option value="electrical">Electrical fields</option>
        <option value="magnetic">Magnetic fields</option>
        <option value="temperature">Temperature modification</option>
        <option value="chemical">Chemical pollution</option>
        <option value="turbidity">Turbidity</option>
    </select>
  <input type="submit" value="Submit"><br><br>
  </form>
</fieldset>

  <h2>Carbon FootPrint</h2>
  <!-- Results of CFP evaluation: Global results, per phase-->
  <fieldset>
      <legend>Global CFP Results</legend>
      <p><a  href="/ESA/CFP/Global">Global score</a></p> 
    </fieldset>
    <form action="/ESA/CFP/Phase" method="GET" target="_blank">
      <fieldset>
        <legend>Phase</legend>
        Choose your Phase:
        <select name="Phase">
          <option value="All">All</option>
          <option value="Production">Production</option>
          <option value="Installation">Installation</option>
          <option value="Exploitation">Exploitation</option>
          <option value="Disassembling">Disassembling</option>
          <option value="Treatment">Treatment</option>
      </select>
    <input type="submit" value="Submit"><br><br>
    </form>

    
  <!-- Scripts for Dropdown menu -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  

  </body>
</html>
