<nav>
  {% include "back-to-home.html" %}
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">{{ _('Log Out') }}</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">{{ _('Register') }}</a>
      <li><a href="{{ url_for('auth.login') }}">{{ _('Log In') }}</a>
    {% endif %}
  </ul>
</nav>

<!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
    </ul>
  </div>
</nav> -->
